<ng-container [formGroup]="formGroup">
  <div class="row mt-2">
    <lc-textbox class="col" label="Name" formControlName="title" [idPrefix]="idPrefix + '-title'"></lc-textbox>
  </div>
  <div class="row mt-2">
    <lc-textbox class="col" label="Link" formControlName="uri" [idPrefix]="idPrefix + '-link'"></lc-textbox>
  </div>

</ng-container>
