<div *ngIf="(marketingOrder$ | async) as marketingOrder">
  <p>
    This text should explain to the user how the task should be completed.
  </p>
  <div>
    <h4>Add Multimedia Link</h4>
    <lc-multi-media-item-form [formGroup]="addFormGroup" idPrefix="add"></lc-multi-media-item-form>
    <div class="row border-top-secondary mt-5">
      <div class="col-sm text-right">
        <button id="multimediaitem-add-link" type="button" class="btn btn-primary" [disabled]="!addFormGroup.valid"
                (click)="addLink()">Add Link
        </button>
      </div>
    </div>
  </div>
  <lc-multimedia-table [(items)]="marketingOrder.media.multimedia" (onUpdate)="updateItem($event)" (onDelete)="deleteSelected($event)"></lc-multimedia-table>

</div>
