
<div class="row w-100">
  <div class="col-auto">
    <lc-order-management-navigation></lc-order-management-navigation>
  </div>

  <!--
    HACK: This is not a good design for responsiveness
    We need to consider using FlexLayout for responsive design
  -->
  <div class="pt-3 px-3 col-3 col-sm-6 col-md-7 col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
