<h4 class="font-weight-bold">
  Order Management
</h4>
<hr class="border-light m-0">

<div class="row mt-4 px-4" *ngIf="(marketingOrder$ | async) as marketingOrder">
  <div class="col-sm-4 col-xl-4" *ngIf="marketingOrder.listing">
    <lc-listing [marketingOrder]="marketingOrder"></lc-listing>
    <lc-description [marketingOrder]="marketingOrder"></lc-description>
  </div>

  <div class="col">

    <lc-notifications></lc-notifications>

    <hr class="my-5">

    <div *ngIf="marketingOrder.getSelectedPackage()?.products as products">
      <!-- TODO - pass marketing order as single input -->
      <lc-select-product [listing]="marketingOrder.listing" [products]="products"></lc-select-product>
    </div>

    <hr class="my-5">

    <lc-photos [marketingOrder]="marketingOrder"></lc-photos>

  </div>
</div>
