<div class="card mb-4" id="listing-tile">
  <div class="w-100">
    <div id="lc-listing-photo" class="card-img-top d-block ui-rect-60 ui-bg-cover" [style.backgroundImage]="'url('+ backgroundImage +')'">
    </div>
  </div>
  <div class="card-body pb-1 flex-fill">
    <h5 id="lc-listing-address-street-unit" class="card-title">{{address?.streetAddress1 + (address.unitNumber ? ' - ' + address.unitNumber : '')}}</h5>
    <div class="card-subtitle text-muted mb-3">
      <span id=""id="lc-listing-address-city-state-zip">{{ address?.city }},&nbsp;{{ address?.state }}&nbsp;{{ address?.postalCode }}</span>
    </div>
    <div class="card-text">
      <span *ngIf="listing?.listPrice" id="lc-listing-list-price">{{listing.listPrice | currency:'USD':'symbol':'1.0-0'}}</span>
      <span *ngIf="!listing?.listPrice" id="lc-listing-list-price">Price Not Set</span>
    </div>
  </div>
  <div class="card-footer border-0">
    <a id="lc-listing-manage-details" href="javascript:void(0)" class="btn btn-outline-dark btn-block" routerLink="{{'../listing-details'}}">Manage Listing Details</a>
  </div>
</div>
