<div class="listing-card card h-100" *ngIf="order">
  <div class="w-100">
    <div class="card-img-top d-block ui-rect-60 ui-bg-cover" [style.backgroundImage]="'url(' + backgroundImage + ')'" (mouseenter)="showHover = true;" (mouseleave)="showHover = false;">
      <!-- div is only for the overlay on the image -->
      <div class="overlay d-flex justify-content-between align-items-start ui-rect-content"></div>
      <!-- archive button -->
      <div *ngIf="showHover && order?.status !== orderStatus.OPEN" class="justify-content-between d-flex ui-rect-content" >
        <button class="top-left circle-btn btn-round archive-toggle btn-outline-light" type="button" (click)="toggleArchiveOrder()">
          <i class="ion" [ngClass]="{'ion-md-eye': !order.isArchived, 'ion-md-eye-off': order.isArchived}"></i>
        </button>
      </div>
      <!-- Show trash icon for deleting orders -->
      <div *ngIf="showHover && !order.submitted" class="justify-content-between d-flex ui-rect-content" (click)="deleteOrder()">
        <button class="top-right circle-btn btn-round btn-outline-light" type="button" id="delete-order-button">
          <i class="ion ion-ios-trash trash-btn"></i>
        </button>
      </div>
      <!-- marketed as info -->
      <div class="bottom-left" *ngIf="showHover && order?.listing?.agentType !== null">
        <span *ngIf="order.listing.agentType === agentTypes.singleAgent; else multiListing" class="h5">{{order.listing.agentType}}</span>

        <!-- show dropdowns for co-listing or team info -->
        <ng-template #multiListing >
          <span *ngIf="order.listing.agentType !== agentTypes.singleAgent" class="h5" placement="bottom"
                triggers="mouseenter:click" [ngbPopover]="popoverContent">
            {{order.listing.agentType}}
          </span>
        </ng-template>

        <ng-template #popoverContent>
          <!-- Display co-listing information -->
          <div *ngIf="order.listing.agentType === agentTypes.twoAgents" class="width-to-content" id="co-list-popover">
            <div class="mb-1 align-items-center align-middle" style="display: block">
              <div class="display-inline"><img src="{{ user?.profile?.presignedPhotoUrl ? user.profile.presignedPhotoUrl : 'assets/images/user.png' }}" id="user-profile-avatar" class="profile-avatar circle-btn btn-round mr-2" alt="agent profile avatar"></div>
              <div class="display-inline"><span class="h5">{{user?.profile?.preferredFirstName + ' ' + user?.profile?.preferredLastName}}</span></div>
            </div>
            <div class="align-items-center align-middle" style="display: block">
              <div class="display-inline"><img src="{{ 'assets/images/user.png' }}" id="colist-profile-avatar" class="profile-avatar circle-btn btn-round mr-2" alt="co-listing profile avatar"></div>
              <div class="display-inline"><span class="h5">{{coListAgent?.fullName}}</span></div>
            </div>
          </div>

          <!-- Display team information -->
          <div *ngIf="(order.listing.agentType === agentTypes.team) && (teamProfile) as team" class="width-to-content" id="team-popover">
            <div class="align-items-center align-middle" >
              <div class="" style="display: inline"><img src="{{ team?.teamPhotoURL ? team?.teamPhotoURL : 'assets/images/user.png' }}" id="team-profile-avatar" class="profile-avatar circle-btn btn-round mr-2" alt="team profile avatar"></div>
              <div class="" style="display: inline"><span class="h5">{{team?.name}}</span></div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="card-body pb-1 flex-fill">
    <h5 class="card-title">{{oaddress?.streetAddress1}}{{oaddress?.unitNumber ? ' - ' + oaddress?.unitNumber : ''}}</h5>
    <div class="card-subtitle text-muted mb-3">
      {{ oaddress?.city }},&nbsp;{{ oaddress?.state }}&nbsp;{{ oaddress?.postalCode }}<br>
    </div>
    <div>
      <hr>
      <div class="float-right">
        <button class="circle-btn btn-round btn-outline-dark" type="button">
          <i class="ion ion-ios-notifications-outline notification-btn"></i>
        </button>
      </div>
      <ng-container *ngIf="selectedPackage">
        <div class="float-left mr-2">
          <!-- icon of gold/platinum/silver -->
            <img [src]="'/assets/images/marketing-package/' + selectedPackage.title.toLowerCase() + '_badge-small.svg'" />
        </div>
        <h5 class="m-0 mr-2">{{ selectedPackage?.title }}</h5>
        <div class="text-muted small">Package</div>
      </ng-container>
      <ng-container *ngIf="!selectedPackage">
        <h5 class="m-0 mr-2">None selected</h5>
      </ng-container>
    </div>
  </div>
  <div class="card-footer border-0">
    <a *ngIf="order.submitted" id="manage-order-{{order._id}}" href="javascript:void(0)" class="btn btn-outline-dark btn-block manage-order"
       (click)="routeToOrder(order)">Manage Order</a>
    <a *ngIf="!order.submitted" id="complete-order-{{order._id}}" href="javascript:void(0)" class="btn btn-outline-dark btn-block complete-order"
       (click)="routeToOrder(order)">Complete Order</a>
  </div>
</div>
