.btn-outline-light {
  border-color: white;
  color: white;

  &:hover {
    background-color: #343a40;
    border: none;
  }
}

.notification-btn {
  font-size: 1.4rem;
  vertical-align: sub;
}

.trash-btn {
  font-size: 1.4rem;
  vertical-align: sub;
}

.top-left{
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bottom-left{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.listing-card {
  button {
    cursor: pointer;
  }
}

div.card-img-top:hover > .overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .35;
}

.width-to-content {
  width: max-content;
}

.profile-avatar {
  object-fit: cover;
  object-position: 100% 0;
  width: 38px;
  height: 38px;
}

.display-inline {
  display: inline;
}
