<label [id]="idPrefix + '-label'" class="form-label" [for]="idPrefix + '-input'">{{label}}</label>
<input [id]="idPrefix + '-input'" class="form-control" [placeholder]="placeholder" type="text" [mask]="inputMask?.mask" [patterns]="inputMask?.pattern" [formControl]="formControl" [class.is-invalid]="errors" (blur)="onBlur()">
<small [id]="idPrefix + '-hint'" class="form-text text-muted">{{hint}}</small>
<small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
