<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()" *ngIf="isUserAuthenticated()">

  <!-- Brand demo (see demo.scss) -->
  <a id="home-button" routerLink="/" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
    <span class="app-brand-logo demo">
      <img src="assets/images/listing-concierge.svg" class="img-fluid">
    </span>
  </a>

  <!-- Sidenav toggle (see demo.scss) -->
  <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center ml-auto">
      <div class="demo-navbar-messages nav-item mr-lg-3">
        <a class="nav-link hide-arrow" href="javascript:void(0)">
          <i class="ion ion-md-apps navbar-icon align-middle"></i>
          <span class="d-lg-none align-middle">&nbsp; Apps</span>
        </a>
      </div>


      <lc-notifications-menu></lc-notifications-menu>


      <!-- Divider -->
      <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>

      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
        <a ngbDropdownToggle id="nav-dropdown-link" class="nav-link" href="javascript:void(0)">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <span class="px-1">{{ username }}</span>
            <img src="{{ user?.profile?.photoUrl ? user.profile.photoUrl : 'assets/images/user.png' }}" id="header-profile-avatar" class="img-avatar rounded-circle">
          </span>
        </a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
          <a id="profile-link" href="javascript:void(0)" class="dropdown-item" routerLink="/my-profile"><i class="ion ion-ios-person text-lightest"></i>
            &nbsp; My profile</a>

          <div class="dropdown-divider"></div>
          <a id="logout-link" href="javascript:void(0)" class="dropdown-item" (click)="logout()"><i class="ion ion-ios-log-out text-danger"></i>
            &nbsp; Log Out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- modal confirmation window for logging out -->
  <ng-template #logout.confirm let-c="close" let-d="dismiss">
    <div class="modal-md">
      <div class="modal-header" style="border-bottom:none" >
        <h4 class="modal-title" id="modal-title"><i class="fas fa-exclamation-circle"></i> Are you sure you want to log out?</h4>
      </div>
      <div class="modal-footer">
        <button id="cancel-btn" type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">No</button>
        <button id="signout-btn" type="button" class="btn btn-warning" (click)="c('proceed click')">Sign Out</button>
      </div>
    </div>
  </ng-template>
  <!-- end modal -->

  <!-- modal confirmation window for inactivity query -->
  <ng-template #inactivity.continue let-c="close" let-d="dismiss">
    <div class="modal-md">
      <div class="modal-header" style="border-bottom:none" >
        <h4 class="modal-title" id="modal-title"><i class="fas fa-exclamation-circle"></i> You are about to be signed out due to inactivity.</h4>
      </div>
      <div class="modal-footer">
        <button id="cancel-btn" type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Stay Signed In</button>
        <button id="signout-btn" type="button" class="btn btn-warning" (click)="c('proceed click')">Sign Out</button>
      </div>
    </div>
  </ng-template>
  <!-- end modal -->

</nav>
