
<div class="row w-100 h-100">
  <div class="col-4 col-md-auto float-left pr-0">
    <!-- <lc-my-profile-navigation></lc-my-profile-navigation> -->
  </div>

  <div class="pt-3 px-3 col-8 col-md" id="my-profile-container">
    <router-outlet></router-outlet>
  </div>
</div>


