<div class="pt-5">
  <div class="container px-3">
    <div class="row">
      <div class="d-none d-lg-block col-12 col-lg pl-lg-5">
        <lc-detail-steps></lc-detail-steps>
      </div>
      <div class="col-lg-8 col-xl-8 mb-5 mb-lg-0">
        <h1>Let's customize your package options</h1>

        <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              Content
            </div>
          </div>
          <div class="row border-top-secondary mt-5">
            <div class="col-sm">
              <button class="btn btn-secondary" onclick="window.history.back()">Back</button>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" [disabled]="false">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
