div.toolbar {
  border-bottom: 1px solid darkgray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}

div.toolbar-item {
  align-items: center;
  display: flex;
  border-right: 1px solid darkgray;
  padding-left: 1rem;
  padding-right: 2rem;
}

div.address-line-1 {
  font-weight: bold;
}

div.address-line-2 {
  font-size: smaller;
}

div.package-name {
  font-weight: bold;
  text-transform:uppercase;
}

div.package-label {
  font-size:smaller;
}
