<div *ngIf="(currentOrder$ | async) as currentOrder; else noOrder" class="container" class="row toolbar">
  <div class="row">
    <div class="col- toolbar-item">
      <div style="float:left; width: fit-content;">
        <div class="address-line-1">{{address?.streetAddress1}}{{address?.unitNumber ? ' - ' + address?.unitNumber : ''}}</div>
        <div class="address-line-2">{{address?.city}},&nbsp;{{address?.state}}</div>
      </div>

      <div style="float:left; width: 3rem;">
        <a class="btn btn-link text-left" (click)="editListingAddress(currentOrder)">
          <img src="/assets/images/edit.svg" alt="Edit">
        </a>
      </div>

    </div>

    <div *ngIf="currentOrder.getSelectedPackage() as currentPackage" class="col- toolbar-item">
      <div style="float:left; width: 3rem;">
        <img src="/assets/images/marketing-package/{{currentPackage.title.toLowerCase()}}_badge-small.svg"
             alt="{{currentPackage.title.toLowerCase()}} Badge">
      </div>

      <div style="float:left; width: fit-content;">
        <div class="package-name">{{currentPackage.title}}</div>
        <div class="package-label">Package</div>
      </div>

      <div style="float:left; width: 3rem;">
        <a class="btn btn-link text-left" (click)="editPackage(currentOrder)" id="edit-package">
          <img src="/assets/images/edit.svg" alt="Edit">
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #noOrder>
  No Order Found or Selected
</ng-template>
