<div class="container text-center">
  <div class="wrapper">
    <h3>Due to inactivity, you have been signed out of <span class="app-name">{{ appName }}</span>.</h3>
    <p class="message">
      To protect your sensitive information we recommend that you close your browser.
    </p>
    <button id="signin-button" type="button" class="btn btn-primary" (click)="login()">Sign In</button>
  </div>
</div>
