<div *ngIf="hasProductsForCategory()">
    <div class="row no-gutters row-bordered">
        <div class="col-12 bg-secondary-lighter py-2">
            <span class="text-uppercase font-weight-bold">{{category}}</span>
        </div>
    </div>

    <div class="row align-items-center" *ngFor="let product of availableProducts()">
        <div class="col-3 d-flex col-md flex-column py-4">
            <span class="text-primary font-weight-bold">{{product.title}}</span>
          <!-- TODO: Move to a <lc-checkbox> component. Had to remove Custom-control to get e2e to click on elements -->
          <div *ngIf="canOptOut">
            <label for="opt-out-photography"></label>
            <input id="opt-out-photography" type="checkbox" [(ngModel)]="product.optedOut" (change)="toggleOptOut(product)">
            <span>Use my own photography service</span>
          </div>
        </div>
        <div class="col-3 d-flex col-md flex-column py-4 text-center" *ngFor="let pkg of packages">
            <div *ngIf="productQuantity(pkg, product.code) as qtyText; else noQuantity">
                <br/>
                <div [id]="getElementId(pkg.title + '-' + product.title + '-qty')" [innerHTML]="qtyText"></div>
            </div>
            <ng-template #noQuantity>
                <i [ngClass]="packageHasProduct(product,pkg) ? 'ion ion-md-checkmark' : 'ion ion-md-close'"></i>
            </ng-template>
        </div>
    </div>

</div>
