<file-drop (onFileDrop)="handleDroppedFiles($event)" customstyle="bg-white mb-4 lc-drop-zone">
  <div *ngIf="!isProcessing">
    <div class="row">
      <div class="col-xl-12 align-content-center"><img src="/assets/images/upload-photos.png" alt="upload listing images"></div>
    </div>
    <div class="row">
      <div class="col-xl-12 align-content-center top-horiz-shim-8px">
        <input type="file" multiple class="d-none" accept="{{ this.allowedExtensionsWithDot }}" id="uploadPhotos" (change)="handleSelectedFiles($event)" />
        <button type="button" class="btn btn-secondary" (click)="chooseFiles();">Upload Photos</button>
      </div>
      <!-- start modal for photos validation error messages-->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Upload Status</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center"><b>Successful uploads</b>
                    <span class="badge badge-success">{{ successfulUploads.length }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><b>Failed Uploads</b>
                    <span class="badge badge-danger">{{ failedUploads.length }}</span>
                  </li>
                </ul>
                <h6 class="text-danger mt-4">List of failed uploads:</h6>
                <ul class="list-group scrollable-menu">
                  <li class="list-group-item " *ngFor="let msg of this.failedUploads">
                    <div [innerHTML]="msg"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- end modal -->
    </div>
    <div class="row mt-3">
      <div class="col align-content-center"><span class="text-dark">or drag them in.</span></div>
    </div>
  </div>
  <div *ngIf="isProcessing">
    <div class="col align-content-center">
      <p class="text-dark">Please wait while your photos are uploaded...</p>
    </div>
  </div>

</file-drop>

<div class="center">
  <div class="upload-table">
    <table class="table" style="width:50%; margin-left:auto; margin-right:auto">
      <tbody class="upload-name-style">
        <ng-container *ngFor="let upload of statuses">
          <tr *ngIf="!upload.error">
            <td *ngIf="upload.thumbnailUrl">
              <!-- Don't start upload until thumbnail is visible, otherwise progress bars have no context -->
              <img [src]="upload.thumbnailUrl" class="rounded mb-3" width="150" alt="">
            </td>
            <td>{{upload.fileName}}</td>
            <td width="50%">
              <ngb-progressbar type="info" [value]="upload.progress | async">
              </ngb-progressbar>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
