// Drop zone styles are defined in global style sheet
// See https://github.com/georgipeltekov/ngx-file-drop/issues/60

.content {
  color: #606060 !important;
}

.top-horiz-shim-8px {
  margin-top: 8px;
}

.top-horiz-shim-16px {
  margin-top: 16px;
}

.top-horiz-shim-24px {
  margin-top: 24px;
}
