<h4 class="media align-items-center my-4" id="notifications-tile">
  <div class="ion ion-ios-notifications-outline ui-w-60 text-center text-large"></div>
  <div class="media-body ml-1">
    Notifications
    <div class="text-muted text-tiny font-weight-light"></div>
  </div>
</h4>
