<div class="row">
  <div class="col-sm-4 col-md-6 col-lg-6">
    <h4 class="font-weight-bold">Photos & Multimedia</h4>
  </div>
</div>
<lc-tab-set [navLinks]="navLinks" [activeId]="activeId"></lc-tab-set>
