<div *ngIf="form$ | async as form" [formGroup]="form" class="container">
  <div class="row">
    <h1 class="col text-left">Modify Your Teams Information</h1>
  </div>
  <div class="row">
    <div class="col-8">
      <lc-textbox idPrefix="teamName" label="Team Name" formControlName="name"></lc-textbox>

      <div class="row">
        <!-- TODO: Michael to create a phone number input -->
      <div formGroupName="phone" class="col">
        <lc-textbox idPrefix="phone" label="Phone" formControlName="number" [inputMask]="phoneMask"></lc-textbox>
      </div>
      <lc-textbox idPrefix="website" class="col" label="Website" formControlName="websiteURL"></lc-textbox>
      </div>

      <lc-textbox idPrefix="email" label="Email" formControlName="email"></lc-textbox>
      <lc-textarea idPrefix="slogan" label="Slogan" formControlName="slogan"></lc-textarea>
    </div>
  </div>
  <div class="row align-items-center">

    <div class="col-4 mt-2">
    <lc-team-image
      [src]="profile?.teamPhoto?.photoUrl || 'assets/images/team.png'"
      canEdit="true" (edit)="onEditPhoto()"></lc-team-image>
    </div>

    <!-- Team logo -->
    <div class="col-4 mt-2">
      <!--Show team Logo URL. Else Show Upload-->
      <div *ngIf="!(editLogo || form.teamLogoURL == null); else uploadLogoTemplate" id="logo-container" class="text-center">
        <img id="team-logo" [src]="form.teamLogoURL" width="160" alt="">
        <span id="delete-logo-button" class="pointer far fa-trash-alt d-inline bottom-left" title="Delete Logo" (click)="deleteLogo()"></span>
        <span id="edit-logo-button" class="pointer fas fa-pencil-alt align-bottom" title="Edit Logo" (click)="replaceLogo()"></span>
      </div>

      <!-- Template for ShowUpload -->
      <ng-template #uploadLogoTemplate>
        <!-- File uploader -->
        <lc-file-upload *ngIf="!logoStatus" instructions="Drag your team's logo in" label="Logo image"
                        allowedExtensions="allowedExtensions" [processing]="logoStatus != null"
                        inputId="teamLogoInput" btnId="teamLogoSubmit" (uploadResult)='uploadTeamLogo($event)'></lc-file-upload>

        <!--Upload Status-->
        <div class="text-center" *ngIf="logoStatus && !logoStatus.error && logoStatus.thumbnailUrl">
          <img [src]="logoStatus.thumbnailUrl" class="rounded mb-3" width="160" alt="">
          <ngb-progressbar type="info" [value]="logoStatus.progress | async"></ngb-progressbar>
        </div>
      </ng-template>
    </div>

  </div>
  <div class="row">
    <h2 class="col text-left mt-4">Team Members</h2>
  </div>
  <div class="row">
    <div class="col text-left"><span>You are the Administrator of this team. You can transfer ownership or share with your teammates.</span></div>
  </div>
  <div class="row mt-4">
    <div class="col-1 text-left"><h6>Order</h6></div>
    <div class="col-2 text-left"><h6>Name</h6></div>
    <div class="col-2 text-left"><h6>Phone Number</h6></div>
    <div class="col-6 text-left"><h6>Email</h6></div>
    <div class="col-1 text-left"><h6>Owner</h6></div>
  </div>
  <div class="row mt-2 mb-4" [dragula]="dragulaGroup" [(dragulaModel)]="dragulaModel">
    <div class="card w-100 " *ngFor="let agent of form.get('members').value; let i = index">
      <div class="card-body">
        <div class="row">
          <div class="col-1 text-center">{{agent.position + 1}}</div>
          <div class="col-2 text-left"><strong>{{agent.agentId}}</strong><br/>{{agent.teamRole}}</div>
          <div class="col-2 text-left">{{agent.agentPhone}}</div>
          <div class="col-6 text-left">{{agent.agentEmail}}</div>
          <div class="col-1 text-right"><input type="checkbox" id="teamAdmin-{{i}}" [(ngModel)]="agent.teamAdmin" [ngModelOptions]="{standalone: true}"/></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 text-left">
      <lc-chips idPrefix="members" label="Add new team members" [options]="memberSearch$" displayPath="fullName" valuePath="fullName"
                (textChange)="searchControl.setValue($event)" (selectedChanged)="newMembers = $event" [(selectedValues)]="newMembers" emptyPlaceholder="Add new members" placeholder="Add member"></lc-chips>
    </div>
    <div class="col-2 mt-4"><button class="btn btn-secondary" id="add-members-btn" (click)="addMembers()">Add</button></div>
  </div>
  <div class="text-right mb-3">
    <button id="team-profile-cancel" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
    <button id="team-profile-save" class="btn btn-primary" (click)="onSubmit(form)">Save Changes</button>
  </div>
</div>
