/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.photo-card {
  :hover{
    .hide-icons{
      visibility: visible;
    }
  }
}

.card-img {
  display: block;
  position: relative;
  height: 0;
  padding: 66.7% 0 0 0;
  overflow: hidden;
}

.photo-grid-img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.photo-selector {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space:nowrap
}

.photo-selector-img {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  max-height: 50px;
  width: 75px;
  cursor: pointer;
  display:inline;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}

.selected-photo {
  box-shadow: 1px 1px 10px #00F;
  width: 78px;
}

.top-right {
  position: absolute;
  right: 10px;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.bottom-left{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bottom-center{
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.top-left{
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon-circle {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px black;
  padding: 0.2em 0.2em;
  background-color: white;
}

.hide-icons{
  visibility: hidden;
}

.form-control-number-sm {
  width: 56px;
}

.link:hover{
  cursor: pointer;
  text-shadow: 1px 1px 1px;
}

.carousel-item.active {
  text-align:center;
}

.photo-selector {
  margin: 0 auto;
}
