<ng-container *ngIf="photos">
  <div *ngIf="actionButtonLabel">
    <button type="submit" class="btn btn-secondary" [disabled]="!hasSelectedPhotos()" (click)="action()">{{actionButtonLabel}}</button>
  </div>
  <div *ngIf="photos.length === 0">
    <div class="text-center">
      <h5 class="text-muted font-weight-bold py-3 my-4">{{noPhotosText}}</h5>
    </div>
  </div>
  <div *ngIf="photos.length > 0">
    <div>
      <div class="d-flex justify-content-between flex-wrap">
        <div class="mr-auto">
          <ng-container *ngIf="selectEnabled">
            <span class="mr-4">
              <input id="select-all" type="checkbox" (click)="selectAll($event)" [(ngModel)]="isAllSelected" />
              <label class="ml-4" for="select-all">SELECT ALL</label>
            </span>
          </ng-container>
          <ng-container *ngIf="downloadEnabled">
          <span class="d-none d-md-inline">
            <i class="fa fa-download"></i> DOWNLOAD <span class="d-none d-lg-inline-block"> SELECTED</span>:
            <button id="hi-res-download" class="btn btn-link px-2" type="button" [disabled]="!hasSelectedPhotos()" (click)="highLowRes('highRes')">HIGH RES</button>
            |<button id="low-res-download" class="btn btn-link px-2 ml-sm-1" type="button" [disabled]="!hasSelectedPhotos()" (click)="highLowRes('lowRes')">LOW RES</button>
          </span>
          </ng-container>
          <ng-container *ngIf="deleteEnabled">
          <span class="ml-md-4 d-md-inline d-sm-block">
            <i class="fa fa-trash"></i>
            <button id="delete-selected" class="btn btn-link px-2" type="button" [disabled]="!hasSelectedPhotos()" (click)="deleteSelected()"> DELETE SELECTED</button>
          </span>
          </ng-container>
        </div>
        <div>
          <ng-container *ngIf="favoritesEnabled">
          <span>
            <button id="favorites-filter" type="button" (click)="toggleShowFavorites()" class="btn btn-link">FAVORITES </button>
            <i class="fa fa-heart"></i> <span id="favorites-count" class="badge">{{numberOfFavorites}}</span>
          </span>
          </ng-container>
          <span class="ml-md-3 d-none d-md-inline">
            <a class="button" (click)="set4x4()" id="set-4x4-grid-button"><span class="fa fa-th"></span></a>
            <a class="button ml-1" (click)="set2x2()" id="set-2x2-grid-button"><span class="fa fa-th-large"></span></a>
          </span>
        </div>
      </div>
    </div>
    <!-- .photo-container css class is for cucumber testing only.  Does not affect UI implementation -->
    <div class="row photo-container" [dragula]='dragDropEnabled ? dragulaGroup : null' [(dragulaModel)]="photoDisplays">
      <ng-container *ngFor="let photoDisplay of photoDisplays; let i = index">
        <div id="photo-{{photoDisplay.photo.order}}" class="mt-3 mb-3 photo" [ngClass]="{'col-lg-3 col-md-4 col-sm-6': useFourWideGrid, 'col-lg-6': !useFourWideGrid, 'd-none': hidePhoto(photoDisplay.photo) }">
          <div class="card photo-card">

            <!-- Main card Image -->
            <div class="card-img">
              <img #img id="img-{{photoDisplay.photo.order}}" [lcPresignedPhoto]="photoDisplay.photo" [size]="thumbnailSize" [fallbackSize]="fallbackThumbnailSize" class="photo-grid-img">
            </div>

            <div [id]="'photo-'+photoDisplay.photo.order+'-clickable'" (click)="open(photoGallery, photoDisplay.photo.order, $event)" class="card-img-overlay p-2">

              <!-- Favorites Button -->
              <div *ngIf="favoritesEnabled" [ngClass]="{ 'd-none': hideFavoritesButton(photoDisplay.photo), 'top-right d-inline': !hideFavoritesButton(photoDisplay.photo) }">
                <a [id]="'photo-favorite-'+photoDisplay.photo.order+'-clickable'" class="clickable" (click)="toggleFavorite(photoDisplay.photo, $event)">
                  <img [src]="photoDisplay.photo.favorite ? 'assets/images/fav_on_icon.svg' : 'assets/images/fav_off_icon.svg'">
                </a>
              </div>

              <!-- Photo Order Spinner -->
              <div *ngIf="numberOrderingEnabled" class="d-inline bottom-right">
                <div>
                  <span [hidden]="photoDisplay.isEditNumber" id="order-{{photoDisplay.photo.order}}" class="badge badge-dark text-bottom" (click)="onEditPhotoNumber(photoDisplay, $event)">{{photoDisplay.photo.order}}</span>
                  <input [hidden]="!photoDisplay.isEditNumber" id="order-input-{{photoDisplay.photo.order}}" type="number" min="1" [max]="photoDisplays?.length"
                         (blur)="setPhotoOrder(photoDisplay, $event)" (click)="$event.stopPropagation()" (keyup)="setPhotoOrder(photoDisplay, $event)"
                         [(ngModel)]="photoDisplay.photo.order" class="form-control-number-sm" />
                </div>
              </div>

              <!-- Download Button -->
              <div *ngIf="downloadEnabled" class="d-inline hide-icons bottom-left" (click)="downloadImage(img.src, $event)">
                <div>
                  <span class="icon-circle fa fa-download"></span>
                </div>
              </div>

              <!-- Checkbox Photo -->
              <div *ngIf="selectEnabled" class="d-inline top-left">
                <div >
                  <!-- .select-img css class is for cucumber testing only.  Does not affect UI implementation -->
                  <input type="checkbox" class="select-img" id="{{ photoDisplay.photo._id }}" name="select_photos" [(ngModel)]="photoDisplay.isSelected" (click)="$event.stopPropagation()" (change)="updateSelectAll()" />
                </div>
              </div>

              <!-- Delete Button -->
              <div *ngIf="deleteEnabled" class="d-inline hide-icons bottom-center" (click)="deletePhoto(photoDisplay.photo, $event)">
                <div>
                  <span class="icon-circle fa fa-trash"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #photoGallery let-modal class="photo-modal">

      <div class="modal-header">
        <span class="text-muted text-big" id="modal-basic-title">{{marketingOrder?.listing?.formatAddress()}}</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <ngb-carousel #photoCarousel [interval]="3600000" [activeId]="'photo-'+selectedPhotoOrder" [pauseOnHover]="true"
                      [showNavigationArrows]="true" (slide)="slideChanged($event)">

          <ng-template ngbSlide *ngFor="let photo of photos" id="photo-{{photo.order}}">
            <img [lcPresignedPhoto]="photo" [size]="mediumThumbnailSize"  class="img-fluid" alt="Photo {{photo.order}}">
          </ng-template>

        </ngb-carousel>

      </div>
      <div class="modal-footer">
        <div class="photo-selector">
          <a *ngFor="let photo of photos" (click)="select(photo.order, $event.target)">
            <img [lcPresignedPhoto]="photo" [size]="mediumThumbnailSize" id="photo-button-{{photo.order}}"
                 [ngClass]="{'photo-selector-img selected-photo': isSelectedPhoto(photo),
                                'photo-selector-img': !isSelectedPhoto(photo)}">
          </a>
        </div>
      </div>
    </ng-template>
  </div>
</ng-container>
