<div class="input-group">
  <label class="form-label date-input-label" [for]="idPrefix + '-input'">{{label}}</label><br/>
  <input class="form-control readonly-white"
         type="text"
         [id]="idPrefix + '-input'"
         [name]="idPrefix"
         [placeholder]="placeholder"
         [class.is-invalid]="errors"
         [readonly]="true"
         [formControl]="formControl"
         ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()"/>
  <div class="input-group-append">
    <button class="calendar" (click)="d.toggle()" type="button" style="height: 38px;"><i class="icon ion-md-calendar"></i></button>
  </div>
  <small [id]="idPrefix + '-hint'" class="form-text text-muted">{{hint}}</small>
  <small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
</div>
