<div class="bg-white container-m--x container-m--y mb-4">
  <div class="media align-items-stretch col-md-10 col-xl-8 pb-2 mx-auto pt-4">
    <div class="media-body p-4 p-lg-5 col-md-6">
      <h2 class="mb-3">
        Welcome {{ username }}!
      </h2>
      <div class="text-muted text-big">
        <p>Proving your value just got easier.</p>
        <p>Create impactful, creative property marketing in minutes with Listing Concierge –
          demonstrating the clear, powerful advantage you offer sellers.</p>
        <p>Get started by adding a new order today!</p>
      </div>
    </div>
  </div>
</div>

<lc-listing-card-container [orders]="orders"></lc-listing-card-container>

<lc-auth-info></lc-auth-info>
