<div class="container">

  <div class="d-flex flex-wrap align-items-center w-100 font-weight-bold pt-2 mb-4">
    <div class="col-5 col-md-2 pl-0 pt-2"><h4 class="px-0 pb-2 mb-0" id="my-listings-header">My Listings</h4></div>
    <div class="col-12 col-md-5 px-0 pt-1 order-2 order-md-1">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
    <div class="col-7 col-md-3 order-1 order-md-2">
      <lc-dropdown idPrefix="marketedAs" label="Marketed As" [options]="marketedByOptions" displayPath="display" valuePath="value" [(ngModel)]="agentTypeFilter" (change)="filterOrders()" ></lc-dropdown>
    </div>
    <div class="col-7 col-md-2 order-1 order-md-2 pb-3">
      <label class="form-label" id="listingActivity-label" for="listingActivity">Listing Activity</label>
      <ul class="nav float-left" id="listingActivity">
        <li class="nav-item">
          <a id="show-non-archived-button" class="nav-link text-muted px-1 pr-2" href="javascript:void(0)" (click)="showArchived()" [ngClass]="{'text-dark font-weight-bold': !archived}"><i class="ion ion-md-eye"></i> Active</a>
        </li>
        <li class="nav-item">
          <a id="show-archived-button" class="nav-link text-muted px-1 pl-2" href="javascript:void(0)" (click)="showArchived()" [ngClass]="{'text-dark font-weight-bold': archived}"><i class="ion ion-md-eye-off"></i> Hidden</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
      <a id="add-new-listing-link" routerLink="/listing/add-new-listing" class="card mb-4 w-100" style="min-height: 320px;">
        <div class="card-body d-inline-flex flex-fill justify-content-center align-items-center text-center">
          <div class="display-2"><img src="/assets/images/add-new.svg" class="btn btn-link" />
            <h3 class="card-title text-dark">Add new order</h3>
          </div>
        </div>
      </a>
    </div>

    <ng-container *ngFor="let order of displayedOrders">
        <!-- TODO change ngIf expression to display based on status and user's selections on page -->
      <div class="col-sm-6 col-md-4 col-lg-3 d-flex mb-4">
        <lc-listing-card class="w-100" [order]="order" (updated)="filterOrders()"></lc-listing-card>
      </div>
    </ng-container>
  </div>

</div>
