<div>
  <div *ngIf="items?.length ;else noMultiMedia">
    <div class="row">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="col mr-auto">
          <label class="d-none d-md-inline mr-md-4 custom-control custom-checkbox" *ngIf="selectEnabled">
            <input id="select-all-multimedia-items" class="custom-control-input" type="checkbox" (click)="toggleAll()" [checked]="allSelected">
            <span class="custom-control-label">SELECT ALL</span>
          </label>
          <span class="ml-md-4 d-md-inline d-sm-block" *ngIf="deleteEnabled">
            <button id="delete-selected-multimedia-items" class="btn btn-link px-2" type="button" [disabled]="noneSelected" (click)="deleteSelected()"><i class="fa fa-trash"></i> DELETE SELECTED</button>
          </span>
        </div>
      </div>
    </div>
    <table id="multimedia-table" class="table">
      <thead class="d-none">
        <tr>
          <th scope="col" id="name-header">Name</th>
          <th scope="col" id="link-header">Link</th>
          <th scope="col" id="date-header">Date</th>
          <th scope="col" id="agent-header">Agent</th>
          <th scope="col" id="actions-header">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vm of viewModels; let i = index">

          <td scope="col" class="name-cell pl-0">
            <lc-checkbox idPrefix="multimedia-title-{{i}}" [label]="vm.item.title" [(ngModel)]="vm.isSelected" (change)="onSelectionChanged()"></lc-checkbox>
          </td>

          <td scope="col" class="link-cell">
            <a id="uri-multimedia-item-list-{{i}}" [href]="vm.item.uri" target="new">{{vm.item.uri}}</a>
          </td>
          <td scope="col" class="date-cell">{{vm.item.audit.updatedAt | date: 'dd/MM/yy HH:mm'}}</td>
          <td scope="col" class="agent-cell">{{vm.item.audit.updatedByFullName}}</td>
          <td scope="col" class="actions-cell" class="text-right" *ngIf="editEnabled">
            <a id="edit-multimedia-item-list-{{i}}" (click)="open(edit, vm.item)" class="clickable edit-multimedia-item"><i class="ion ion-md-create"></i></a>
          </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noMultiMedia>
    <p>
      No Multimedia
    </p>
  </ng-template>


  <ng-template #edit let-modal>
    <div id="edit-dialog" class="modal-content">
      <div class="modal-header">
        <h4>Edit</h4>
      </div>
      <div class="modal-body">
        <lc-multi-media-item-form [formGroup]="formGroup" idPrefix="update"></lc-multi-media-item-form>
      </div>
      <div class="modal-footer">
        <button id="multimedia-cancel-button" type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
        <button id="multimedia-update-button" type="button" class="btn btn-primary" [disabled]="!formGroup.valid" (click)="doUpdate()">Update</button>
      </div>
    </div>
  </ng-template>
</div>
