<lc-step-content *ngIf="(marketingOrder$ | async) as marketingOrder" [canClickNext]="true"
                 (next)="onSubmit(marketingOrder)" (back)="goBack()">
  <h1>Select your photography upgrades</h1>

  <form>
    <lc-card-options idPrefix="upgrades" [autoDeselect]="false" [maxSelect]="maxOptionsSelectable" label="You can pick {{ maxOptionsSelectable - selectedOptions.length }} more upgrade(s)" [options]="availableOptions" (selected)="updateSelection($event)"></lc-card-options>
  </form>

</lc-step-content>
