<div *ngIf="product" class="pb-3">
  <div>
    <h4 class="font-weight-bold">{{product.title}}</h4>
    <strong>Customize your content</strong>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-6 col-lg-6">
      <ngb-tabset (tabChange)="tabChange($event)" class="previewtabset" [activeId]="activeId">
        <ng-container *ngFor="let navLink of navLinks">
          <ngb-tab title="{{navLink.label}}" id="{{navLink.id}}">
          </ngb-tab>
        </ng-container>
      </ngb-tabset>
      <router-outlet></router-outlet>
    </div>

    <div class="col-sm-8 col-md-6 col-lg-6 d-flex flex-column" [ngSwitch]="product.selectedTemplate.mimeType">
      <ng-container *ngSwitchCase="'application/pdf'">
        <lc-print-preview [product]="product"></lc-print-preview>
      </ng-container>
      <ng-container *ngSwitchCase="'text/html'">
        <lc-print-preview [product]="product"></lc-print-preview>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h5>Preview not implement yet for mimeType: {{product.selectedTemplate.mimeType}}</h5>
      </ng-container>
    </div>
  </div>
</div>
