<div class="">
  <div class="">
    <div class="frontside">
      <img class=" img-fluid" src="/assets/images/no-photo.png" alt="card image">
      <div class="card" [ngClass]="{'bg-secondary': !product.status}">
        <div class="card-body text-center">
          <h4 class="card-title">{{ product?.title }}</h4>
          <hr>
            <p class="card-text">
              Description: {{ product?.description }}<br>
              Quantity: {{ product?.unitQuantity }}<br>
              <span *ngIf="product.serviceStatus">Status: {{ product?.serviceStatus }}</span>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

