<div>
  <div class="container px-3" *ngIf="(orderState$ | async) as orderState">
    <div class="row">
      <div class="col-12 col-lg pl-lg-5 mt-5 mb-4">
        <h1>{{orderState.getCurrentStep().data.header1}}</h1>
        <h5>{{orderState.getCurrentStep().data.header2}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 pl-lg-5">
        <lc-order-steps [orderState]="orderState"></lc-order-steps>
      </div>
    </div>
  </div>
</div>
