<div class="container">

  <!-- Header -->
  <div class="my-5">
    <h4>This is your Team!</h4>
  </div>

  <h5 class="mb-0 mt-5">Contact Team Information</h5>
  <hr class="my-1">
  <div class="row">
    <div id="team-contact-information" class="col">
      <span class="font-weight-bold">{{team.name}}</span>
      <span>{{team.phone.number | phone}}</span>
      <span>{{team.email}}</span>
      <span class="font-italic">{{team.slogan}}</span>
    </div>

    <div class ="col align-self-center">
      <button class="btn btn-secondary float-right" (click)="onEdit()">Edit</button>
    </div>
  </div>


  <h5 class="mb-0 mt-5">Contact Products Configuration</h5>
  <hr class="my-1">
  <span> Set the information you want to display on your Products and Services</span>
  <div id="contact-preference-card" class="card mt-4">
    <div class="card-body row" style="height: 200px"> <!--TODO: Remove height as this is only for mockup-->

    </div>
  </div>

  <button class="btn btn-secondary float-right mt-5" (click)="onEditContacts()">Edit</button>
</div>
