<div class="h-100 border-right" *ngIf="(marketingOrder$ | async) as marketingOrder">

  <!--Go to Listing Button-->
  <div class="py-3 px-4">
    <button id="my-listings-btn" type="button" class="btn btn-default"  [ngClass]="isExpanded ? 'btn-default' : 'btn-sm'" [routerLink]="myListNav">
      <i class="ion ion-md-apps"></i>
      <span *ngIf="isExpanded" class="ml-2">{{myListLabel}}</span>
    </button>
  </div>

  <!--Listing Button Divider-->
  <hr class="border-light mx-4 mt-0 mb-0">

  <!--Address Information-->
  <div class="pt-3 pl-5" *ngIf="isExpanded">
    <address *ngIf="marketingOrder?.listing?.address as address">
      <strong>{{ address?.streetAddress1 }}{{address?.unitNumber ? ' - ' + address?.unitNumber : ''}}</strong>
      <br> {{ address?.city }}, {{ address?.state }} {{ address?.postalCode }}
    </address>
  </div>

  <!--Address Divider-->
  <hr class="border-light mx-4 mt-0 mb-0" *ngIf="isExpanded">

  <!--Selected Package-->
  <div *ngIf="isExpanded && marketingOrder?.getSelectedPackage() as currentPackage" class="pt-2 pb-2 pl-5">
    <div class="row">
      <div class="col-auto">
        <img src="/assets/images/marketing-package/{{currentPackage.title.toLowerCase()}}_badge-small.svg"
          alt="{{currentPackage.title.toLowerCase()}} Badge">
      </div>
      <div>
        <div class="package-name">{{currentPackage.title}}</div>
        <div class="package-label">Package</div>
      </div>
    </div>
  </div>

  <!--Selected Package Divider-->
  <hr class="border-light mx-4 mt-0 mb-0">

  <div *ngFor="let tab of tabs">
    <a class="nav-button btn btn-default btn-block {{tab.isSelected ? 'selected' : ''}}" [ngClass]="isExpanded ? 'text-left' : 'text-center'" routerLink="{{tab.path}}">
      <div class="ui-w-20 d-inline-block text-center">
        <img [src]="tab.svgPath">
      </div>
      <span *ngIf="isExpanded" class="ml-2">{{tab.label}}</span>
    </a>
  </div>

  <hr class="border-light mx-4 mt-0 mb-0">
  <div class="pb-3 row justify-content-end">
    <button class="btn btn-link text-sm text-muted" (click)="isExpanded = !isExpanded">
      <span *ngIf="!isExpanded">Expand</span>
      <div class="ion mx-2" [ngClass]="isExpanded ? 'ion-ios-arrow-back' : 'ion-ios-arrow-forward'"></div>
      <span *ngIf="isExpanded">Collapse</span>
    </button>
  </div>
</div>
