
.nav-button {
  min-width: 0px;
  border-radius: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0px 6px;

  &.selected {
    border-left-color: grey;
    background-color:rgb(225, 225, 225);
  }
}

#my-listings-btn {
  min-width: 0px;
}

a {
  text-align: right;
  background: #ffffff;
  border-collapse: collapse;
  color:dimgrey;
}

a.selected {
  color: black;
  font-weight: bold;
}


div.package-name {
  font-weight: bold;
  text-transform:uppercase;
}

div.package-label {
  font-size:smaller;
}

