<div class="bg-whitecontainer-m--x container-m--y mb-4 mt-1" *ngIf="(photoOrders$ | async) as photoOrders">
  <div class="row">
    <div class="col-md-10 col-xl-8 pb-2 mx-auto">
      <h1>Photography Appointment Requests for {{photographerName}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-xl-8 pb-2 mx-auto">
      <h5>Appointment requests list</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-xl-8 pb-2 mx-auto">
      <table id="appointments-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Agent</th>
            <th>Scheduled</th>
            <th>Property Address</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let photoOrder of photoOrders">
            <td *ngIf="isStarted(photoOrder)">
              <a [routerLink]="['/manage-media', photographerId, photoOrder._id]" [queryParams]='{photographerName: photographerName}'>
                {{ photoOrder.photoOrderId }}
              </a>
            </td>
            <td *ngIf="!isStarted(photoOrder)">
              {{ photoOrder.photoOrderId }}
            </td>
            <td>{{ photoOrder.orderedAt | date:'shortDate' }}</td>
            <td>{{ photoOrder.agentName }}</td>
            <td>{{ photoOrder.appointment.scheduledAt | date:'short' }}</td>
            <td>{{ photoOrder.propertyAddress.streetAddress1 }}{{ photoOrder.propertyAddress.unitNumber ? ' ' + photoOrder.propertyAddress.unitNumber : '' }}, {{ photoOrder.propertyAddress.city }}, {{ photoOrder.propertyAddress.state }}</td>
            <td>{{ photoOrder.status | photoOrderStatus }}</td>
            <td *ngIf="notStarted(photoOrder)"><button type="submit" class="btn btn-primary start-button" (click)="start(photoOrder)">START</button></td>
            <td *ngIf="isStarted(photoOrder)"><button type="submit" class="btn btn-primary" (click)="complete(photoOrder)">COMPLETE</button></td>
            <td *ngIf="isDone(photoOrder)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row border-top pt-4">
    <div class="col-md-10 col-xl-8 pb-2 mx-auto">
      <button id="back-button" type="submit" class="btn btn-secondary" (click)="toPhotographers()">Back to Photographers</button>
    </div>
  </div>
</div>
