@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

#edit-logo-button {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: -12px;
  margin-bottom: -12px;
  cursor: pointer;
}

#delete-logo-button {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: -12px;
  cursor: pointer;
}

.trashcan-bottom-left {
  position: absolute;
  bottom: -11px;
}

.profile-img-container i {
  position: relative;
  top: 40px;
  left: -10px;
  transform: translate(-45%, -45%);
}

.circle-icon {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
}

.cropper-preview{
  background-color:#d4dbe3;
  height: 290px;
  width:270px;
}

.container-fluid {
  border: 1px solid #696969;
  background-color: #fafafa;
  margin-top: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-avatar {
  object-fit: cover;
  object-position: 100% 0;
  width: 100px;
  height: 100px;
}

.pointer {
  cursor: pointer;
}

.prefix-toggle-on {
  background-color: $cb-blue;
  color: white;
}

@media screen and (max-width: 1000px) {
  .container-fluid {
    width: 420px;
  }
}

@media screen and (max-width: 470px) {
  .container-fluid {
    width: 370px;
  }

}

@media screen and (max-width: 375px) {
  .container-fluid {
    width: 335px;
  }
}
