<div class="row justify-content-center pg">
  <div class="col-md-6" *ngIf="(profile$ | async) as profile">
    <div class="form-group row justify-content-left">
      <div class="header col-12 clearfix">
        <h4 id="form-header" class="float-left">My Profile</h4>
        <div class="media align-items-center py-3 mb-3">
          <div class="media align-items-center mt-3 profile-img-container">
            <lc-avatar-image
              [src]="myProfileForm.get('photoUrl').value ? myProfileForm.get('photoUrl').value : 'assets/images/user.png'"
              canEdit="true" (edit)="onEditPhoto()"></lc-avatar-image>

            <div class="media-body ml-3">
              <h4 class="font-weight-bold">
                {{ profile.preferredFirstName }}
                {{ profile.preferredLastName }}
              </h4>
            </div>
          </div>
          <!-- end -->
        </div>
      </div>
    </div>

    <div>
      <form [formGroup]="myProfileForm" (ngSubmit)="onSubmit()" class="mt-2">
        <!-- First Name / Last Name-->
        <div class="row">
          <lc-textbox class="col" idPrefix="first-name" label="First Name" formControlName="preferredFirstName"></lc-textbox>
          <lc-textbox class="col" idPrefix="last-name" label="Last Name" formControlName="preferredLastName"></lc-textbox>
        </div>

        <!-- Office / License -->
        <div class="row ">
          <div class="col">
            <label class="form-label" for="office">Office*</label>
            <input type="text" class="form-control" disabled id="office" placeholder="Office Location" value="{{profile?.commonProfile?.shippingAddress?.formattedAddress}}">
          </div>
          <div class="col">
            <label class="form-label" for="licenseNumber">License Number*</label>
            <input type="number" min="0" class="form-control" id="licenseNumber" placeholder="xxxxxxxxxx" disabled value="{{ profile?.commonProfile?.licenseNumber }}">
          </div>
        </div>

        <div class="row mt-4">
          <h5 class="col mb-0">Phone Number</h5>
        </div>

        <div class="row" [formGroup]="phoneNumber" *ngFor="let phoneNumber of myProfileForm.get('phoneNumbers').controls; let i = index;">
          <lc-textbox  class="col-8" idPrefix="phone-{{i}}" [label]="priorityDisplayMap[i]" formControlName="number"  [inputMask]="phoneMask" placeholder="000.000.0000"></lc-textbox>
          <lc-dropdown class="col-4" idPrefix="type-{{i}}" label="Type" [options]="phoneTypes" formControlName="type" emptyOptionDisplay="Select Type" emptyOptionValue="null"></lc-dropdown>
        </div>

        <div class="row">
          <lc-textbox class="col" type="email" idPrefix="email" label="Email Address" formControlName="preferredEmail"></lc-textbox>
        </div>
        <div class="row">
          <lc-textbox class="col" type="email" idPrefix="website" label="Website" formControlName="website"></lc-textbox>
        </div>
        <!-- Agent logo -->
        <div class="row mt-4">
          <div class="col">
            <!--Show agent Logo URL. Else Show Upload-->
            <div *ngIf="!(editLogo || myProfileForm.logoUrl == null); else uploadLogoTemplate" id="logo-container" class="text-center">
              <span id="delete-logo-button" class="pointer far fa-trash-alt d-inline trashcan-bottom-left" title="Delete Logo" (click)="deleteLogo()"></span>
              <img class="mr-2" id="agent-logo" [src]="myProfileForm.logoUrl" height="100" alt="">
              <img src="/assets/images/CB_NRT.png" id="nrt-logo" height="100" alt="CB NRT logo">
              <span id="edit-logo-button" class="pointer fas fa-pencil-alt align-bottom" title="Edit Logo" (click)="replaceLogo()"></span>
            </div>

            <!-- Template for ShowUpload -->
            <ng-template #uploadLogoTemplate>
              <!-- File uploader -->
              <lc-file-upload *ngIf="!logoStatus" instructions="Drag your logo in" label="Your logo"
                              allowedExtensions="allowedExtensions" [processing]="logoStatus != null"
                              (uploadResult)='uploadLogo($event)'></lc-file-upload>

              <!--Upload Status-->
              <div class="text-center" *ngIf="logoStatus && !logoStatus.error && logoStatus.thumbnailUrl">
                <img [src]="logoStatus.thumbnailUrl" class="rounded mb-3" width="320" alt="">
                <ngb-progressbar type="info" [value]="logoStatus.progress | async"></ngb-progressbar>
              </div>
            </ng-template>
          </div>
        </div>
        <br>
      </form>
    </div>
    <div class="text-right">
      <button id="profile-cancel" type="button" class="btn btn-default mr-2" (click)="resetProfileForm()">Cancel</button>
      <button id="profile-submit" type="submit" [disabled]="!myProfileForm.dirty" class="btn btn-outline-dark btn-primary" (click)="onSubmit()">Update Profile</button>
    </div>

    <div class="card-body container-fluid ">
      <div class="d-flex align-items-center">
        <div class="display-4 lock">
          <i class="fal fa-lock"></i>
        </div>
        <div class="ml-3">
          <div class="text-small">* These fields are received from Trident and can only be modified there. Please
            contact your office administrator for assistance.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
