<div class="container text-center pt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">
        We received your order!
      </h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="text-center">
        The Listing Concierge Team will start working on your order soon.
      </h2>
    </div>
  </div>
  <div class="row txt-center mt-5" *ngIf="(this.marketingOrder$ | async) as marketingOrder">
    <div class="col">
      <button id="manage-order-button" class="btn btn-outline-dark mb-2" type="button" (click)="manageOrder(marketingOrder)">Manage Order</button>
    </div>
  </div>
</div>
