@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";
.ui-icon-relative {
  position: relative;
}

.ui-icon-workflow-bullet {
  margin-top: .125rem;
  width: 10px;
  height: 10px;
  font-size: 14px;
}

.detail-list-group-item {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.text-disabled {
  color: $storm !important;
}

.btn-disabled {
  opacity: .65 !important;
}

.btn-inactive {
  background-color: $storm !important;
  opacity: .65 !important;
}
