<div class="list-group-item detail-list-group-item media d-flex border-0 pl-0">
  <div class="ui-icon ui-icon ui-icon-relative ui-icon-workflow-bullet bg-secondary border-0 text-white bg-primary"
       [ngClass]="{'btn-disabled': (currentStep.id !== step.id && step.parent.started),
          'btn-inactive': (currentStep.id !== step.id && !step.parent.started)}">
  </div>
  <div class="media-body line-height-condenced ml-3">
    <h6 class="mb-1" [ngClass]="{'text-disabled': (currentStep.id !== step.id)}">{{step.displayName}}</h6>
  </div>
</div>
