
i {
  position: relative;
  top: 40px;
  left: -10px;
  transform: translate(-45%, -45%);
}

.img-avatar {
  object-fit: cover;
  object-position: 100% 0;
  width: 100px;
  height: 100px;
}

.circle-icon {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
}
