<div class="card mb-4 px-4" *ngIf="marketingOrder" id="property-description-tile">
  <h4 class="card-title media align-items-center mb-2 mt-2">
    <div class="ion ion-md-paper text-large mr-3"></div>
    <div class="media-body ml-1">
      Property Description
      <div class="text-muted text-tiny font-weight-light">
        Let's add a nice description to use on your products
      </div>
    </div>
  </h4>

  <hr class="border-light mt-0 mb-0">
  <div class="card-body px-0">
    <div *ngIf="marketingOrder?.marketingCopyBody[0]">
      <h4 class="card-title text-truncate">
        {{marketingOrder.marketingCopyHeadline[0]}}
      </h4>
      <p class="block-with-text">
        {{marketingOrder.marketingCopyBody[0]}}
      </p>
    </div>

    <div class="mb-4 text-center" *ngIf="!marketingOrder?.marketingCopyBody[0]">
      <div>
      <h4 class="text-lighter mt-5">
        No description added
      </h4>
      </div>
    </div>
  </div>


  <div class="card-footer border-0">
    <a class="btn btn-outline-dark btn-block" routerLink="{{'/manage-order/' + (marketingOrder$ | async)?._id + '/property-description/'}}">Manage Property Description</a>
  </div>

</div>
