
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Upload Status</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h6 class="text-danger">Failed upload(s):</h6>
      <ul class="list-group scrollable-menu">
        <li class="list-group-item " *ngFor="let message of failedMessages">
          <div [innerHTML]="message"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="upload-failed-btn" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="onClose()">OK</button>
  </div>
</div>


