<div *ngIf="(photoOrder$ | async) as order">
  <p>
    This text should explain to the user how the task should be completed.
  </p>
  <div>
    <h4>Add Multimedia Link</h4>
    <lc-multi-media-item-form [formGroup]="addFormGroup" idPrefix="add"></lc-multi-media-item-form>
    <div class="row border-top-secondary mt-5">
      <div class="col-sm text-right">
        <button id="multimediaitem-add-link" type="button" class="btn btn-primary" [disabled]="!addFormGroup.valid"
                (click)="addLink(order)">Submit Multimedia
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="order.media">
    <lc-multimedia-table deleteEnabled="false" selectEnabled="false" editEnabled="false" [(items)]="order.media.multimedia" (onUpdate)="updateItem(order, $event)"></lc-multimedia-table>
  </div>
</div>
