.container {
  padding: 5% 0;
  margin-bottom: -58px;

  .wrapper {
    padding: 10% 0;
    width: 50%;
    margin: 0 25%;

    .app-name {
      text-transform: lowercase;
    }

    .message {
      margin: 15px 0 30px;
    }
  }
}
