<label *ngIf="label" class="form-label" for="uploadPhotos">{{label}}</label>
<file-drop (onFileDrop)="handleDroppedFiles($event)" customstyle="bg-white mb-4 lc-drop-zone">
  <div *ngIf="!processing">
    <div class="row">
      <div class="col-12 align-content-center"><img src="/assets/images/upload-photos.png" alt="upload images"></div>
    </div>
    <div class="row mt-2">
      <div class="col-12 align-content-center"><span class="text-dark">{{instructions}}<br/>or</span></div>
    </div>
    <div class="row mt-2">
      <div class="col-12 align-content-center">
        <input type="file" multiple class="d-none" [accept]="allowedExtensions" id="{{inputId || 'uploadPhotos'}}" (change)="handleSelectedFiles($event)" />
        <button type="button" class="btn btn-secondary" id="{{btnId || 'chooseFileButton'}}" (click)="chooseFiles();">Upload</button>
      </div>
    </div>
  </div>
  <div *ngIf="processing">
    <div class="col align-content-center">
      <p class="text-dark">Please wait while upload the file(s)...</p>
    </div>
  </div>
</file-drop>
