<lc-step-content *ngIf="(marketingOrder$ | async) as marketingOrder" [canClickNext]="infoForm.valid" (next)="onSubmit(marketingOrder)"
    (back)="goBack()">
  <h1>Is there anything that the photographer should know?</h1>

  <form [formGroup]="infoForm">
    <div class="row">
      <div class="col-sm-12">
        <input type="checkbox" id="lockbox-chkbox" formControlName="lockboxAvailable"> Lockbox available
      </div>
    </div>
    <div class="row mt-3" id="code-location-div" [hidden]="!infoForm.lockboxAvailable" formGroupName="lockbox">
      <div class="col">
        <label class="font-weight-bold" for="lockbox-code">Code</label>
        <input type="text" class="form-control" id="lockbox-code" formControlName="code" [required]="infoForm.lockboxAvailable">
      </div>
      <div class="col">
        <label class="font-weight-bold" for="lockbox-location">Location</label>
        <input type="text" class="form-control" id="lockbox-location" formControlName="location">
      </div>
    </div>
    <div class="row mt-3">
      <lc-textarea class="col" idPrefix="comments" label="Comments" [formControl]="infoForm.get('comments')"></lc-textarea>
    </div>
  </form>
</lc-step-content>
