@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.hide-input {
  padding: 0;
  position: relative;
  left: 9999px;
  z-index: -999;
}

.invalid-text-size {
  display: block;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
}
