<small class="invalid-text-size">{{hasError ? 'Copy will not fit within template field' : ''}}</small>
<!-- a div of size 1 x 1 effectively removes the space the textarea consumes on the UI -->
<div style="height: 1px; width: 1px;">
  <textarea class="hide-input" #textChecker [(ngModel)]="text"
            [style.font-family]="metaData.fontFamily"
            [style.font-size.pt]="metaData.fontPointSize"
            [style.font-weight]="metaData.fontStyle"
            [style.height]="height + 'px'"
            [style.width]="width + 'px'"
            [style.max-height]="height + 'px'"
            [style.max-width]="width + 'px'"
            style="overflow-y:scroll;" tabindex="-1" (ngModelChange)="onTextChanged()"></textarea>
</div>
