<div class="list-group list-group-flush py-4 accent-color-fog h-100 px-5">
  <ng-container *ngFor="let step of (orderState$ | async)?.getActiveSteps(); let i = index">
    <lc-order-step-template [index]="i+1" [orderState]="orderState$ | async" [step]="step" [showChildren]="true"></lc-order-step-template>
  </ng-container>
</div>
