.vline {
  border-left: 4px solid;
  height: 100%;
  position: absolute;
  margin-left: 13px;
}

.vline-active {
  color: #1F69FF;
}

.vline-disabled {
  color: #8897AA !important;
}
.ui-icon-relative {
  position: relative;
}
