@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.row {
  align-items: stretch;
}

.ninetyPercent {
  width: 90%;
}
.not-started {
  opacity: .5;
}
.vline {
  border-left: 3px solid;
  min-height: 45px;
  color: $storm;
  flex: 1;
}

.vline-active {
  color: $cb-blue;
}

.button-infront {
  z-index: 1;
}

.icon-column {
  width: 46px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display {
  height: 46px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &.display-sm {
    height: 30px;
  }
}
