<div class="list-group-item media d-flex py-0 row">
  <div class="icon-column">
    <!--Small icon-->
    <div *ngIf="showChildren && !isActiveStep; else largeIcon" class="ui-icon ui-icon-sm bg-secondary border-0 text-white button-infront" [ngClass]="{'ion ion-md-checkmark': step.completed, 'bg-primary': step.started}">
      <a *ngIf="!step.completed">{{index}}</a>
    </div>

    <!-- Large icon -->
    <ng-template #largeIcon>
      <div class="ui-icon ui-icon bg-secondary border-center text-white button-infront" [class.bg-primary-light]="step.started">
          <div class="ui-icon ui-icon-sm bg-secondary border-0 text-white button-infront"
            [ngClass]="{'ion ion-md-checkmark': step.completed, 'bg-primary': step.started}">
          <a *ngIf="!step.completed">{{index}}</a>
        </div>
      </div>
    </ng-template>

    <div *ngIf="showChildren && index < totalSteps" class="vline my-1" [ngClass]="{ 'vline-active': isNextStepStarted }"></div>
  </div>

  <div class="media-body line-height-condenced ml-3 step-info" *ngIf="!showChildren">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <div class="ninetyPercent" [class.not-started]="!step.started">
        <h4 [id]="(step?.displayName || '').replace(' ', '-').toLowerCase() + '-header'" class="text-dark mb-1">{{step.displayName}}</h4>
        <p class="mb-1">{{step.description}}</p>
      </div>
      <div class="ui-icon ui-icon-sm ion ion-md-create" [id]="(step?.displayName || '').replace(' ', '-').toLowerCase() + '-edit'"
           *ngIf="canEditStep()" (click)="nextSubStep(step)"></div>
    </div>
    <div class="mt-2" *ngIf="(orderState.currentStep.id === step.id)">
      <a class="btn btn-primary text-white" (click)="nextStep()" [id]="(step.displayName || '').toLowerCase().replace(' ', '-') + '-continue'">Continue</a>
    </div>
    <div class="mt-2" *ngIf="(orderState.currentStep.id === step.id) && step.canSkipSteps">
      <a class="btn btn-outline-dark mb-2 mb-sm-0" (click)="nextParentStep()">Complete Later</a>
    </div>
  </div>

  <div class="media-body line-height-condenced ml-3 step-info pb-4" *ngIf="showChildren" >
    <div class="d-flex justify-content-between w-100 align-items-center">
      <div class="ninetyPercent display" [class.not-started]="!step.started" [class.display-sm]="!isActiveStep">
        <h5 class="text-dark mb-1" *ngIf="!isActiveStep">{{step.displayName}}</h5>
        <h4 class="text-dark mb-1" *ngIf="isActiveStep">{{step.displayName}}</h4>
      </div>
    </div>
    <ng-container *ngFor="let aStep of step.steps; let i = index;">
      <lc-detail-step-template *ngIf="isActiveStep" [index]="i+1" [currentStep]="orderState.currentStep" [step]="aStep"></lc-detail-step-template>
    </ng-container>
  </div>
</div>
