<div class="container">
    <div class="row pb-3">
      <div class="col-sm-3">
        <br>
        <h4>Manage Order</h4>
        {{ address?.streetAddress1 }}{{address?.unitNumber ? ' - ' + address?.unitNumber : ''}}, {{ address?.city }}, {{ address?.state }} {{ address?.postalCode }}
      </div>
    </div>
    <section id="act" class="pb-5">
      <lc-product-card-grid [products]="products$ | async"></lc-product-card-grid>
    </section>
</div>
