<div class="card border-secondary">
  <h4 style ="color: white" class="card-header text-center bg-dark">Order Details</h4>
  <div class="card-body" *ngIf="currentOrder$ | async as currentOrder">
    <div class="row mt-3">
      <div class="col-6">
        <h4>{{currentOrder?.getSelectedPackage()?.title}}</h4>
      </div>
      <div class="col-6 text-right">
        <h4>${{currentOrder?.getSelectedPackage()?.price}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
      <div class="col-6">
        <h4>&nbsp;</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 bg-light-gray">
        <h4>Order Total</h4>
      </div>
      <div class="col-6 bg-mid-gray text-right">
        <h4>${{currentOrder?.getSelectedPackage()?.price}}</h4>
      </div>
    </div>
  </div>
</div>
