.container {
  padding: 5% 0;
  margin-bottom: -58px;

  .retry {
    width: 50%;
    margin: 0 25%;

    .alert {
      color: red;
      font-size: 1.4em;
    }
  }

  .wrapper {
    padding: 10% 0;
  }
}
