<div class="container text-center">
  <div class="wrapper" *ngIf="!hasError">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <br><br>
      <h1 class="lead">Signing in ....</h1>
  </div>
  <div class="wrapper retry" *ngIf="hasError">
      <div class="alert" role="alert">
          Sign in failed: {{errorMsg}}
      </div>
    <div class="return-to-gateway">
      Click here to return to <a [attr.href]="this.gatewayReturnLink">Gateway</a>
    </div>
    <br>
      <button type="button" class="btn btn-primary" (click)="retry()">Try again</button>
  </div>
</div>
