@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.blue-checkmark {
  color: $cb-blue;
}

.service-product-card-container {
  max-width: 176px;
}

.service-product-card {
  min-height: 176px;
  min-width: 176px;
}
