<div class="row">
  <div class="col-sm-4 d-flex mb-3 mr-4 align-items-md-stretch service-product-card-container" *ngFor="let product of displayProducts">
    <a routerLink="{{product?.routerLink}}" [id]="product?.code">
      <div class="card mr-3 justify-content-center service-product-card">
        <div class="align-items-center text-center">
          <img [src]="product.thumbnailUri" [alt]="product.title" width="50%">
          <h5 class="text-dark p-2">{{ product?.title }}</h5>
        </div>
      </div>
    </a>
  </div>
</div>
