<lc-step-content *ngIf="(currentListing$ | async) as listing" (next)="onSubmit(listing)" (back)="goBack()">
  <h1>Tell us about the property</h1>
  <lc-property-info-form [formGroup]="infoForm"></lc-property-info-form>
</lc-step-content>
