<ng-container *ngIf="photoOrder$ | async as photoOrder">
  <div class="container">
    <h4 class="mb-3">Photos</h4>
    <div>
      <span class="font-weight-bold">Order:</span>
      <span>{{photoOrder.photoOrderId}}</span>
    </div>

    <lc-property-photo-upload (uploadResult)="uploadResult(photoOrder, $event)"></lc-property-photo-upload>

    <div>
      <h4>{{workingPhotos.length}} Unsubmitted</h4>
    </div>

    <lc-photo-grid
      id="unsubmitted-grid"
      actionButtonLabel="Submit Selected"
      favoritesEnabled="false"
      [(photos)]="workingPhotos"
      (updatePhotos)="updateWorkingPhotos(photoOrder, $event)"
      (actionOnSelected)="submitPhotos(photoOrder, $event)">
    </lc-photo-grid>

    <div class="mt-3">
      <h4>{{submittedPhotos.length}} Submitted</h4>
    </div>

    <lc-photo-grid
      noPhotosText="No photos submitted yet"
      favoritesEnabled="false"
      numberOrderingEnabled="false"
      dragDropEnabled="false"
      deleteEnabled="false"
      downloadEnabled="false"
      selectEnabled="false"
      [marketingOrder]="null"
      [(photos)]="submittedPhotos">
    </lc-photo-grid>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-secondary" (click)="completeOrder(photoOrder)">Complete Order</button>
    </div>

  </div>
</ng-container>
