
<div ngbDropdown placement="bottom-right" class="demo-navbar-notifications nav-item mr-lg-3">
  <a ngbDropdownToggle class="nav-link hide-arrow" href="javascript:void(0)">
    <i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>
    <span class="d-lg-none align-middle">&nbsp; Notifications </span>
    <span id="menu-badge" class="badge badge-primary" *ngIf="(newNotificationCount$ | async) > 0">{{newNotificationCount$ | async}}</span>
  </a>
  <div ngbDropdownMenu id="notification-menu">
    <div class="bg-primary text-center text-white font-weight-bold p-3">
      {{newNotificationCount$ | async}} New Notifications
    </div>
    <div class="list-group list-group-flush">
      <!-- TODO: Mark as read after click -->
      <a *ngFor="let notification of notifications$ | async as notifications"
        class="list-group-item list-group-item-action media d-flex align-items-center clickable"
        [class.bg-light]="notification.notification.isRead"
        (click)="onNotificationClicked(notification)">
        <div class="ui-icon ui-icon-sm ion ion-md-home bg-secondary border-0 text-white"
            [ngClass]="notification.icon">
        </div>
        <div class="media-body line-height-condenced ml-3">
          <div class="text-dark">{{notification.title}}</div>
          <div class="text-light small mt-1">
            {{notification.text}}
          </div>
          <div class="text-light small mt-1">{{notification.when}}</div>
        </div>
      </a>
    </div>

    <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
  </div>
</div>
