

<div class="py-3 row justify-content-center">
  <div class="col-auto">
    <h1 id="select-photographer-header">Please select your photographer</h1>
    <form>
      <lc-card-options [options]="cardOptions$" valuePath="name" (selected)="onSelected($event)"></lc-card-options>
    </form>
    <div class="row justify-content-end">
      <button id="next-button" type="submit" class="btn btn-primary" [disabled]="!selectedPhotographer" (click)="onSubmit()">Next</button>
    </div>
  </div>
</div>
