<ng-container [formGroup]="formGroup">
  <div class="row mt-2">
    <lc-dropdown class="col" idPrefix="property-type" class="col" label="Property type" [options]="propertytypes" formControlName="propertyType" emptyOptionDisplay="Select property type"></lc-dropdown>
    <lc-dropdown class="col" idPrefix="status" class="col" label="Listing Status" [options]="propertystatus" formControlName="status" emptyOptionDisplay="Select listing status"></lc-dropdown>
  </div>
  <div class="row mt-2">
    <lc-textbox class="col" idPrefix="list-price" label="List Price" placeholder="$0,000,000" formControlName="listPrice" [inputMask]="wholeNumberMask"></lc-textbox>
  </div>
  <div class="row mt-2">
    <div class="col">
      <label class="custom-control custom-checkbox">
        <input id="displayAsPriceOnRequest" class="custom-control-input" type="checkbox" formControlName="displayAsPriceOnRequest">
        <span class="custom-control-label"> Display list as "Price Upon Request"
        </span>
      </label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col d-flex justify-content-between align-items-center">
      <div>
        <span class="form-label">Bedrooms</span>
      </div>
      <div>
        <button id="bedroom-decrement" class="btn-outline-primary circle-btn btn-round mr-2" type="button" (click)="formGroup?.decrementBedrooms()">
          <i class="ion ion-md-remove"></i>
        </button>
        <span id="bedroom-count" class="pr-2 number-readonly-32">{{formGroup.get('bedrooms').value}}</span>
        <button id="bedroom-increment" class="btn-outline-primary circle-btn btn-round" type="button" (click)="formGroup?.incrementBedrooms()">
          <i class="ion ion-md-add"></i>
        </button>
      </div>
    </div>
    <div class="col d-flex justify-content-between align-items-center">
      <div>
        <span class="form-label">Bathrooms</span>
      </div>
      <div>
        <button id="bathroom-decrement" class="btn-outline-primary circle-btn btn-round mr-2" type="button" (click)="formGroup?.decrementBathrooms()">
          <i class="ion ion-md-remove"></i>
        </button>
        <span id="bathroom-count" class="pr-2 number-readonly-48">{{formGroup.get('bathrooms').value}}</span>
        <button id="bathroom-increment" class="btn-outline-primary circle-btn btn-round" type="button" (click)="formGroup?.incrementBathrooms()">
          <i class="ion ion-md-add"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <label class="form-label" for="sqFt">SQFT</label>
      <input type="number" min="0" class="form-control" id="sqFt" placeholder="00.00" formControlName="sqFt">
    </div>
    <div class="col">
      <label class="form-label" for="lotSqFt">Lot Size</label>
      <input type="number" min="0" class="form-control" id="lotSqFt" placeholder="00.00" formControlName="lotSqFt">
    </div>
</div>
  <div class="row mt-2">
    <div class="col">
      <lc-datepicker label="List Date"
                     idPrefix="listDate"
                     placeholder="MM/DD/YYYY"
                     formControlName="listDate"></lc-datepicker>
    </div>
    <div class="col">
      <lc-datepicker label="Close Date"
                     idPrefix="closedDate"
                     placeholder="MM/DD/YYYY"
                     formControlName="closedDate"></lc-datepicker>
    </div>
  </div>
</ng-container>
