input#listPrice,
input#sqFt,
input#lotSqFt,
input#listDate,
input#closedDate
{
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input#listPrice[type=number],
input#sqFt[type=number],
input#lotSqFt[type=number],
input#listDate[type=date],
input#closedDate[type=date]
{
  -moz-appearance:textfield;
}

.date-input-label {
  width: 100%;
}
