/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";
@import "~bootstrap/scss/bootstrap";
@import "~nrt-common-ui/nrt-bootstrap-theme/theme-styles";

.circle-btn {
  width: 32px;
  height: 32px;
  object-fit: contain;
  padding: 0;
}

.accent-color-fog {
  background-color: $fog;
}

.fa-exclamation-circle {
  color: $yellow;
}

/* override for the ngb-datepicker.  the .btn class is affecting the display of the previous/next month buttons */
.ngb-dp-arrow-btn {
  min-width: 0 !important;
}

.clickable {
  cursor: pointer;
}

.close:focus {
  outline: 0;
}
