@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.card-option {
  border-radius: 0.5rem;
  width: 125px;
  height: 125px; // Do we want consistent height and width?
  // padding: 4px;
}

.card-label {
  font-size: small;
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
}

.option-selected {
  border: 1px solid $cb-blue;
}

.option-icon-selected {
  color: $cb-blue;
}

.image-container {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
