<label [id]="idPrefix + '-label'" class="form-label" [for]="idPrefix + '-input'">{{label}}</label>

<!--Card container-->
<div [id]="idPrefix + '-card-container'" class="row card-container" *ngIf="options$ | async as options">
  <!--Cards-->
  <div class="col-3 d-flex p-0" *ngFor="let option of options; let i = index" (mouseenter)="onHover(option)" (mouseleave)="onHover()">
    <a [id]="parseId('card-option-' + (option.text || i))"
      class="btn card card-option clickable container p-2 m-2"
      [class.disabled]="!option.isEnabled" [ngClass]="{'shadow option-selected': option.isSelected}" (click)="selectOption(options, option)">

      <!--Select Icon-->
      <a class="row justify-content-end col-auto">
        <span class="far" [ngClass]="{'fa-circle': !option.isSelected, 'fa-check-circle option-icon-selected': option.isSelected}"></span>
      </a>

      <!--Card Image-->
      <div class="row flex-grow-1 align-items-center">
        <div class="col text-center image-container">
          <img *ngIf="!option.isSelected && option.imageSource" class="logo-img" [src]="option.imageSource"/>
          <img *ngIf="option.isSelected && option.selectedImageSource" class="logo-img" [src]="option.selectedImageSource"/>
        </div>
      </div>

      <!--Display Label-->
      <div class="card-label row col-auto align-self-center">
        {{ option.text }}
      </div>
    </a>
  </div>
</div>

<!-- <input [id]="idPrefix + '-input'" class="form-control" [placeholder]="placeholder" type="text" [mask]="inputMask?.mask" [patterns]="inputMask?.pattern" [formControl]="formControl" > -->
<small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
