
<div class="row w-100 h-100 justify-content-center mt-4">
  <div id="dashboard-container" class="col-11">
    <h1 *ngIf="profile$ | async as profile">Hello, {{profile.preferredFirstName}} {{profile.preferredLastName}}</h1>
    <ngb-tabset #tabset class="previewtabset mb-4" [activeId]="selectedTab?.id" (tabChange)="tabChange($event)">
      <ngb-tab *ngFor="let tab of tabs" [id]="tab.id" [title]="tab.label">
      </ngb-tab>
    </ngb-tabset>

    <div class="mt-3">
      <router-outlet></router-outlet>
    <div class="mt-3">
  </div>
</div>
