th[sortable] {
   cursor: pointer;
}

.img-avatar {
  object-fit: cover;
  object-position: 100% 0;
  width:38px;
  height:38px;
}

.table td {
  vertical-align: middle!important;
}

/* Table sort indicators */
/* Code used from: https://codepen.io/jtrumbull/pen/NGZxaz */
th[sortable] {
  position: relative;
  cursor: pointer;
}

// Sortable columns need to be position absolute so the sort arrow can display to the right
th[sortable]::after {
  content: ' ';
	position: absolute;
  height: 0;
  width: 0;
  right: 10px;
  top: 16px;
}

// Default Sortable is a ligher up-arrow (indicating no sort)
th[sortable]:after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 0px solid transparent;
	border-bottom: 5px solid #999;
}

// If ascending, display darker up arrow
th[sortable].asc::after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 0px solid transparent;
	border-bottom: 5px solid #333;
}

// If ascending, display darker down arrow
th[sortable].desc::after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 5px solid #333;
	border-bottom: 5px solid transparent;
}

// Darker hover over
th[sortable].asc:hover::after {
	border-bottom: 5px solid #111;
}

// Darker hover over
th[sortable].desc:hover::after {
	border-top: 5px solid #111;
}

// Center align all table headers except the first
th + th {
  text-align:center;
}
