<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" id="status-header" *ngIf="columns.indexOf('status') > -1">Status</th>
      <th scope="col" id="address-header" *ngIf="columns.indexOf('address') > -1" (sort)="onSort($event)">Address</th>
      <th scope="col" id="area-header" *ngIf="columns.indexOf('area') > -1" sortable="area" (sort)="onSort($event)">Area</th>
      <th scope="col" id="agent-header" *ngIf="columns.indexOf('agent') > -1" (sort)="onSort($event)">Agent</th>
      <th scope="col" id="date-header" *ngIf="columns.indexOf('date') > -1"  sortable="date" (sort)="onSort($event)">Date</th>
      <th scope="col" id="package-header" *ngIf="columns.indexOf('package') > -1" sortable="package" (sort)="onSort($event)">Package</th>
      <th scope="col" id="copy-header" *ngIf="columns.indexOf('copy') > -1">Copy</th>
      <th scope="col" id="photos-header" *ngIf="columns.indexOf('photos') > -1">Photos</th>
      <th scope="col" id="coordinator-header" *ngIf="columns.indexOf('coordinator') > -1" sortable="coordinator" (sort)="onSort($event)">Coordinator</th>
      <th scope="col" id="actions-header" *ngIf="columns.indexOf('actions') > -1"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders$ | async">

    <!-- Status Cell -->
    <td class="status-cell" *ngIf="columns.indexOf('status') > -1">
      <!-- TODO: Match proper status codes to circles (Separate Story)-->
      <div class="img-avatar rounded-circle"
        [class.bg-dark]="order.status === 'Urgent'"
        [class.bg-light]="order.status === 'PROCESSING'"
        [class.bg-lighter]="order.status === 'STOPPED'" ></div>
    </td>

    <!-- Address Cell -->
    <td class="address-cell" *ngIf="columns.indexOf('address') > -1">
      <div *ngIf="order?.listing?.address as address">
        <a routerLink="{{'/manage-order/' + order._id}}" id="order">
          <span class="d-block">{{address.streetAddress1}}</span>
          <span class="d-block">{{address.city}}, {{address.state}}</span>
        </a>
      </div>
    </td>

    <!-- Area Cell -->
    <td class="area-cell" *ngIf="columns.indexOf('area') > -1">

    </td>

    <!-- Agent Cell -->
    <td class="agent-cell" *ngIf="columns.indexOf('agent') > -1">
      <div  *ngIf="order?.agent as agent">
        <div class="row align-items-center" (mouseenter)="agent.showHover = (agent.phoneNumber || agent.email || agent.officeName)" (mouseleave)="agent.showHover = false;">
          <img *ngIf="agent.showHover" [src]="agent.photoUrl || 'assets/images/user.png'" alt="agent avatar" class="agent-avatar img-avatar rounded-circle" triggers="mouseenter:mouseleave" placement="bottom" [ngbPopover]="agentPopoverContent">
          <img *ngIf="!agent.showHover" [src]="agent.photoUrl || 'assets/images/user.png'" alt="agent avatar" class="agent-avatar img-avatar rounded-circle">
          <div class="ml-2">
            <span class="agent-firstName d-block">{{agent.firstName}}</span>
            <span class="agent-lastName d-block">{{agent.lastName}}</span>
          </div>
        </div>
        <ng-template #agentPopoverContent>
          <div class="width-to-content" id="agent-popover">
            <div *ngIf="agent.showHover">
              <div class="mb-1 align-items-center align-middle" style="display: block">
                <div class="display-inline"><span class="h5 agent-phone">{{agent.phoneNumber.number | phone}}</span></div>
              </div>
              <div class="align-items-center align-middle" style="display: block">
                <div class="display-inline"><span class="h5 agent-email">{{agent.email}}</span></div>
              </div>
              <div class="align-items-center align-middle" style="display: block">
                <div class="display-inline"><span class="h5 agent-office">{{agent.officeName}}</span></div>
              </div>
              </div>
          </div>
        </ng-template>
      </div>
    </td>

    <!-- Date Cell -->
    <td class="date-cell" *ngIf="columns.indexOf('date') > -1">
      {{order.audit.createdAt | date:'short'}}
    </td>

    <!-- Package Cell -->
    <td class="package-cell" *ngIf="columns.indexOf('package') > -1">
      <div *ngIf="order?.package as package">
        <img src="/assets/images/marketing-package/{{order.package.title.toLowerCase()}}_badge-small.svg" alt="{{package.title.toLowerCase()}} Badge">
        {{package.title}}
      </div>
    </td>

    <td class="copy-cell text-center" *ngIf="columns.indexOf('copy') > -1">
      <ng-template [ngIf]="(order.copyCount) && (order.copyCount > 0)" [ngIfElse]="noCopy">
        Ready
      </ng-template>
      <ng-template #noCopy>
        <ng-template [ngIf]="showRequestButtons" [ngIfElse]="noCopyRequestButton">
          <button class="btn-primary" (click)="onRequestCopy(order)">Request</button>
        </ng-template>
        <ng-template #noCopyRequestButton>
          NO
        </ng-template>
      </ng-template>
    </td>

    <td class="photos-cell text-center" *ngIf="columns.indexOf('photos') > -1">
      <ng-template [ngIf]="(order.photoCount) && (order.photoCount > 0)" [ngIfElse]="noPhotos">
        {{order.photoCount}}
      </ng-template>
      <ng-template #noPhotos>
        <ng-template [ngIf]="showRequestButtons" [ngIfElse]="noPhotosRequestButton">
          <button class="btn-primary" (click)="onRequestPhotos(order)">Request</button>
        </ng-template>
        <ng-template #noPhotosRequestButton>
          NO
        </ng-template>
      </ng-template>
    </td>

    <td class="coordinator-cell" *ngIf="columns.indexOf('coordinator') > -1">
        <div class="row align-items-center" *ngIf="order?.coordinator as coordinator">
            <img [src]="coordinator.photoUrl || 'assets/images/user.png'" alt="coordinator avatar" class="img-avatar rounded-circle">
            <div class="ml-2">
              <span class="d-block">{{coordinator.firstName}}</span>
              <span class="d-block">{{coordinator.lastName}}</span>
            </div>
          </div>
    </td>
    <td class="actions-cell" *ngIf="columns.indexOf('actions') > -1 && actionTemplate">
      <template [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{record: order}"></template>
    </td>
  </tr>
  </tbody>
</table>
