<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="totalCount" [(page)]="pageNumber" [pageSize]="pageSize" (pageChange)="onPagingChanged()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="onPagingChanged()">
      <option *ngFor="let pageSizeOption of pageSizeOptions" [ngValue]="pageSizeOption">{{pageSizeOption}} items per page</option>
    </select>
  </div>
