        <ng-container *ngFor="let product of products">
          <!-- ProductInstance card -->
          <div class="col-3">
            <lc-product-card [product]="product"></lc-product-card>
          </div>
          <!-- ./ProductInstance card -->
        </ng-container>
