<div *ngIf="product$ | async as product">
  <div>
    <h4 class="font-weight-bold">{{product.title}}</h4>
    <strong>Select a design to get started</strong>
  </div>
  <lc-template-grid [templates]="templates" (onSelect)="selectTemplate(product, $event)"></lc-template-grid>
</div>
