<h4 class="font-weight-bold" id="page-title">Property Description</h4>
Let's add a nice description to use on the brochure and website
<div *ngIf="(marketingOrder$ | async) as marketingOrder">
  <form [formGroup]="marketingCopyForm" (ngSubmit)="onSubmit(marketingOrder)">
    <div class="row">
      <div class="col-12 pt-3">
        <h4>Headline</h4>
        <textarea class="form-control" id="headline" formControlName="headline" [placeholder]="headlinePlaceHolder" [class.is-invalid]="marketingCopyForm.controls['headline'].invalid"></textarea>
        <small class="invalid-feedback">Marketing headline is required.</small>
        <lc-text-checker *ngIf="headlineCheckerOptions" [metaData]="headlineCheckerOptions" [text]="marketingCopyForm.controls['headline'].value" ></lc-text-checker>
      </div>
      <div class="col-12 pt-3">
        <h4>Body</h4>
        <textarea class="form-control" id="body" formControlName="body" rows="12" [placeholder]="bodyPlaceHolder" [class.is-invalid]="marketingCopyForm.controls['body'].invalid"></textarea>
        <small class="invalid-feedback">Marketing body is required.</small>
        <lc-text-checker *ngIf="bodyCheckerOptions" [metaData]="bodyCheckerOptions" [text]="marketingCopyForm.controls['body'].value"></lc-text-checker>
        <br />
      </div>
    </div>
    <div class="row border-top-secondary mt-5">
      <div class="col-sm text-right">
        <button type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="false">Save</button>
      </div>
    </div>
  </form>
</div>

