<label [id]="idPrefix + '-label'" class="form-label" [for]="idPrefix + '-input'">{{label}}</label>
<tag-input [id]="idPrefix + '-input'" class="chip-input form-control" [class.is-invalid]="errors" [(ngModel)]="selectedValues"
  [placeholder]="placeholder"
  [secondaryPlaceholder]="emptyPlaceholder"
  value="value"
  [maxItems]="max"
  [identifyBy]="displayPath"
  [displayBy]="valuePath"
  [onlyFromAutocomplete]="!allowCustomInput"
  (onBlur)="onBlur()"
  (onSelect)="onSelected($event)"
  (onRemove)="onItemRemoved($event)"
  (onAdd)="onItemAdded($event)"
  (onTextChange)="onTextChange($event)">
    <tag-input-dropdown [autocompleteItems]="options$ | async" showDropdownIfEmpty="true" [displayBy]="displayPath" [identifyBy]="valuePath">
    </tag-input-dropdown>
  </tag-input>
<small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
