.chip-input {
  min-height: fit-content!important;

  ::ng-deep .ng2-tag-input {
    border: none;

    &.ng2-tag-input--focused {
      border: none
    }

    tag {
      border-radius: 0;
    }
  }
}
