<div class="row" *ngIf="templates">
  <ng-container *ngFor="let template of templates; let i = index">
    <div id="template-{{i}}" class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-2 ml-3 template-card-container">
      <div class="card template-card">
        <div class="card-img-top bg-secondary pt-2 pb-2">
          <div class="template-card-img m-auto">
            <img src="{{template.thumbnailURL}}" class="img-fluid">
          </div>
        </div>
        <div class="card-body">
          <div class="card-subtitle text-muted">
            <div class="row">
              <div class="col-12">
                Size: {{template.size}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                Sides: {{template.sides}}
              </div>
              <div class="col-6">
                Photos: {{template.numberOfPhotos}}
              </div>
            </div>

            <button id="template-{{i}}-select-button" class="btn btn-outline-dark btn-block mt-2" (click)="selectTemplate(template)" target="new">Select
              this design
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
