
<div id="prompt-dialog" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <button [id]="primaryAction.text.toLowerCase().replace(' ', '-') + '-button'" *ngIf="primaryAction" type="button" class="btn btn-primary" (click)="onActionClicked(primaryAction)">{{primaryAction.text}}</button>
    <button [id]="action.text.toLowerCase().replace(' ', '-') + '-button'" *ngFor="let action of secondaryActions" type="button" class="btn btn-secondary" (click)="onActionClicked(action)">{{action.text}}</button>
  </div>
</div>
