<div class="list-group list-group-flush py-4">
  <ng-container *ngFor="let step of orderState.getActiveSteps(); let i = index">
    <lc-order-step-template [index]="i+1" [orderState]="orderState" [step]="step"></lc-order-step-template>
    <hr class="dividerLine"/>
  </ng-container>
</div>
