<lc-step-content *ngIf="(currentOrder$ | async) as currentOrder"
                (next)="onSubmit(currentOrder)" (back)="goBack(currentOrder)" showSummary="true">
  <h1>Shipping information</h1>
  <form [formGroup]="shippingForm">

    <div class="row">
      <lc-textbox class="col" label="Full Name" idPrefix="full-name" formControlName="fullName" placeholder="Your full name"></lc-textbox>
    </div>
    <div formGroupName="address">
      <div class="row">
        <lc-textbox class="col" idPrefix="street-address-1" label="Address" formControlName="streetAddress1" placeholder="Number and Street"></lc-textbox>
        <lc-textbox class="col" idPrefix="street-address-2" label="Address 2 (Optional)" formControlName="streetAddress2" placeholder="Address line 2"></lc-textbox>
      </div>

      <div class="row">
        <lc-textbox class="col" idPrefix="city" label="City" formControlName="city" placeholder="City"></lc-textbox>
      </div>

      <div class="row">
        <lc-dropdown idPrefix="state" class="col" label="State" [options]="states" displayPath="abbreviation" valuePath="abbreviation" formControlName="state" emptyOptionDisplay="Select State"></lc-dropdown>
        <lc-textbox idPrefix="zip" class="col" label="Zip Code" formControlName="postalCode" placeholder="Zip"></lc-textbox>
      </div>
    </div>

    <div class="row">
      <lc-textbox class="col" idPrefix="company" label="Company (Optional)" formControlName="company" placeholder="Company"></lc-textbox>
    </div>

    <div class="row">
      <div class="col" formGroupName="phoneNumber" >
        <lc-textbox idPrefix="phone" label="Phone Number" formControlName="number"  [inputMask]="phoneMask" placeholder="Phone number"></lc-textbox>
      </div>
      <lc-textbox class="col" idPrefix="email" label="Email (Optional)" formControlName="email" placeholder="Email"></lc-textbox>
    </div>
  </form>
</lc-step-content>
