<div>
  <!-- TODO: This form group is the same as billing and shipping component.html-->
  <form [formGroup]="formGroup">
    <div class="row">
      <lc-textbox class="col" label="Full Name" idPrefix="full-name" formControlName="fullName" placeholder="Your full name"></lc-textbox>
    </div>

    <!-- Address Section -->
    <div formGroupName="address">
      <div class="row">
        <lc-textbox class="col" idPrefix="street-address-1" label="Address" formControlName="streetAddress1" placeholder="Number and Street"></lc-textbox>
        <lc-textbox class="col" idPrefix="street-address-2" label="Address 2 (Optional)" formControlName="streetAddress2" placeholder="Address line 2"></lc-textbox>
      </div>

      <div class="row">
        <lc-textbox class="col" idPrefix="city" label="City" formControlName="city" placeholder="City"></lc-textbox>
      </div>

      <div class="row mb-3">
        <lc-dropdown idPrefix="state" class="col" label="State" [options]="states" displayPath="abbreviation" valuePath="abbreviation" formControlName="state" emptyOptionDisplay="Select State"></lc-dropdown>
        <lc-textbox idPrefix="zip" class="col" label="Zip Code" formControlName="postalCode" placeholder="Zip"></lc-textbox>
      </div>
    </div>

    <div class="row">
      <lc-textbox class="col" idPrefix="company" label="Company (Optional)" formControlName="company" placeholder="Company"></lc-textbox>
    </div>

    <div class="row mb-3">
      <div formGroupName="phoneNumber" class="col">
        <lc-textbox idPrefix="phone" label="Phone" formControlName="number"  [inputMask]="phoneMask" placeholder="000.000.0000"></lc-textbox>
      </div>
      <lc-textbox idPrefix="email" class="col" label="Email (Optional)" formControlName="email"></lc-textbox>
    </div>
  </form>
</div>

