<lc-step-content *ngIf="(marketingOrder$ | async) as marketingOrder"
                 (next)="onSubmit(marketingOrder)" (back)="goBack()">
  <h1>Please select your photographer</h1>
  <form [formGroup]="form">
    <lc-card-options formControlName="name" label="Photographer" [options]="cardOptions" valuePath="name" (selected)="onSelected($event)"></lc-card-options>
  </form>
</lc-step-content>
