<div class="h-100 border-right">

  <!--Go to Listing Button-->
  <div class="py-3 px-4">
    <button id="my-listings-btn" type="button" class="btn btn-default"  [ngClass]="isExpanded ? 'btn-default' : 'btn-sm'" routerLink="/">
      <i class="ion ion-md-apps"></i>
      <span *ngIf="isExpanded" class="ml-2">
        Go To My Listings
      </span>
    </button>
  </div>

  <!--Listing Button Divider-->
  <hr class="border-light mx-4 mt-0 mb-0">

  <div *ngFor="let tab of tabs">
    <a [id]="tab.label.toLowerCase().replace(' ', '-') + '-link'" class="nav-button btn btn-default btn-block {{tab.isSelected ? 'selected' : ''}}" [ngClass]="isExpanded ? 'text-left' : 'text-center'" routerLink="{{tab.path}}">
      <div class="ui-w-20 d-inline-block text-center">
        <img [src]="tab.svgPath">
      </div>
      <span *ngIf="isExpanded" class="ml-2">{{tab.label}}</span>
    </a>
  </div>

  <hr class="border-light mx-4 mt-0 mb-0">
  <div class="pb-3 row justify-content-end">
    <button class="btn btn-link text-sm text-muted" (click)="isExpanded = !isExpanded">
      <span *ngIf="!isExpanded">Expand</span>
      <div class="ion mx-2" [ngClass]="isExpanded ? 'ion-ios-arrow-back' : 'ion-ios-arrow-forward'"></div>
      <span *ngIf="isExpanded">Collapse</span>
    </button>
  </div>
</div>
