<h4 class="font-weight-bold">
  Products & Services
</h4>
<hr class="border-light m-0">

<div class="mt-4 px-4" *ngIf="(marketingOrder$ | async)?.getSelectedPackage() as selectedPackage">
  <lc-product-grid [products]="selectedPackage?.products"></lc-product-grid>
</div>
