.buy-button{
    display: block;
    width: 100%;
    height: 37px;
    background-color: #1f69ff;;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.form-column{
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 3px;
}

.stripe-form-element {
    padding: 5%;
}