<lc-step-content *ngIf="(currentOrder$ | async) as currentOrder"
                 nextButtonText="Place Order" (next)="onSubmit(currentOrder)"
                 (back)="goBack(currentOrder)" showSummary="true">
  <h1>Payment</h1>
    <br>

    <form novalidate class="form-column stripe-form-element" [formGroup]="stripeTest">
      <lc-textbox idPrefix="name" label="Name" formControlName="name" placeholder="Jane Doe"></lc-textbox>
       
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
      <form [formGroup]="billingForm">
      <div formGroupName="address">
          <div class="row">
            <lc-textbox class="col" idPrefix="street-address-1" label="Address" formControlName="streetAddress1" placeholder="Number and Street"></lc-textbox>
            <lc-textbox class="col" idPrefix="street-address-2" label="Address 2 (Optional)" formControlName="streetAddress2" placeholder="Address line 2"></lc-textbox>
          </div>
  
          <div class="row">
            <lc-textbox class="col" idPrefix="city" label="City" formControlName="city" placeholder="City"></lc-textbox>
          </div>
  
          <div class="row">
            <lc-dropdown idPrefix="state" class="col" label="State" [options]="states" displayPath="abbreviation" valuePath="abbreviation" formControlName="state" emptyOptionDisplay="Select State"></lc-dropdown>
            <lc-textbox idPrefix="zip" class="col" label="Zip Code" formControlName="postalCode" placeholder="Zip"></lc-textbox>
          </div>
        </div>
      </form>
    </form>
</lc-step-content>
