<lc-step-content *ngIf="(marketingOrder$ | async) as marketingOrder" (next)="onSubmit(marketingOrder)" (back)="goBack()" [canClickNext]="selectedDate">
  <h1>Now lets pick your preferred date</h1>
  <div class="row">
    <div class="col">
      <ngb-datepicker [startDate]="earliestDate" [minDate]="earliestDate" [(ngModel)]="selectedDate" (select)="onDateSelect($event)"></ngb-datepicker>
      <ngb-timepicker [(ngModel)]="selectedTime" [meridian]="true" [minuteStep]="15"></ngb-timepicker>
    </div>
  </div>
</lc-step-content>
