<ng-container *ngIf="(profile$ | async) as profile">
  <lc-textbox placeholder="Search by Address" [formControl]="search" idPrefix="search"></lc-textbox>

  <lc-order-table [orders]="orders$" [columns]="columns" [showRequestButtons]="showRequestButtons" (sort)="onSort($event)">

    <ng-template #actions let-record="record">
      <div class="row justify-content-end">
        <button class="add-note btn btn-default mr-2" (click)="onOpenNotes(record)">Notes</button>
        <button class="assign-to-me btn btn-primary" (click)="onAssignToMe(profile, record)">Assign to Me</button>
      </div>
    </ng-template>

  </lc-order-table>
  <lc-paginator (pageChange)="onPaginate($event)" [totalCount]="totalCount" [pageNumber]="pageRequest.pageNumber" [pageSize]="pageRequest.pageSize"></lc-paginator>
</ng-container>
