
<div class="container" *ngIf="team$ | async as team">

  <!-- Header -->
  <div class="my-5">
    <h4>Set up your contact information</h4>
    <span>Select the information you want to display on the Team's contact information.</span>
  </div>

  <div class="row">

    <!-- Contact Preference Form and Submit Buttons-->
    <div class="col">
      <div [formGroup]="form">
        <lc-dropdown idPrefix="team-photo" formControlName="teamPhotoOption" label="Photo" [options]="photoOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-name" formControlName="teamNameOption" label="Name" [options]="nameOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-phone" formControlName="teamPhoneOption" label="Phone number" [options]="phoneOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-email" formControlName="teamEmailOption" label="Email" [options]="emailOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-website" formControlName="teamWebsiteOption" label="Website" [options]="websiteOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-license" formControlName="teamLicenseOption" label="License Number" [options]="licenseOptions" displayPath="display" valuePath="value"></lc-dropdown>
        <lc-dropdown idPrefix="team-logo" formControlName="teamLogoOption" label="Logo" [options]="logoOptions" displayPath="display" valuePath="value"></lc-dropdown>
      </div>
      <div class="mt-5">
        <button class="btn btn-secondary float-left" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary float-right" (click)="onSubmit(team, form)">Save Changes</button>
      </div>
    </div>

    <!-- Team Preview (Placeholder) -->
    <div class="col">
      <span>This is how your Team's information will look on your Products and Services</span>
      <div id="team-preview-card" class="card mt-4">
        <div class="card-body row" style="height: 200px"> <!--TODO: Remove height as this is only for mockup-->

        </div>
      </div>
    </div>

  </div>
</div>
