<div>
  <div class="row">
    <div class="col-12 mb-2">
      <h1 id="addresses-header">Addresses</h1>
    </div>
  </div>
  <div>
    <div class="row  mt-2 mb-2" *ngFor="let contact of contacts$ | async" >
      <div class="col-2">

      </div>
      <div class="col border-bottom border-light">
        <div class="row">
          <div class="col">
            <h4 class="text-capitalize" >{{contact.type}} Address</h4>
            <p>
              {{contact.description1}}
              <span *ngIf="contact.description2">
                <br>{{contact.description2}}
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div id="{{contact.type}}-address-display" class="col">

            <p *ngIf="contact.info">
              {{contact.info.fullName}}<br>
              <span *ngIf="contact.info.address.streetAddress1">
            {{contact.info.address.streetAddress1}} {{contact.info.address.unitNumber}}<br>
            </span>
              <span *ngIf="contact.info.address.streetAddress2">
            {{contact.info.address.streetAddress2}}
            </span>
              {{contact.info.address.city}}, {{contact.info.address.state}} {{contact.info.address.postalCode}}<br>
              {{contact.info.phoneNumber.number | phone }}
            </p>
          </div>
          <div class="col-auto">

            <div *ngIf="contact.info" class="mt-4">
              <div class="mb-2">
                <a id="edit-{{contact.type}}-address" routerLink="./{{contact.type}}" class="mb-1"><img src="assets/images/edit.svg"></a>
              </div>
              <div>
                <a id="delete-{{contact.type}}-address" (click)="onDelete(contact)"><img src="assets/images/remove.svg"></a>
              </div>

            </div>
            <button id="add-{{contact.type}}-address" class="btn btn-primary" type="button" routerLink="./{{contact.type}}" *ngIf="!contact.info">Add</button>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>
