<ng-container>
  <div *ngIf="team$ | async as team; else createTeam">
    <lc-team-display [team]="team"></lc-team-display>
  </div>

  <ng-template #createTeam>
    <div id="create-team-container" class="container mt-5">
      <h4 class="text-center">
        A Listing Concierge Team is a shared space to collaborate with your Team. Customize it to match your
        team's personality.
      </h4>

      <div class="row  justify-content-center  mt-5">
        <button id="create-team" class="btn btn-secondary" [routerLink]="['./create']">Create a new Team</button>
      </div>
    </div>
  </ng-template>
</ng-container>
