<div class="card mb-4 px-4" id="photos-tile">
  <h4 class="media align-items-center my-2">
    <div class="ion ion-md-photos text-large mr-3"></div>
    <div *ngIf="marketingOrder" class="media-body ml-1">Photos</div>
  </h4>

  <hr class="border-light mt-0 mb-0">
  <div *ngIf="marketingOrder?.photos as photos" class="card-body px-0">
    <div class="row m-0">
      <a class="card icon-example d-inline-flex p-4 w-100" routerLink="../media/photos">
        <div class="d-flex align-items-center">
          <div ><img src="/assets/images/nophoto.svg" /></div>
          <div class="d-block">
            <div class="ml-2 text-left"><h5 class="card-title text-dark m-0 px-2">{{photos.length}} photos available for this listing</h5></div>
            <div *ngIf="photoApptComplete" class="ml-2 text-left"><p class="text-dark m-0 px-2">Photos have been uploaded by your photographer</p></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
