
<div id="notes-dialog" class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <div class="modal-title">
      <h4 id="notes-title">{{title}}</h4>
      <h5 id="notes-subtitle">{{subTitle}}</h5>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!--Modal Body-->
  <div class="modal-body">
    <div id="notes-container" class="container border px-3 mb-3">
      <div class="row py-2 note" *ngFor="let note of notes$ | async">
        <div class="icon-container col-auto">
          <i class="ion ion-md-eye"></i>
        </div>
        <div class="col note-container">
          <span class="d-block text-muted note-author">{{note.author}} {{note.audit?.createdAt | date:'short'}}</span>
          <span class="d-block note-text">{{note.text}}</span>
        </div>
      </div>
    </div>

    <form [formGroup]="form">
      <lc-textarea idPrefix="note" label="Add a Note" formControlName="text"></lc-textarea>
    </form>
  </div>

  <!--Modal Footer -->
  <div class="modal-footer">
    <button id="cancel-notes-button" type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button id="save-notes-button" type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</div>
