<lc-step-content *ngIf="marketingOrder$ | async as marketingOrder"
                 (back)="goBack()" (next)="onSubmit(marketingOrder)">

  <h1>Let's pick your brochure features</h1>

  <form *ngIf="form" [formGroup]="form">
    <lc-card-options idPrefix="paper-size" formControlName="pageSizeChoice" label="Brochure Size" valuePath="code" [options]="paperSizeOptions$" displayPath="description"></lc-card-options>
    <lc-card-options idPrefix="paper-type" formControlName="paperTypeChoice" label="Paper Type" valuePath="code" [options]="paperTypeOptions$" displayPath="description"></lc-card-options>
  </form>
</lc-step-content>
