<div class="card mb-4 px-4" id="products-tile">
  <div class="row">
    <div class="col align-self-start">
      <h4 class="media align-items-center my-2">
        <div class="ion ion-md-cube text-large mr-3"></div>
        <div *ngIf="listing" class="media-body ml-1">
            Products & Services
        </div>
      </h4>
    </div>
    <div class="col align-self-end my-2 text-right">
      <a routerLink="{{'../products-services'}}">View All</a>
    </div>
  </div>

  <hr class="border-light mt-0 mb-0">
  <div class="card-body px-0">
    <div class="row m-0">
      <div class="col-sm-4 d-flex mb-3 mr-4 px-0 align-items-md-stretch service-product-card-container" *ngFor="let product of mainProducts">
        <a routerLink="{{product?.routerLink}}">
          <div class="card mr-3 justify-content-center service-product-card">
            <div class="align-items-center text-center">
              <img [src]="product.thumbnailUri" [alt]="product.title" width="50%">
              <h5 class="text-dark p-2">{{ product?.title }}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
