@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.logo-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.logo-overlay {
  padding: 8px;
}

.photographer-selected {
  border: 1px solid $cb-blue;
}

.photographer-icon-selected {
  color: $cb-blue;
}

.photographer-card {
  border-radius: 0.5rem;
  max-width: 500px;
}
