    <h4 class="font-weight-bold">Photography Services</h4>
    <div class="row">
      <div class="col-md-4 col-sm-4 d-flex mb-4">
        <div class="card justify-content-center shadow-sm photographer-card">
          <div class="card-logo mx-auto">
            <img id="photographer-logo-img" class="logo-img" [src]="appointment.photographer.logoUri"/>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb-4">
        <p>
        You have requested your professional photography session
        with <strong>{{appointment.photographer.name}}</strong>
        </p>
        <p>
          <strong>Date</strong><br>
          {{appointment.scheduledAt | date: 'shortDate'}}
        </p>
        <p>
          <strong>Time</strong><br>
          {{appointment.scheduledAt | date: 'shortTime'}}
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 mb-4">
        <p>Here is the information you provided to the photographer</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7 mb-4">
        <i class="ion" [ngClass]="{'ion-md-checkbox-outline': appointment.lockboxAvailable,
          'ion-md-square-outline': !appointment.lockboxAvailable}"></i> Lockbox Available
      </div>
    </div>

    <div class="row" *ngIf="appointment.lockboxAvailable">
      <div class="col-md-4 col-sm-4 mb-4">
        <h5>CODE</h5>
        {{appointment.lockbox.code}}
      </div>
      <div class="col-md-4 col-sm-4 mb-4">
        <h5>LOCATION</h5>
        {{appointment.lockbox.location}}
      </div>
    </div>

    <div class="row" *ngIf="appointment.comments">
      <div class="col-md-8 col-sm-8 mb-4">
        <h5>COMMENTS</h5>
        {{appointment.comments}}
      </div>
    </div>
