a.meanmenu-reveal {
  display: none
}

.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #0c1923;
  padding: 4px 0;
  min-height: 42px;
  z-index: 999999
}

.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700
}

.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px
}

.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #0c1923;
  margin-top: 44px
}

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none
}

.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%
}

.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-top: 1px solid #383838;
  border-top: 1px solid rgba(255, 255, 255, .5);
  text-decoration: none;
  text-transform: uppercase
}

.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  border-top: 1px solid #f1f1f1;
  border-top: 1px solid rgba(255, 255, 255, .25);
  opacity: .75;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible
}

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: 0;
  margin-bottom: 0
}

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%
}

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%
}

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%
}

.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255, 255, 255, .1)
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 1px;
  width: 26px;
  height: 32px;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: rgba(255, 255, 255, .1);
  border: 0 !important;
  border-left: 1px solid rgba(255, 255, 255, .4) !important;
  border-bottom: 1px solid rgba(255, 255, 255, .2) !important
}

.mean-container .mean-nav ul li a.mean-expand:hover {
  background: rgba(0, 0, 0, .9)
}

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0
}

.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.mean-remove {
  display: none !important
}

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0)
}

#cboxWrapper {
  max-width: none
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left
}

#cboxContent {
  position: relative
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

#cboxTitle {
  margin: 0
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box
}

#cboxOverlay {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/overlay.png) repeat 0 0;
  opacity: .9;
  filter: alpha(opacity=90)
}

#colorbox {
  outline: 0
}

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -101px 0
}

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -130px 0
}

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -101px -29px
}

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -130px -29px
}

#cboxMiddleLeft {
  width: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) left top repeat-y
}

#cboxMiddleRight {
  width: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) right top repeat-y
}

#cboxTopCenter {
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/border.png) 0 0 repeat-x
}

#cboxBottomCenter {
  height: 21px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/border.png) 0 -29px repeat-x
}

#cboxContent {
  background: #fff;
  overflow: hidden
}

.cboxIframe {
  background: #fff
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc
}

#cboxLoadedContent {
  margin-bottom: 28px
}

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494
}

#cboxLoadingOverlay {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/loading_background.png) no-repeat center center
}

#cboxLoadingGraphic {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/loading.gif) no-repeat center center
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: 0 0
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef
}

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px
}

#cboxPrevious:hover {
  background-position: -75px -25px
}

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px
}

#cboxNext:hover {
  background-position: -50px -25px
}

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_pdf/css/images/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px
}

#cboxClose:hover {
  background-position: -25px -25px
}

.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)
}

.magnify-color {
  display: inline-block;
  margin-left: 12px;
  width: 10%
}

.magnify-color img {
  cursor: pointer
}

.magnify-color img {
  height: auto;
  margin-left: 1px;
  width: 12px
}

@font-face {
  font-family: "RobotoBlack";
  src: url(./fonts/Roboto-Black.eot?) format("eot"), url(./fonts/Roboto-Black.woff) format("woff"), url(./fonts/Roboto-Black.ttf) format("truetype"), url(./fonts/Roboto-Black.svg#Roboto-Black) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "RobotoLight";
  src: url(./fonts/Roboto-Light.eot?) format("eot"), url(./fonts/Roboto-Light.woff) format("woff"), url(./fonts/Roboto-Light.ttf) format("truetype"), url(./fonts/Roboto-Light.svg#Roboto-Light) format("svg");
  /*src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');*/
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "agaramond-regular";
  src: url(./fonts/agaramond-regular.eot?) format("eot"), url(./fonts/agaramond-regular.woff) format("woff"), url(./fonts/agaramond-regular.ttf) format("truetype"), url(./fonts/agaramond-regular.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "adobegaramond-semibold2";
  src: url(./fonts/adobegaramond-semibold2.eot?) format("eot"), url(./fonts/adobegaramond-semibold2.woff) format("woff"), url(./fonts/adobegaramond-semibold2.ttf) format("truetype"), url(./fonts/adobegaramond-semibold2.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.eot);
  src: url(./fonts/Roboto-Regular.woff2) format('woff2'), url(./fonts/Roboto-Regular.woff) format('woff'), url(./fonts/Roboto-Regular.ttf) format('truetype'), url(./fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype');
  /*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');*/
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./fonts/Roboto-Regular.eot);
  src: url(./fonts/Roboto-Regular.woff2) format('woff2'), url(./fonts/Roboto-Regular.woff) format('woff'), url(./fonts/Roboto-Regular.ttf) format('truetype'), url(./fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype');
  /*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');*/
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(./fonts/Roboto-Bold.eot);
  src: url(./fonts/Roboto-Bold.woff2) format('woff2'), url(./fonts/Roboto-Bold.woff) format('woff'), url(./fonts/Roboto-Bold.ttf) format('truetype'), url(./fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype');
  /*src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');*/
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(./fonts/Roboto-Medium.ttf)
  /*src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');*/
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url(./fonts/RobotoCondensed-Light.eot);
  src: url(./fonts/RobotoCondensed-Light.woff2) format('woff2'), url(./fonts/RobotoCondensed-Light.woff) format('woff'), url(./fonts/RobotoCondensed-Light.ttf) format('truetype'), url(./fonts/RobotoCondensed-Light.eot?#iefix) format('embedded-opentype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(./fonts/RobotoCondensed-Regular.eot);
  src: url(./fonts/RobotoCondensed-Regular.woff2) format('woff2'), url(./fonts/RobotoCondensed-Regular.woff) format('woff'), url(./fonts/RobotoCondensed-Regular.ttf) format('truetype'), url(./fonts/RobotoCondensed-Regular.eot?#iefix) format('embedded-opentype');
  font-weight: 400;
  font-style: normal
}

body {
  font-feature-settings: "liga" 0
}

.lc-concierge-container {
  padding-top: 5%;
  padding-bottom: 3%;
  background: #f5f5f5;
  display: inline-block;
  width: 100%
}

.lc-feature-listing {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  font-size: .9em
}

.lc-feature-listing .form-item-online-marketing {
  margin: 0
}

.lc-feature-listing-item {
  min-width: 200px
}

.lc-feature-listing-item {
  clear: both;
  display: inline-block;
  float: none !important;
  width: 24% !important;
  vertical-align: text-top;
  min-width: 200px
}

.cds-saved-template-img {
  float: left;
  width: 100%;
  box-shadow: 0 0 2px 2px #ccc;
  background: #fff;
  cursor: pointer;
  overflow: hidden
}

.cds-saved-template-img:hover {
  box-shadow: 0 0 2px 4px #4bc1e4
}

.cds-saved-template-img img {
  width: 100%
}

.lc-concierge-container-left {
  box-shadow: 0 0 2px 2px #ccc;
  background: #fff
}

.lc-feature-listing .template_details {
  float: left;
  width: 100%;
  padding: 5px 0
}

.lc-feature-listing .template_details .template-name {
  float: left;
  width: 100%
}

.lc-feature-listing .template_details .template-name span {
  width: 100%;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line
}

.lc-feature-listing .template_details .template-side_photos {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px
}

.lc-feature-listing .template_details .temp_icons {
  float: left;
  width: auto
}

.template-filters {
  padding: 5%
}

.template-filters .form-item-page-no {
  margin-bottom: 0
}

.template-filters input[type=checkbox] + label:before, .mc-saved-checkbox input[type=checkbox] + label:before {
  content: "\00a0";
  height: 15px;
  width: 16px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 5px;
  font: 13px/1em sans-serif
}

.template-filters input[type=checkbox]:checked + label:before, .mc-saved-checkbox input[type=checkbox]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

.template-filters > form > div > div > label, .template-filters .term-reference-tree-level .parent-term {
  border-bottom: 1px solid #4bc1e4;
  width: 100%
}

.online_marketings {
  border-bottom: 1px solid #4cc4e7
}

.online_marketings input[type=radio] + label:before {
  content: '\00a0';
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #666;
  border-radius: 14px;
  vertical-align: text-top;
  margin-right: 5px
}

.online_marketings input[type=radio]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  text-align: center;
  font-weight: 700
}

.template-filters input[type=checkbox], .mc-saved-checkbox input[type=checkbox], .online_marketings input[type=radio] {
  display: none
}

.template-filters select {
  width: 130px;
  background: 0 0;
  text-transform: uppercase
}

.template-filters input.form-submit {
  margin: 20px 6% 0 0
}

.lc-feature-listing .temp_icons .temp_icons-item {
  height: 32px;
  width: 32px;
  display: inline-block
}

.lc-feature-listing .temp_icons .item_magnify img {
  width: 32px
}

.lc-feature-listing .temp_icons .fa-arrow-right {
  transform: rotate(90deg)
}

.temp_icons {
  text-align: center
}

.no-result-message {
  font-size: 3em
}

.template-filters .ajax-progress.ajax-progress-throbber {
  position: absolute;
  left: 25px;
  font-size: 14px;
  bottom: 37px
}

div#cboxTitle {
  display: none !important
}

.template-filters .term-reference-tree-button, .template-filters .no-term-reference-tree-button {
  width: 0;
  height: 0;
  margin-right: 0
}

.template-filters ul li ul.term-reference-tree-level {
  margin-left: 0
}

.mc-saved-status {
  display: block;
  float: left;
  width: 80%
}

.mc-saved-checkbox {
  float: right;
  display: block
}

.mc-updated {
  color: #94cfea
}

.template-setting-tools-menu .container {
  width: 100%
}

.toolbar__list {
  float: left;
  width: 100%
}

.canvas-zoom > small {
  float: left
}

.template-setting-tools .tabs-title {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding: 5%;
  position: relative;
  font-weight: 700;
  line-height: 25px
}

.template-setting-tools .tabs-title span {
  background: url(https://www.homecb.com/sites/all/modules/custom/cds_concierge_ordering_system/css/images/arrow.png) no-repeat scroll 100% center;
  position: absolute;
  height: 25px;
  width: 12px;
  right: 13px
}

.template-setting-tools .tabs-contain {
  padding: 5%
}

.template-setting-tools-menu {
  background: #efefef;
  padding: 5px
}

.template-setting-tools input[type=checkbox] + label:after {
  content: "\00a0";
  height: 15px;
  width: 16px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 5px;
  font: 13px/1em sans-serif
}

.template-setting-tools input[type=checkbox]:checked + label:after {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

.template-setting-tools input[type=checkbox] {
  display: none
}

.template-setting-tools .tabs-contain form {
  font-size: 14px
}

.template-setting-tools .tabs-contain form #agent_submit, .template-setting-tools .tabs-contain form #lc_removeagent_button {
  text-align: right
}

.template-setting-tools .tabs-contain form #lc_removeagent_button .edit-black {
  margin-right: 0
}

.tabs-last {
  padding: 5%
}

.show-border {
  border-top: 1px solid #000
}

.instruction-info {
  font-size: 12px;
  color: #000;
  float: left;
  width: 100%;
  padding: 5px;
  margin-top: 15px
}

.note-to-mc {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 20px
}

.template-setting-tools-menu ul {
  margin: 0;
  padding: 0
}

.template-setting-tools-menu .canvas-zoom.char_limit small {
  margin-top: 5px;
  padding-right: 7px
}

.template-setting-tools-menu li {
  list-style: none;
  display: inline;
  float: left;
  margin: 5px !important
}

.template-setting-tools-menu .page-selection.span_back > span {
  width: 30px;
  height: 30px;
  border: 2px solid #606060;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  color: #606060;
  margin: 5px;
  float: left
}

.template-setting-tools-menu .page-input {
  width: auto;
  float: left;
  padding: 5px !important;
  text-align: center;
  height: 30px;
  margin-top: 3px !important
}

.template-setting-tools-menu .list-lable {
  height: 30px;
  margin-top: 9px
}

.template-setting-tools-menu .page-selection.span_back > span .fa {
  font-size: 15px;
  vertical-align: middle
}

.template-setting-tools-menu .page-selection.span_back > span .fa {
  font-size: 20px
}

.template-setting-tools-menu li.menu_item__separator {
  border-right: 2px solid #ccc;
  display: inline-block;
  height: 34px;
  vertical-align: middle
}

.template-setting-tools-menu .bold_button {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/bold.svg");
  background-size: 11.1px 15px
}

.template-setting-tools-menu .button_italic {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/italics.svg");
  background-size: 12px 14px
}

.template-setting-tools-menu .button--left {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/text-align-left.svg");
  background-size: 17px 14px
}

.template-setting-tools-menu .button--center {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/text-align-center.svg");
  background-size: 17px 14px
}

.template-setting-tools-menu .button--right {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/text-align-right.svg");
  background-size: 17px 14px
}

.template-setting-tools-menu .button--plain_text {
  background-image: url("/sites/all/modules/custom/collateral_design_system/svg/plaintexticon.png");
  background-size: 20px 20px
}

.template-setting-tools-menu .button--icon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px
}

.template-setting-tools-menu .menu_tool__button {
  background-color: transparent;
  border: 1px solid transparent
}

.template-setting-tools-menu .menu_tool__button {
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  justify-content: space-between
}

.template-setting-tools-menu .menu_tool__button .menu_tool__button .toolbar__label {
  height: 28px;
  pointer-events: none;
  width: auto
}

.template-setting-tools-menu .button--icon .toolbar__label {
  display: none
}

.template-setting-tools-menu .toolbar__label {
  box-sizing: border-box;
  padding: 5px 0
}

.template-setting-tools-menu .glyphicon {
  top: 7px
}

.template-setting-tools-menu li.menu_item__separator {
  float: left !important;
  margin: 5px 15px !important
}

.template-setting-tools-menu .form-submit {
  margin: 0
}

.canvas-zoom > label, .page-selection.span_back > label {
  padding-top: 5px;
  float: left
}

.link-back.pop-up-alert, .glyphicon.glyphicon-list, .page-selection.span_back .fa {
  cursor: pointer
}

.photo_item {
  width: 29%;
  float: left;
  margin: 5px;
  border: 1px solid #ccc
}

.lc-photo-listings {
  height: 600px;
  overflow: auto
}

.template-content-pdf {
  float: left;
  width: 100%;
  overflow: auto
}

.template-content-pdf .canva_contain {
  float: left;
  display: block;
  background: #fff
}

.template-button-footer {
  float: left;
  padding: 10px;
  text-align: right;
  width: 100%
}

.cover {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

#image-container-button {
  color: #000;
  z-index: 999999;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa
}

#image-container-button .crop-tools-label {
  float: left;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0 0 13px !important;
  color: #666
}

#image-container-button li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer
}

#image-container-button li img {
  width: 24px;
  vertical-align: text-bottom
}

#image-container-button li input[type=range] {
  cursor: pointer
}

.replace-resize-tool {
  float: left;
  padding: 5px;
  box-shadow: 0 0 2px 2px #ccc;
  margin-top: 15px;
  background: #fff;
  z-index: 555;
  margin-left: 0;
  right: 0;
  margin-right: 0
}

.replace-resize-tool .top-wrapper {
  border: 1px solid #d1d1d1;
  background: #f8f8f8;
  padding: 7px
}

.replace-resize-tool .header-section ul {
  display: inline-block;
  padding: 5px 0;
  margin-left: 4%
}

.replace-resize-tool .header-section ul li {
  display: inline-block;
  padding: 0 2px;
  line-height: 0;
  vertical-align: middle;
  position: relative
}

.replace-resize-tool .header-section ul li span {
  float: left;
  width: 17px;
  height: 15px;
  margin-top: 3px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_concierge_feature/css/images/photoframe.png);
  background-repeat: no-repeat;
  background-size: contain
}

.replace-resize-tool .header-section ul li span:last-child {
  width: 25px;
  height: 20px;
  margin-top: 1px
}

.replace-resize-tool .header-section ul li button {
  width: 20px;
  height: 20px;
  border: none;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center
}

button.rotate-clockwise {
  background: url(https://www.homecb.com/sites/all/modules/custom/collateral_design_system/text_icons/RotateClockwise.png) center top
}

button.rotate-anti-clockwise {
  background: url(https://www.homecb.com/sites/all/modules/custom/collateral_design_system/text_icons/RotateCounterClockwise.png) center top
}

.replace-resize-tool input[type=range] {
  -webkit-appearance: none;
  background: 0 0;
  float: left;
  padding: 0 5px;
  width: 145px
}

.replace-resize-tool input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #606060;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #606060;
  cursor: pointer;
  margin-top: -6px
}

.replace-resize-tool input[type=range]::-moz-range-thumb {
  border: 1px solid #606060;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #606060;
  cursor: pointer
}

.replace-resize-tool input[type=range]::-ms-thumb {
  border: 1px solid #606060;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #606060;
  cursor: pointer
}

.replace-resize-tool input[type=range]:focus {
  outline: none
}

.replace-resize-tool input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-top: 10px;
  background: rgba(0, 0, 0, .15)
}

.replace-resize-tool input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgba(0, 0, 0, .15)
}

.replace-resize-tool input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: 0 0;
  border-color: transparent;
  color: transparent
}

.replace-resize-tool input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, .15)
}

.replace-resize-tool input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, .15)
}

.replace-resize-tool input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, .15)
}

.replace-resize-tool input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, .15)
}

.move-section {
  cursor: move;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 10px;
  margin-top: 4px;
  background: url(https://dev.cbone.me/sites/all/modules/custom/listing_concierge_feature/css/images/move-gray.png) right center;
  background-size: 30px;
  background-repeat: no-repeat;
  font-size: 0;
  height: 30px
}

.replace-resize-tool .container-wrapper {
  background: #f8f8f8;
  overflow: hidden;
  position: relative;
  cursor: move;
  border: 1px solid #000
}

#replace-image-canvas {
  left: 0;
  pointer-events: none;
  position: relative;
  top: 0;
  -moz-user-select: none;
  max-width: none
}

.replace-resize-tool .bottom-wrapper {
  text-align: right
}

.drag-message {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background: #343434;
  opacity: .6;
  color: #fff;
  font-size: 30px;
  display: none
}

.drag-message .inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.container1 {
  display: none;
  border: 1px dashed;
  bottom: 0;
  min-height: 427px;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  min-width: 603px;
  float: left;
  margin-bottom: 100px
}

.container1 .cropit-preview {
  background-color: #fafafa;
  background-size: cover;
  border: 2px dashed red;
  border-radius: 3px;
  margin-top: 7px;
  height: 400px;
  position: relative !important;
  width: 400px;
  margin: 0 auto
}

.page-lc-product .cropit-preview-image-container {
  cursor: move
}

.page-lc-product .cropit-preview-background {
  opacity: .2;
  cursor: auto
}

.cropit-preview-image-container img {
  max-width: none !important
}

.image-editor ul.instruction {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 10px 25px
}

.image-editor ul.instruction li {
  list-style: disc
}

#image-container-button li {
  vertical-align: middle
}

.lc-concierge-container .col-lg-9 {
  padding-right: 0
}

.template-setting-tools-menu ul li.top-buttons {
  float: right
}

.cdswheel {
  background: rgba(0, 0, 0, .5) url("/sites/all/modules/custom/collateral_design_system/images/wheel.gif") no-repeat scroll center 227px !important;
  color: #fff;
  font-size: 90px;
  height: 100%;
  padding-top: 46%;
  position: fixed;
  text-align: center;
  text-shadow: 0 0 23px #000;
  width: 100%;
  z-index: 38
}

.cdswheel > div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 69px;
  height: 60px;
  left: 393px;
  position: fixed;
  text-align: center;
  top: 261px;
  width: 118px;
  z-index: 98
}

.cdswheel .cdswheel-message {
  font-size: 16px;
  height: auto;
  width: 100%;
  top: 350px;
  text-align: center;
  left: 0
}

.cdswheel .cdswheel-message .message {
  text-align: left;
  width: 430px;
  margin-left: auto;
  margin-right: auto
}

.lc_load_data {
  position: absolute;
  top: 37px;
  z-index: 2;
  background-color: #fff;
  padding: 11px;
  width: 250%;
  display: none;
  border: 1px solid #bbb
}

.lc_load_data:after {
  content: 'Next page is loading in the background. Please try again in a few moments.'
}

.page-lc-product .flag-bookmarks {
  display: inline-block;
  height: 30px;
  width: 30px
}

.lc-feature-listing .mc-template-details {
  display: inline-block;
  width: 45%;
  vertical-align: middle
}

.lc-feature-listing .template-side_photos.mc-user {
  float: none;
  width: auto;
  padding: 0
}

.lc-feature-listing .temp_icons.mc-user {
  display: inline-block
}

.lc-feature-listing .mc-select-template {
  display: inline-block;
  float: right;
  margin-top: 9px;
  vertical-align: middle;
  width: 45%
}

.mc-select-template input[type=checkbox] {
  display: none
}

.mc-select-template label {
  font-weight: 400
}

.mc-select-template input[type=checkbox] + label:after {
  border: 1px solid #000;
  background: #fff;
  content: "\00a0";
  display: inline-block;
  font: 18px/1em sans-serif;
  height: 20px;
  margin: .1em 0 0 .5em;
  padding: 0;
  vertical-align: top;
  width: 20px
}

.mc-select-template input[type=checkbox]:checked + label:after {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

.lc-concierge-container .templates-button-footer {
  text-align: right
}

.lc-concierge-container .fieldset-legend {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 137px
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .lc-concierge-container .fieldset-wrapper {
    float: right;
    width: 100%
  }

  .lc-concierge-container legend {
    width: 101%
  }
}

@-moz-document url-prefix() {
  .lc-concierge-container .fieldset-wrapper {
    float: left;
    width: 64%
  }
  .lc-concierge-container legend {
    width: 65%
  }
}

.lc-concierge-container label.option {
  font-size: 14px;
  color: #666;
  font-weight: 400
}

.sorting-div {
  margin: 20px 0 10px
}

.lc-concierge-container .publication-information label.option, .lc-concierge-container .publication-information .tabs-contain a {
  font-size: 14px;
  color: #4bc1e4;
  font-weight: 700
}

.lc-concierge-container .publication-information {
  float: left;
  width: 100%;
  margin-top: 20px
}

.publication-information .template-setting-tools .tab-one .tabs-contain {
  text-align: right
}

#autocomplete {
  background: #fff
}

#autocomplete ul {
  overflow: auto;
  max-height: 200px
}

#autocomplete ul li div {
  text-align: left
}

#autocomplete ul li div:hover {
  background: #4cc4e7
}

.template-setting-tools-menu ul.toolbar__list li .tool-active {
  border-bottom: 1px solid #000
}

.flag-bookmarks.templates_design_delete, .flag-bookmarks.download_pdf {
  cursor: pointer;
  margin-left: 5px
}

.ckeditor-options {
  float: left;
  width: 100%;
  padding: 5px;
  box-shadow: 0 0 2px 2px #ccc;
  margin-top: 15px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 25%;
  z-index: 555;
  margin-left: 0;
  right: 0;
  margin-right: 0;
  width: 50%
}

.ckeditor-options .text-format-wrapper #switch_edit-ckeditor-value {
  display: none !important
}

.ckeditor-options fieldset#edit-ckeditor-format {
  display: none
}

.ckeditor-options input#edit-ckoptionsubmit {
  float: right
}

.ckeditor-options .text-format-wrapper .form-type-textarea {
  margin-top: 0
}

.tabs-contain.mailing_list > form {
  text-align: left
}

.tabs-contain.mailing_list > form input[type=checkbox] + label:before {
  border: 1px solid #000;
  content: "\00a0";
  display: inline-block;
  font: 13px/1em sans-serif;
  height: 24px;
  margin-right: 5px;
  padding-top: 4px;
  width: 24px
}

.tabs-contain.mailing_list > form input[type=checkbox]:checked + label:before {
  background: #4cc4e7 none repeat scroll 0 0;
  color: #fff;
  content: "\2713";
  font-weight: 700;
  margin-top: 5px;
  text-align: center
}

.tabs-contain.mailing_list > form input[type=checkbox] + label:after {
  display: none
}

.tabs-contain.mailing_list > form input[type=checkbox]:checked + label:after {
  display: none
}

#lc-mailing-option-form a.preview {
  color: #4cc4e7;
  font-weight: 700
}

#lc-mailing-option-form a {
  color: #4cc4e7
}

.tabs-contain.mailing_list > form label.option {
  font-size: 12px
}

.tabs-contain.mailing_list > form .form-item.form-type-checkbox.form-item-direct-mail-postcards-upload-own-list {
  margin-top: 1em !important
}

.online_marketings input[type=radio] + label {
  font-weight: 400 !important
}

.online_marketings input[type=radio] + label {
  font-weight: 400 !important
}

.template_details .mc-template-details {
  width: auto !important
}

.page-lc-product #confirmBox {
  position: fixed
}

#lc-cbmobile-form {
  padding-left: 39px
}

#lc-cbmobile-form .form-item.form-type-textfield.form-item-sign-rider-keyword {
  width: 190px;
  float: left;
  margin-top: 0 !important
}

#lc-cbmobile-form .form-item.form-type-textfield.form-item-date-sign-rider-requested {
  width: 234px;
  float: left
}

#lc-cbmobile-form #edit-submit1 {
  margin-top: 226px;
  margin-left: 7px
}

#lc-cbmobile-form #edit-submit2 {
  margin-top: 226px;
  margin-left: 7px
}

#lc-cbmobile-form #edit-submit3 {
  margin-top: 226px;
  margin-left: 7px
}

#lc-cbmobile-form #edit-submit2 {
  background-color: #666;
  border: 2px solid #666
}

#lc-cbmobile-form #edit-submit2:hover {
  background-color: transparent;
  border: 2px solid #666;
  color: #666 !important
}

#lc-cbmobile-form #edit-submit4 {
  background-color: #666;
  border: 2px solid #666
}

#lc-cbmobile-form #edit-submit4:hover {
  background-color: transparent;
  border: 2px solid #666;
  color: #666 !important
}

.page-lc-product-cb-mobile .ui-datepicker {
  margin-left: 159px;
  padding: .2em .2em 0;
  width: 21em
}

;
.page-lc-product-cb-mobile .container-inline-date .date-padding {
  float: none !important
}

.page-lc-product-cb-mobile .container-inline-date {
  float: left
}

.page-lc-product-cb-mobile .date-padding label {
  display: none !important
}

.page-lc-product-cb-mobile .container-inline-date label {
  display: block
}

.page-lc-product-cb-mobile .form-text.hasDatepicker.date-popup-init {
  width: 235px
}

.page-lc-product-cb-mobile #edit-date-sign-rider-requested-datepicker-popup-0 {
  width: 223px
}

#edit-submit4 {
  margin-left: 7px;
  margin-top: 226px
}

.page-lc-product-television #ui-datepicker-div td, .page-lc-product-television #ui-datepicker-div th {
  padding: 0
}

.page-lc-product-television #listing-concierge-flyers-form #edit-preferred-web-air-date label {
  display: none
}

.page-lc-product-television #listing-concierge-flyers-form #edit-preferred-tv-air-date label {
  display: none
}

.page-lc-product-television #listing-concierge-flyers-form .container-inline-date {
  width: 45%;
  display: inline-block;
  margin-left: 2%
}

.page-lc-product-television #listing-concierge-flyers-form .container-inline-date label {
  font-size: 11px
}

.page-lc-product-television .listing-photo-gallery {
  width: 100%
}

.page-lc-product-television #sortable1 {
  min-height: 220px;
  margin: 10px 0
}

.page-lc-product-television #sortable2 {
  min-height: 180px
}

.page-lc-product-television #sortable1 .listing-photo {
  width: 100px;
  height: 60px
}

.page-lc-product-television .tab-photo-contain {
  padding: 0
}

.page-lc-product-television #listing-concierge-flyers-form #edit-preferred-web-air-date-datepicker-popup-0 {
  padding: 0
}

.page-lc-product-television #listing-concierge-flyers-form .form-item-listing-bedrooms {
  width: 22%;
  margin-right: 10px;
  float: left
}

.page-lc-product-television #listing-concierge-flyers-form .form-item-listing-bathrooms {
  width: 22%;
  margin-right: 10px;
  float: left
}

.page-lc-product-television #listing-concierge-flyers-form .form-item-listing-sqft {
  width: 22%;
  margin-right: 10px;
  float: left
}

.page-lc-product-television #listing-concierge-flyers-form .form-item-listing-lot-sqft {
  width: 22%;
  margin-right: 10px;
  float: left
}

.page-lc-product-television #listing-concierge-flyers-form input[type=checkbox] + label:before {
  content: "\00a0";
  height: 15px;
  width: 16px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 5px;
  font: 13px/1em sans-serif
}

.page-lc-product-television #listing-concierge-flyers-form input[type=checkbox]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

.page-lc-product-television #listing-concierge-flyers-form input[type=checkbox] + label:after {
  content: none
}

.page-lc-product-television #listing-concierge-flyers-form .form-item-agent-name {
  float: left;
  width: 63%
}

.page-lc-product-television #listing-concierge-flyers-form #edit-primary-agent {
  width: 35%;
  margin-left: 2%;
  margin-top: 7%;
  float: left;
  padding-bottom: 16px
}

.page-lc-product-television #listing-concierge-flyers-form input {
  background-color: #fff
}

.page-lc-product-television #listing-concierge-flyers-form textarea {
  background-color: #fff
}

.page-lc-product-television #listing-concierge-flyers-form .custom-read-only {
  background-color: #ececec
}

.new-photo-order-save {
  text-align: right
}

.email-flyer-sent-form {
  float: left;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  color: #9f9588;
  width: 98%
}

.email-flyer-sent-form label {
  font-weight: 500;
  font-size: 16px
}

.email-flyer-sent-form label span {
  font-size: 12px
}

.email-flyer-tabs ul li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 7px
}

.email-flyer-send-tab-data {
  display: none
}

.email-flyer-html-data {
  display: none;
  padding: 20px 70px
}

.email-flyer-html-data .form-textarea-wrapper textarea {
  height: 200px
}

.email-flyer-tabs ul li a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px
}

.email-flyer-tabs ul li a:hover {
  color: #000
}

.email-flyer-tabs ul li.active a {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none
}

.email-flyer-body {
  background: #fff;
  width: 100%;
  float: left
}

.email-flyer-body .col-xs-4 {
  padding-top: 23px
}

.email-flyer-sent-form .email-flyer-send-title {
  border-bottom: 2px solid #4cc4e7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px
}

.email-flyer-sent-form input {
  background: #fff
}

.email-flyer-sent-form label, .email-flyer-sent-form .description {
  font-size: 14px
}

.email-flyer-sent-form label {
  text-transform: uppercase
}

.email-flyer-sent-form .listing-email-submit {
  text-align: left
}

.email-flyer-schedule-data {
  display: none;
  padding: 20px 70px;
  float: left;
  width: 100%
}

.email-flyer-schedule-data .ef-schedule-data1, .email-flyer-schedule-data .ef-schedule-data2 {
  float: left;
  width: 37%
}

.email-flyer-schedule-data .ef-schedule-data1 {
  border: 2px solid #ddd;
  margin-right: 1%;
  padding: 10px;
  min-height: 550px
}

.email-flyer-schedule-data .ef-schedule-data2 .ef-schedule-panda-iframe {
  width: 453px;
  height: 550px;
  border: 2px solid #ddd;
  background: #efefef
}

.email-flyer-schedule-data .ef-schedule-data1 .ef-schedule-heading {
  text-transform: uppercase;
  border-bottom: 2px solid #4cc4e7;
  padding-bottom: 5px
}

.email-flyer-schedule-data .ef-schedule-data1 .ef-schedule-instructions {
  padding-top: 5px
}

.email-flyer-schedule-data .ef-schedule-data1 .ef-schedule-distribution {
  margin-top: 50px
}

.email-flyer-schedule-data .ef-schedule-data1 .ef-schedule-distribution label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px
}

.page-lc-product-flyer #checkboxes-div .lc-feature-listing-item {
  padding-left: 6px;
  padding-right: 6px
}

.page-lc-product-flyer #checkboxes-div .lc-feature-listing-item .lc-feature-listing .template_details .online_marketings {
  border-bottom: none
}

.page-lc-product-flyer #checkboxes-div .lc-feature-listing-item .lc-feature-listing .template_details .temp_icons {
  margin-bottom: 10px
}

.page-lc-product-website #lc-document-photos-upload-form .form-submit {
  border: 2px solid #4cc4e7
}

.page-lc-product-website #lc-document-photos-upload-form .form-submit:hover {
  color: #4cc4e7;
  border: 2px solid #4cc4e7;
  background-color: transparent
}

#inner-box {
  background: #606368 none repeat scroll 0 0;
  height: 73%;
  opacity: .75;
  position: absolute;
  width: 86%
}

#inner-box > span {
  color: #fff;
  font: bold 239% sans-serif;
  left: 22px;
  margin: 0 !important;
  opacity: .38;
  padding: 0 !important;
  position: absolute;
  text-shadow: 0 0 2px rgba(0, 0, 0, .6);
  top: 125px;
  z-index: 2;
  text-align: center
}

.lc-feature-listing-item {
  position: relative
}

.page-lc-product div.lc-website-service-ids {
  background: #eee none repeat scroll 0 0;
  bottom: 0;
  height: 97px;
  padding: 26px 0 0 20px !important;
  width: 100%;
  margin-top: -8px
}

.page-lc-product-circle-pix div.lc-concierge-container {
  padding: 0 40px
}

#lc-share-option-form .form-item-share-listing-with label {
  border-bottom: 1px solid #4bc1e4 !important;
  width: 100%;
  margin: 5px 0 30px
}

#shared-lc-agent-remove-form .shared-agents-title {
  border-bottom: 1px solid #4bc1e4 !important;
  width: 100%;
  margin: 15px 0;
  font-size: 14px;
  font-weight: 700
}

#shared-lc-agent-remove-form input[type=checkbox] {
  width: 15px;
  height: 15px;
  display: block
}

.email-flyer-pps-status {
  vertical-align: bottom;
  margin: 0 !important;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 9px 2px 0
}

#television-confirmBox {
  background-color: #fff;
  border: 5px solid #ddd;
  border-radius: 10px;
  color: #666;
  display: none;
  left: 25%;
  padding: 16px;
  position: absolute;
  top: 25%;
  width: 50%;
  z-index: 1002
}

#television-confirmBox {
  background-color: #fff !important;
  border: 5px solid #ddd !important;
  border-radius: 10px !important;
  color: #666 !important;
  left: 25% !important;
  padding: 16px !important;
  position: fixed !important;
  top: 35% !important;
  width: 50% !important;
  z-index: 1002 !important
}

#television-confirmBox .television-message {
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  text-align: center
}

#television-confirmBox .television-message {
  color: #606060 !important
}

#television-confirmBox .buttons {
  text-align: center
}

#television-confirmBox span.yes {
  padding-right: 5px
}

#television-confirmBox .buttons {
  text-align: center
}

#television-confirmBox {
  color: #606060
}

#television-confirmBox {
  color: #606060 !important
}

#television-confirmBox span.yes .long, #television-confirmBox span.no .long {
  background: #ddd none repeat scroll 0 0;
  border: 5px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px
}

#television-confirmBox .no .long, #television-confirmBox .yes .long {
  display: inline-block
}

#television-confirmBox span.yes {
  padding-right: 5px
}

.television-cover {
  background-color: rgba(0, 0, 0, .5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

.template-filters .term-reference-tree-level .parent-term {
  margin-top: 17px
}

#get-filter-cds-setting .form-item-variations-filter {
  margin-top: -11px
}

#television_submit {
  background-color: #4cc4e7;
  border: 2px solid #4cc4e7;
  border-radius: unset;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 3px 12px;
  text-transform: uppercase
}

#television_submit:hover {
  background-color: #fff;
  border: 2px solid #4cc4e7;
  color: #4cc4e7 !important;
  font-weight: 500
}

#disabled_reales_proof {
  background-color: #666;
  border: 2px solid #666;
  color: #fff;
  cursor: not-allowed;
  font-size: 16px;
  opacity: 1;
  padding: 3px 12px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: .65
}

#disabled_reales_proof:hover {
  padding: 3px 12px;
  border: 2px solid #666;
  text-transform: uppercase;
  background-color: transparent;
  color: #666;
  opacity: .65;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 400
}

#lc-product-text-edit-form #edit-cancel {
  background: #606060;
  border: 2px solid #606060;
  margin-left: 75%
}

#lc-product-text-edit-form #edit-cancel:hover {
  background: #fff;
  border: 2px solid #666;
  color: #666 !important
}

.email-flyer-pps-status {
  float: left;
  font-size: 14px;
  margin-left: 105px;
  margin-top: 13px;
  text-transform: uppercase
}

.listing-photos .tabs-contain {
  padding: 5px
}

.listing-photos .photo_item {
  margin: 0;
  padding: 5px;
  width: 50%;
  border: 0
}

.listing-photo-gallery #sortable2 .listing-photo {
  width: auto;
  height: auto
}

.listing-photo-gallery #sortable2 {
  border-left: none;
  margin: 0;
  padding: 0
}

.listing-photo-gallery #sortable2 li .photos-data {
  background: 0 0
}

.listing-photo-gallery #sortable2 li {
  margin: 0;
  padding: 2px;
  width: 50%;
  border: 0;
  background: 0 0;
  padding-bottom: 10px
}

.lc-listing-merge-content {
  width: 80%;
  margin: 10px auto
}

.lc-listing-merge-header .lc-listing-merge-title {
  margin-left: 35px;
  text-transform: uppercase
}

#lc-merge-list-filter-form .form-item-address label {
  display: block
}

#lc-merge-list-filter-form #edit-address, #lc-merge-list-filter-form .form-item-address, #lc-merge-list-filter-form .merge-list-filter-submit, #lc-merge-list-filter-form .edit-search-description, #lc-merge-list-filter-form #edit-search-description {
  display: inline-block
}

#lc-merge-list-filter-form .merge-list-filter-description {
  width: 170px;
  margin-left: 20px;
  position: absolute;
  margin-top: -8px
}

#lc-merge-list-filter-form #edit-address {
  width: 160px;
  border: 1.5px solid #ddd
}

#lc-merge-list-filter-form .merge-list-filter-submit .form-submit {
  margin-top: 0
}

#lc-merge-list-filter-form .merge-list-filter-submit {
  display: inline-block;
  margin-left: 10px
}

#lc-listing-merge-selection-form input[type=checkbox] {
  display: none
}

#lc-listing-merge-selection-form input[type=checkbox] + label:before {
  content: "\00a0";
  height: 15px;
  width: 16px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 5px;
  font: 13px/1em sans-serif;
  background: #fff
}

#lc-listing-merge-selection-form input[type=checkbox]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

#lc-listing-merge-selection-form tr.selected td {
  background: #fff
}

#lc-listing-merge-selection-form tr.odd, #lc-listing-merge-selection-form tr.even {
  background: #eee !important;
  border-bottom: none !important
}

#lc-listing-merge-selection-form th {
  background: #606060;
  color: #fff
}

#lc-listing-merge-selection-form ul.pagination {
  padding-bottom: 0 !important;
  padding-top: 10px
}

#lc-listing-merge-selection-form .lc-listing-merge-form {
  text-align: right;
  margin-bottom: 30px
}

#lc-listing-merge-selection-form .btn.form-submit {
  padding: 3px 20px
}

#lc-listing-merge-selection-form .edit-black.btn.form-submit {
  padding: 3px 12px
}

#lc-listing-merge-selection-form td.listing-edit {
  text-align: center
}

#lc-listing-merge-detail-form input[type=checkbox] {
  display: none
}

#lc-listing-merge-detail-form input[type=checkbox][disabled] + label:before {
  outline: 1px solid red;
  background: #606060 !important
}

#lc-listing-merge-detail-form input[type=checkbox] + label:before {
  content: "\00a0";
  height: 15px;
  width: 16px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 5px;
  font: 13px/1em sans-serif;
  background: #fff
}

#lc-listing-merge-detail-form input[type=checkbox]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

#lc-listing-merge-detail-form .merge-listing-description strong {
  text-transform: uppercase
}

.active-email-flyer-div input[type=checkbox]:checked + label:after {
  background: #4cc4e7 none repeat scroll 0 0;
  color: #fff;
  content: "✓";
  font-weight: 700;
  text-align: center
}

.active-email-flyer-div input[type=checkbox] + label:after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #000;
  content: " ";
  display: inline-block;
  font: 18px/1em sans-serif;
  height: 20px;
  margin: .1em 0 0 .5em;
  padding: 0;
  vertical-align: top;
  width: 20px
}

.active-email-flyer-div input[type=checkbox] + label:after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #000;
  content: " ";
  display: inline-block;
  font: 18px/1em sans-serif;
  height: 20px;
  margin: .1em 0 0 .5em;
  padding: 0;
  vertical-align: top;
  width: 20px
}

.active-email-flyer-div input[type=checkbox] {
  display: none
}

.active-email-flyer-div {
  display: inline-block;
  float: right;
  margin-left: 6px;
  margin-top: 9px;
  vertical-align: middle;
  width: 0
}

.lc-concierge-container-right .html-form-fields {
  border: 2px solid;
  float: left;
  margin-left: .5%;
  min-height: 500px;
  padding: 5px 10px;
  width: 98%
}

.lc-concierge-container-right .html-form-fields {
  float: left;
  width: 98%;
  min-height: 500px;
  border: 2px solid;
  margin-left: .5%;
  padding: 5px 10px
}

#lc-email-flyer-html-create-form .form-title {
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 700
}

#lc-email-flyer-html-create-form .form-title span {
  text-transform: initial;
  font-weight: 400;
  margin-left: 20px;
  display: inline-block;
  color: #000
}

.page-lc-product-email-flyer .form-item-list-price {
  width: 50%
}

.page-lc-product-email-flyer .part-one-inner .form-item {
  width: 20%;
  display: inline-block;
  margin: 0 5px
}

.page-lc-product-email-flyer .part-one {
  border-bottom: 2px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em
}

#lc-email-flyer-html-create-form .form-item-bathroom {
  margin-right: 40px !important
}

.page-lc-product-email-flyer .part-one .form-type-textfield {
  text-transform: uppercase
}

.page-lc-product-email-flyer .form-item-one .form-item {
  display: inline-block;
  margin-right: 5px
}

.page-lc-product-email-flyer .form-item-one input[type=checkbox] + label:before {
  background: 0 0;
  color: #fff;
  content: "\00a0";
  text-align: center;
  font-weight: 700;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
  margin-right: 4px
}

.page-lc-product-email-flyer .form-item-one input[type=checkbox]:checked + label:before {
  background: #4cc4e7;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: 700
}

.page-lc-product-email-flyer .form-item-one input {
  display: none
}

#lc-email-flyer-html-create-form #edit-marketing-copy-format, #lc-email-flyer-html-create-form .form-item-two .ckeditor_links {
  display: none !important
}

#preview-button {
  margin-right: 10px
}

.page-lc-product-email-flyer .form-item-youtube-vimeo label, .page-lc-product-email-flyer .form-item-matterport-3d label {
  display: inline-block;
  float: left;
  padding: 7px 7px 7px 0;
  width: 135px
}

.page-lc-product-email-flyer .part-one .form-type-textfield input {
  font-family: Verdana, Arial, sans-serif
}

.page-lc-product-email-flyer .form-item-two {
  margin-bottom: 1em
}

.page-lc-product-email-flyer .template_details .temp_icons {
  text-align: left !important
}

.photo-message {
  padding: 2%
}

.delete_saved_property-website_instance_data img {
  cursor: pointer
}

.delete_saved_email_web_instance_data img {
  cursor: pointer
}

.email-preview-button {
  margin-right: 10px
}

.active-property-website-div input[type=checkbox]:checked + label:after {
  background: #4cc4e7 none repeat scroll 0 0;
  color: #fff;
  content: "✓";
  font-weight: 700;
  text-align: center
}

.active-property-website-div input[type=checkbox] + label:after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #000;
  content: " ";
  display: inline-block;
  font: 18px/1em sans-serif;
  height: 20px;
  margin: .1em 0 0 .5em;
  padding: 0;
  vertical-align: top;
  width: 20px
}

.active-property-website-div input[type=checkbox] {
  display: none
}

.active-property-website-div {
  display: inline-block;
  float: right;
  margin-top: 9px;
  vertical-align: middle;
  width: 7%
}

.page-lc-product-website .template_details .temp_icons {
  text-align: left !important
}

.delete_saved_property-website_instance_data img {
  cursor: pointer
}

.listing-photos .tabs-contain {
  padding: 5px
}

.listing-photos .photo_item {
  margin: 0;
  padding: 3px;
  width: 50%;
  border: 0
}

.page-lc-product-television .listing-photo-gallery #sortable2 li {
  margin: 0;
  padding: 3px;
  width: 50%;
  border: 0;
  background: 0 0
}

.page-lc-product-television .listing-photo-gallery #sortable2 li .photos-data {
  background: 0 0
}

.page-lc-product-television .listing-photos .lc-photo-listings .dragable_images {
  padding: 0
}

.page-lc-product-television #sortable2 {
  padding-left: 5px
}

.listing-photo-gallery #sortable2 .listing-photo, .listing-photo-gallery #sortable2-disable .listing-photo {
  width: 100%
}

.lc-need-help-content {
  background: #f5f5f5
}

.lc-need-help-content .need-help-heading-body {
  padding: 55px 0 5px;
  margin-left: 40px
}

.lc-need-help-content .need-help-heading-body .content {
  border-left: 4px solid #4bc1e4;
  padding-left: 10px
}

.lc-need-help-content .need-help-heading-body .lc-help-tip-headline {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700
}

.lc-need-help-content .need-help-heading-body .lc-help-body {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  color: #606060
}

.lc-need-help-content.edit .need-help-heading-body {
  padding-bottom: 55px
}

#cbone_approve_content {
  display: none;
  position: fixed;
  top: 25%;
  left: 20%;
  width: 65%;
  padding: 16px;
  border: 5px solid #ddd;
  z-index: 1002;
  background-color: #fff;
  border-radius: 10px;
  color: #000
}

#cbone_approve_content .message {
  text-align: left;
  padding: 30px
}

#cbone_approve_content .message .approve-please-confirm, #cbone_approve_content .message .approve-strongly-recommend, #cbone_approve_content .message .approve-bottom {
  font-weight: 700
}

#cbone_approve_content .message .approve-strongly-recommend {
  padding: 15px 0
}

#cbone_approve_content .message .approve-bottom {
  padding-top: 15px
}

#cbone_approve_content .buttons {
  text-align: left;
  margin-left: 35px
}

#cbone_approve_content span.yes {
  padding-right: 5px
}

#cbone_approve_content span.yes .long, #cbone_approve_content span.no .long {
  background: #ddd;
  padding: 5px 15px;
  border: 5px solid #ddd;
  border-radius: 5px;
  cursor: pointer
}

#cbone_approve_content .no .short, #cbone_approve_content .yes .short {
  display: none
}

#cbone_approve_content .no .long, #cbone_approve_content .yes .long {
  display: inline-block
}

#cbone_approve_content ul.approve-list {
  padding: 0 35px
}

#cbone_approve_content ul.approve-list, #cbone_approve_content .approve-list li {
  list-style: square
}

#cbone_approve_content #dummy-approve-action {
  margin-top: 0
}

#cbone_approve_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
  cursor: pointer;
  display: none
}

#edit-cbone-approve-action, #dummy-approve-action {
  padding: 5px 12px
}

.tabs-contain.mailing_list form .lc-send-seed input[type=checkbox] + label:before {
  display: none
}

.tabs-contain.mailing_list form .lc-send-seed input[type=checkbox]:checked + label:before {
  display: none
}

.tabs-contain.mailing_list form .lc-send-seed input[type=checkbox] + label:after {
  border: 1px solid #000;
  content: "\00a0";
  display: inline-block;
  font: 13px/1em sans-serif;
  height: 24px;
  margin-right: 5px;
  padding-top: 4px;
  width: 24px
}

.tabs-contain.mailing_list form .lc-send-seed input[type=checkbox]:checked + label:after {
  background: #4cc4e7 none repeat scroll 0 0;
  color: #fff;
  content: "\2713";
  font-weight: 700;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center
}

.tabs-contain.mailing_list form .direct-mail-file {
  display: inline-block;
  width: 40%
}

.tabs-contain.mailing_list form .lc-send-seed {
  display: inline-block;
  text-align: right;
  width: 60%
}

#show_brochure_size {
  margin-top: 10px
}

#edit-paper-type label {
  color: #606060
}

#edit-paper-type input[type=checkbox] + label:after {
  display: none !important
}

#edit-paper-type input[type=checkbox]:checked + label:before {
  background: #4cc4e7 none repeat scroll 0 0;
  color: #fff;
  content: "✓";
  font-weight: 700;
  text-align: center
}

#edit-paper-type input[type=checkbox] + label:before {
  border: 1px solid #000;
  content: " ";
  display: inline-block;
  font: 13px/1em sans-serif;
  height: 15px;
  margin-left: 5px;
  width: 16px;
  vertical-align: top;
  margin: 5px 5px 0 0
}

#cboxCurrent {
  left: 0 !important;
  width: 100% !important;
  text-align: center
}

#cboxClose, #cboxClose:hover {
  width: 30px;
  height: 30px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_concierge_feature/css/images/close-button.png);
  background-size: 30px 30px
}

#cboxPrevious, #cboxPrevious:hover {
  width: 30px;
  height: 30px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_concierge_feature/css/images/left-button.png);
  background-size: 30px 30px
}

#cboxNext, #cboxNext:hover {
  width: 30px;
  height: 30px;
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_concierge_feature/css/images/right-button.png);
  background-size: 30px 30px;
  left: 32px
}

.ups-tracking-information {
  display: block;
  width: 100%;
  float: left
}

.ups-tracking-information a {
  color: #606060 !important;
  font-family: Raleway
}

.ups-tracking-information a:hover {
  color: #606060 !important
}

.cds-saved-template-img.no-link:hover {
  box-shadow: 0 0 2px 2px #ccc !important
}

.cds-saved-template-img.no-link {
  cursor: auto !important
}

.cropit-preview-image {
  will-change: auto !important
}

@font-face {
  font-family: 'lg';
  src: url(./lg.eot?n1z373);
  src: url(./lg.eot?#iefixn1z373) format("embedded-opentype"), url(./lg.woff?n1z373) format("woff"), url(./lg.ttf?n1z373) format("truetype"), url(./lg.svg?n1z373#lg) format("svg");
  font-weight: 400;
  font-style: normal
}

.lg-icon {
  font-family: 'lg';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, .45);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
  border: none;
  outline: none
}

.lg-actions .lg-next.disabled, .lg-actions .lg-prev.disabled {
  pointer-events: none;
  opacity: .5
}

.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
  color: #fff
}

.lg-actions .lg-next {
  right: 20px
}

.lg-actions .lg-next:before {
  content: "\e095"
}

.lg-actions .lg-prev {
  left: 20px
}

.lg-actions .lg-prev:after {
  content: "\e094"
}

@-webkit-keyframes lg-right-end {
  0% {
    left: 0
  }
  50% {
    left: -30px
  }
  100% {
    left: 0
  }
}

@-moz-keyframes lg-right-end {
  0% {
    left: 0
  }
  50% {
    left: -30px
  }
  100% {
    left: 0
  }
}

@-ms-keyframes lg-right-end {
  0% {
    left: 0
  }
  50% {
    left: -30px
  }
  100% {
    left: 0
  }
}

@keyframes lg-right-end {
  0% {
    left: 0
  }
  50% {
    left: -30px
  }
  100% {
    left: 0
  }
}

@-webkit-keyframes lg-left-end {
  0% {
    left: 0
  }
  50% {
    left: 30px
  }
  100% {
    left: 0
  }
}

@-moz-keyframes lg-left-end {
  0% {
    left: 0
  }
  50% {
    left: 30px
  }
  100% {
    left: 0
  }
}

@-ms-keyframes lg-left-end {
  0% {
    left: 0
  }
  50% {
    left: 30px
  }
  100% {
    left: 0
  }
}

@keyframes lg-left-end {
  0% {
    left: 0
  }
  50% {
    left: 30px
  }
  100% {
    left: 0
  }
}

.lg-outer.lg-right-end .lg-object {
  -webkit-animation: lg-right-end .3s;
  -o-animation: lg-right-end .3s;
  animation: lg-right-end .3s;
  position: relative
}

.lg-outer.lg-left-end .lg-object {
  -webkit-animation: lg-left-end .3s;
  -o-animation: lg-left-end .3s;
  animation: lg-left-end .3s;
  position: relative
}

.lg-toolbar {
  z-index: 1082;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .45)
}

.lg-toolbar .lg-icon {
  color: #999;
  cursor: pointer;
  float: right;
  font-size: 24px;
  height: 47px;
  line-height: 27px;
  padding: 10px 0;
  text-align: center;
  width: 50px;
  text-decoration: none !important;
  outline: medium none;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear
}

.lg-toolbar .lg-icon:hover {
  color: #fff
}

.lg-toolbar .lg-close:after {
  content: "\e070"
}

.lg-toolbar .lg-download:after {
  content: "\e0f2"
}

.lg-sub-html {
  background-color: rgba(0, 0, 0, .45);
  bottom: 0;
  color: #eee;
  font-size: 16px;
  left: 0;
  padding: 10px 40px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1080
}

.lg-sub-html h4 {
  margin: 0;
  font-size: 13px;
  font-weight: 700
}

.lg-sub-html p {
  font-size: 12px;
  margin: 5px 0 0
}

#lg-counter {
  color: #999;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 12px;
  vertical-align: middle
}

.lg-toolbar, .lg-prev, .lg-next {
  opacity: 1;
  -webkit-transition: -webkit-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
  -moz-transition: -moz-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
  -o-transition: -o-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
  transition: transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear
}

.lg-hide-items .lg-prev {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0)
}

.lg-hide-items .lg-next {
  opacity: 0;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0)
}

.lg-hide-items .lg-toolbar {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0)
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
  -webkit-transform: scale3d(.5, .5, .5);
  transform: scale3d(.5, .5, .5);
  opacity: 0;
  -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1) 0s, opacity .25s cubic-bezier(0, 0, .25, 1) !important;
  -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1) 0s, opacity .25s cubic-bezier(0, 0, .25, 1) !important;
  -o-transition: -o-transform .25s cubic-bezier(0, 0, .25, 1) 0s, opacity .25s cubic-bezier(0, 0, .25, 1) !important;
  transition: transform .25s cubic-bezier(0, 0, .25, 1) 0s, opacity .25s cubic-bezier(0, 0, .25, 1) !important;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1
}

.lg-outer .lg-thumb-outer {
  background-color: #0d0a0a;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1080;
  max-height: 350px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
  -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
  -o-transition: -o-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
  transition: transform .25s cubic-bezier(0, 0, .25, 1) 0s
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab
}

.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing
}

.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important
}

.lg-outer.lg-thumb-open .lg-thumb-outer {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0)
}

.lg-outer .lg-thumb {
  padding: 10px 0;
  height: 100%;
  margin-bottom: -5px
}

.lg-outer .lg-thumb-item {
  border-radius: 5px;
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 5px
}

@media (min-width: 1025px) {
  .lg-outer .lg-thumb-item {
    -webkit-transition: border-color .25s ease;
    -o-transition: border-color .25s ease;
    transition: border-color .25s ease
  }
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #a90707
}

.lg-outer .lg-thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.lg-outer.lg-has-thumb .lg-item {
  padding-bottom: 120px
}

.lg-outer.lg-can-toggle .lg-item {
  padding-bottom: 0
}

.lg-outer.lg-pull-caption-up .lg-sub-html {
  -webkit-transition: bottom .25s ease;
  -o-transition: bottom .25s ease;
  transition: bottom .25s ease
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
  bottom: 100px
}

.lg-outer .lg-toogle-thumb {
  background-color: #0d0a0a;
  border-radius: 2px 2px 0 0;
  color: #999;
  cursor: pointer;
  font-size: 24px;
  height: 39px;
  line-height: 27px;
  padding: 5px 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -39px;
  width: 50px
}

.lg-outer .lg-toogle-thumb:after {
  content: "\e1ff"
}

.lg-outer .lg-toogle-thumb:hover {
  color: #fff
}

.lg-outer .lg-video-cont {
  display: inline-block;
  vertical-align: middle;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 0 5px
}

.lg-outer .lg-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative
}

.lg-outer .lg-video .lg-object {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important
}

.lg-outer .lg-video .lg-video-play {
  width: 84px;
  height: 59px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -42px;
  margin-top: -30px;
  z-index: 1080;
  cursor: pointer
}

.lg-outer .lg-has-iframe .lg-video {
  -webkit-overflow-scrolling: touch;
  overflow: auto
}

.lg-outer .lg-has-vimeo .lg-video-play {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/vimeo-play.png) no-repeat scroll 0 0 transparent
}

.lg-outer .lg-has-vimeo:hover .lg-video-play {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/vimeo-play.png) no-repeat scroll 0 -58px transparent
}

.lg-outer .lg-has-html5 .lg-video-play {
  background: transparent url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/video-play.png) no-repeat scroll 0 0;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  width: 64px;
  opacity: .8
}

.lg-outer .lg-has-html5:hover .lg-video-play {
  opacity: 1
}

.lg-outer .lg-has-youtube .lg-video-play {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/youtube-play.png) no-repeat scroll 0 0 transparent
}

.lg-outer .lg-has-youtube:hover .lg-video-play {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/youtube-play.png) no-repeat scroll 0 -60px transparent
}

.lg-outer .lg-video-object {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0
}

.lg-outer .lg-has-video .lg-video-object {
  visibility: hidden
}

.lg-outer .lg-has-video.lg-video-playing .lg-object, .lg-outer .lg-has-video.lg-video-playing .lg-video-play {
  display: none
}

.lg-outer .lg-has-video.lg-video-playing .lg-video-object {
  visibility: visible
}

.lg-progress-bar {
  background-color: #333;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1083;
  opacity: 0;
  -webkit-transition: opacity .08s ease 0s;
  -moz-transition: opacity .08s ease 0s;
  -o-transition: opacity .08s ease 0s;
  transition: opacity .08s ease 0s
}

.lg-progress-bar .lg-progress {
  background-color: #a90707;
  height: 5px;
  width: 0
}

.lg-progress-bar.lg-start .lg-progress {
  width: 100%
}

.lg-show-autoplay .lg-progress-bar {
  opacity: 1
}

.lg-autoplay-button:after {
  content: "\e01d"
}

.lg-show-autoplay .lg-autoplay-button:after {
  content: "\e01a"
}

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap, .lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image {
  -webkit-transition-duration: 0s;
  transition-duration: 0s
}

.lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s;
  -moz-transition: -moz-transform .3s cubic-bezier(0, 0, .25, 1) 0s;
  -o-transition: -o-transform .3s cubic-bezier(0, 0, .25, 1) 0s;
  transition: transform .3s cubic-bezier(0, 0, .25, 1) 0s
}

.lg-outer.lg-use-left-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  -webkit-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
  -moz-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
  -o-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
  transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s !important;
  -moz-transition: -moz-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s !important;
  -o-transition: -o-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s !important;
  transition: transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s !important;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden
}

#lg-zoom-in:after {
  content: "\e311"
}

#lg-actual-size {
  font-size: 20px
}

#lg-actual-size:after {
  content: "\e033"
}

#lg-zoom-out {
  opacity: .5;
  pointer-events: none
}

#lg-zoom-out:after {
  content: "\e312"
}

.lg-zoomed #lg-zoom-out {
  opacity: 1;
  pointer-events: auto
}

.lg-outer .lg-pager-outer {
  bottom: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1080;
  height: 10px
}

.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont {
  overflow: visible
}

.lg-outer .lg-pager-cont {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin: 0 5px
}

.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.lg-outer .lg-pager-cont.lg-pager-active .lg-pager {
  box-shadow: 0 0 0 2px #fff inset
}

.lg-outer .lg-pager-thumb-cont {
  background-color: #fff;
  color: #fff;
  bottom: 100%;
  height: 83px;
  left: 0;
  margin-bottom: 20px;
  margin-left: -60px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  width: 120px;
  border-radius: 3px;
  -webkit-transition: opacity .15s ease 0s, -webkit-transform .15s ease 0s;
  -moz-transition: opacity .15s ease 0s, -moz-transform .15s ease 0s;
  -o-transition: opacity .15s ease 0s, -o-transform .15s ease 0s;
  transition: opacity .15s ease 0s, transform .15s ease 0s;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0)
}

.lg-outer .lg-pager-thumb-cont img {
  width: 100%;
  height: 100%
}

.lg-outer .lg-pager {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, .7) inset;
  display: block;
  height: 12px;
  -webkit-transition: box-shadow .3s ease 0s;
  -o-transition: box-shadow .3s ease 0s;
  transition: box-shadow .3s ease 0s;
  width: 12px
}

.lg-outer .lg-pager:hover, .lg-outer .lg-pager:focus {
  box-shadow: 0 0 0 8px #fff inset
}

.lg-outer .lg-caret {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px dashed;
  bottom: -10px;
  display: inline-block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  vertical-align: middle;
  width: 0
}

.lg-fullscreen:after {
  content: "\e20c"
}

.lg-fullscreen-on .lg-fullscreen:after {
  content: "\e20d"
}

.lg-outer #lg-dropdown-overlay {
  background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1081;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear .18s, opacity .18s linear 0s;
  -o-transition: visibility 0s linear .18s, opacity .18s linear 0s;
  transition: visibility 0s linear .18s, opacity .18s linear 0s
}

.lg-outer.lg-dropdown-active .lg-dropdown, .lg-outer.lg-dropdown-active #lg-dropdown-overlay {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  opacity: 1;
  visibility: visible
}

.lg-outer.lg-dropdown-active #lg-share {
  color: #fff
}

.lg-outer .lg-dropdown {
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  -webkit-transition: -webkit-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
  -moz-transition: -moz-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
  -o-transition: -o-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
  transition: transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s
}

.lg-outer .lg-dropdown:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  right: 16px;
  top: -16px
}

.lg-outer .lg-dropdown > li:last-child {
  margin-bottom: 0
}

.lg-outer .lg-dropdown > li:hover a, .lg-outer .lg-dropdown > li:hover .lg-icon {
  color: #333
}

.lg-outer .lg-dropdown a {
  color: #333;
  display: block;
  white-space: pre;
  padding: 4px 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px
}

.lg-outer .lg-dropdown a:hover {
  background-color: rgba(0, 0, 0, .07)
}

.lg-outer .lg-dropdown .lg-dropdown-text {
  display: inline-block;
  line-height: 1;
  margin-top: -3px;
  vertical-align: middle
}

.lg-outer .lg-dropdown .lg-icon {
  color: #333;
  display: inline-block;
  float: none;
  font-size: 20px;
  height: auto;
  line-height: 1;
  margin-right: 8px;
  padding: 0;
  vertical-align: middle;
  width: auto
}

.lg-outer #lg-share {
  position: relative
}

.lg-outer #lg-share:after {
  content: "\e80d"
}

.lg-outer #lg-share-facebook .lg-icon {
  color: #3b5998
}

.lg-outer #lg-share-facebook .lg-icon:after {
  content: "\e901"
}

.lg-outer #lg-share-twitter .lg-icon {
  color: #00aced
}

.lg-outer #lg-share-twitter .lg-icon:after {
  content: "\e904"
}

.lg-outer #lg-share-googleplus .lg-icon {
  color: #dd4b39
}

.lg-outer #lg-share-googleplus .lg-icon:after {
  content: "\e902"
}

.lg-outer #lg-share-pinterest .lg-icon {
  color: #cb2027
}

.lg-outer #lg-share-pinterest .lg-icon:after {
  content: "\e903"
}

.lg-group:after {
  content: "";
  display: table;
  clear: both
}

.lg-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity .15s ease 0s;
  -o-transition: opacity .15s ease 0s;
  transition: opacity .15s ease 0s
}

.lg-outer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.lg-outer.lg-visible {
  opacity: 1
}

.lg-outer.lg-css3 .lg-item.lg-prev-slide, .lg-outer.lg-css3 .lg-item.lg-next-slide, .lg-outer.lg-css3 .lg-item.lg-current {
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important
}

.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-current {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
  opacity: 1
}

.lg-outer.lg-grab img.lg-object {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab
}

.lg-outer.lg-grabbing img.lg-object {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing
}

.lg-outer .lg {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%
}

.lg-outer .lg-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap
}

.lg-outer .lg-item {
  background: url(https://www.homecb.com/sites/all/modules/custom/listing_marketing_system/img/loading.gif) no-repeat scroll center center transparent;
  display: none !important
}

.lg-outer.lg-css3 .lg-prev-slide, .lg-outer.lg-css3 .lg-current, .lg-outer.lg-css3 .lg-next-slide {
  display: inline-block !important
}

.lg-outer.lg-css .lg-current {
  display: inline-block !important
}

.lg-outer .lg-item, .lg-outer .lg-img-wrap {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%
}

.lg-outer .lg-item:before, .lg-outer .lg-img-wrap:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px
}

.lg-outer .lg-img-wrap {
  position: absolute;
  padding: 0 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.lg-outer .lg-item.lg-complete {
  background-image: none
}

.lg-outer .lg-item.lg-current {
  z-index: 1060
}

.lg-outer .lg-image {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important
}

.lg-outer.lg-show-after-load .lg-item .lg-object, .lg-outer.lg-show-after-load .lg-item .lg-video-play {
  opacity: 0;
  -webkit-transition: opacity .15s ease 0s;
  -o-transition: opacity .15s ease 0s;
  transition: opacity .15s ease 0s
}

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object, .lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play {
  opacity: 1
}

.lg-outer .lg-empty-html {
  display: none
}

.lg-outer.lg-hide-download #lg-download {
  display: none
}

.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity .15s ease 0s;
  -o-transition: opacity .15s ease 0s;
  transition: opacity .15s ease 0s
}

.lg-backdrop.in {
  opacity: 1
}

.lg-css3.lg-no-trans .lg-prev-slide, .lg-css3.lg-no-trans .lg-next-slide, .lg-css3.lg-no-trans .lg-current {
  -webkit-transition: none 0s ease 0s !important;
  -moz-transition: none 0s ease 0s !important;
  -o-transition: none 0s ease 0s !important;
  transition: none 0s ease 0s !important
}

.lg-css3.lg-use-css3 .lg-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden
}

.lg-css3.lg-use-left .lg-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden
}

.lg-css3.lg-fade .lg-item {
  opacity: 0
}

.lg-css3.lg-fade .lg-item.lg-current {
  opacity: 1
}

.lg-css3.lg-fade .lg-item.lg-prev-slide, .lg-css3.lg-fade .lg-item.lg-next-slide, .lg-css3.lg-fade .lg-item.lg-current {
  -webkit-transition: opacity .1s ease 0s;
  -moz-transition: opacity .1s ease 0s;
  -o-transition: opacity .1s ease 0s;
  transition: opacity .1s ease 0s
}

.lg-css3.lg-slide.lg-use-css3 .lg-item {
  opacity: 0
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0)
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s
}

.lg-css3.lg-slide.lg-use-left .lg-item {
  opacity: 0;
  position: absolute;
  left: 0
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
  left: -100%
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide {
  left: 100%
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  left: 0;
  opacity: 1
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  -webkit-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  -moz-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  -o-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
  transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s
}

.photos-gallery .gallery-image-no0 {
  width: 100% !important;
  margin: 0 0 32px !important;
  border: none !important
}

.photos-gallery .gallery-image-no1, .photos-gallery .gallery-image-no2 {
  width: 49% !important;
  display: inline-block
}

.photos-gallery .gallery-image-no3, .photos-gallery .gallery-image-no4, .photos-gallery .gallery-image-no5 {
  width: 32% !important;
  display: inline-block;
  margin-top: 32px
}

.photos-gallery .gallery-image-no1 {
  margin-left: -10px !important;
  margin-right: 13px !important
}

.photos-gallery .gallery-image-no2 {
  margin-right: -10px !important;
  margin-left: 12px !important
}

.photos-gallery .gallery-image-no3 {
  margin-left: -17px;
  margin-right: 12px
}

.photos-gallery .gallery-image-no4 {
  margin-left: 12px;
  margin-right: 12px
}

.photos-gallery .gallery-image-no5 {
  margin-left: 12px;
  margin-right: -15px
}

.gallery-head {
  text-align: left;
  margin: 24px 0
}

.gallery-head .gallery-title {
  color: #000;
  font-family: Roboto-Bold;
  font-size: 24px;
  line-height: 32px
}

.web-listing-bar {
  height: 48px
}

.more-photos-link {
  margin-top: 42px
}

.more-photos-link .view-more-photo-gallery {
  color: #14171a;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  font-family: Roboto-Medium
}

.more-photos-link .view-more-photo-gallery:hover, .more-photos-link .view-more-photo-gallery:active {
  color: #fff;
  background: #14171a
}

.lg-sub-html h4.photo_caption {
  color: #fff;
  font-family: Roboto-Regular;
  width: 1004px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, .45) !important
}

.lg-sub-html {
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0 40px
}

.lg-outer .lg-thumb-item, .lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border: none;
  border-radius: 0
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, .9) !important
}

.lg-outer .lg-toogle-thumb, .lg-actions .lg-next, .lg-actions .lg-prev, .lg-toolbar, .lg-thumb-outer {
  background-color: rgba(0, 0, 0, 0) !important
}

.lg-actions .lg-prev:after {
  content: "\f104";
  font-family: FontAwesome
}

.lg-actions .lg-next:before {
  content: "\f105";
  font-family: FontAwesome
}

#mobile-photo-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 999999
}

#mobile-photo-overlay .mobile-photo {
  overflow: scroll;
  text-align: center;
  height: 100%
}

#mobile-photo-overlay .mobile-photo img {
  margin-bottom: 15px
}

#mobile-photo-overlay .mobile-photo-top {
  background: #000;
  color: #fff;
  text-align: right;
  font-size: 45px;
  padding: 15px 15px 15px 0;
  cursor: pointer
}

#mobile-photo-overlay .mobile-photo-bottom {
  background: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 10px 0 25px;
  cursor: pointer
}

.header-decorative-bar {
  border-top: 4px solid #3989c9;
  width: 64px
}

.global_luxury .header-decorative-bar {
  border-top: 4px solid #3bcbe0;
  width: 64px
}

.global_luxury .gallery-head {
  margin: 40px 0 16px
}

#listing-videos .listing-video {
  text-align: center;
  margin: 0 !important
}

.listing-video video {
  width: auto !important
}

.web-listing-document ul {
  margin: 0;
  padding: 0;
  text-align: left
}

.web-listing-document ul li {
  display: inline-block;
  width: 170px;
  text-align: center;
  margin: 10px 0;
  vertical-align: top
}

.web-listing-document .document-label {
  padding-top: 10px;
  font-size: 16px;
  font-family: Roboto-Regular;
  color: #2a2f34
}

.web-listing-document .document-icon img {
  width: 50px;
  height: 50px
}

.cbone-checkbox + label:before {
  content: "\00a0";
  height: 17px;
  width: 17px;
  border: 1px solid #e1e8ed;
  display: inline-block;
  margin-right: 8px;
  font: 16px/1em sans-serif;
  border-radius: 2px;
  color: #fff
}

.cbone-checkbox:hover + label:before {
  border: 1px solid #1f69ff
}

.cbone-checkbox.error + label:before {
  border: 1px solid #ff2f2f
}

.cbone-checkbox:disabled + label:before {
  color: #e1e8ed;
  background: #e1e8ed;
  border: 1px solid #657786
}

.cbone-checkbox.form-checkbox {
  display: none
}

.cbone-checkbox:checked + label:before {
  background: #1f69ff;
  text-align: center;
  color: #fff;
  content: "\2713";
  border: 1px solid #1f69ff
}

.cbone-radio .form-type-radio {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.cbone-radio .form-type-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer
}

.radiobtn {
  position: absolute;
  top: 4px;
  left: 2px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 50%;
  cursor: pointer
}

.cbone-radio .form-type-radio:hover input + label .radiobtn {
  border: 1px solid #1f69ff
}

.cbone-radio .form-type-radio input.error + label .radiobtn {
  border: 1px solid #ff2f2f
}

.cbone-radio .form-type-radio input:disabled + label .radiobtn {
  color: #e1e8ed;
  background: #e1e8ed;
  border: 1px solid #657786
}

.cbone-radio .form-type-radio input:checked + label .radiobtn {
  background-color: #1f69ff;
  border: 1px solid #1f69ff
}

.radiobtn:after {
  content: "";
  position: absolute;
  display: none
}

.cbone-radio .form-type-radio input:checked + label .radiobtn:after {
  display: block
}

.cbone-radio .form-type-radio .radiobtn:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%
}

.document-section {
  margin-bottom: 50px
}

.document-section .document-title {
  color: #2a2f34;
  font-family: Roboto-Bold;
  font-size: 24px !important;
  padding: 50px 0 20px !important
}

.document-section .document-content, .document-section .document-disclaimer {
  color: #2a2f34;
  font-family: Roboto-Regular;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500
}

#listing-document-download-form .document-download-first, #listing-document-download-form .document-download-second {
  display: block;
  width: 100%;
  vertical-align: top
}

.document-download-second .select-documents {
  margin-bottom: 15px;
  font-family: Roboto-Bold;
  color: #2a2f34;
  font-weight: 400
}

#listing-document-download-form .form-text {
  width: auto;
  height: 36px;
  font-family: Roboto-Regular;
  color: #2a2f34;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  background: #fff
}

#listing-document-download-form .form-text:focus {
  border: 1px solid #1f69ff
}

#listing-document-download-form .form-text.error {
  border: 1px solid #ff2f2f
}

#listing-document-download-form .form-type-textfield, #listing-document-download-form .form-type-radios {
  margin-top: 0;
  margin-bottom: 30px
}

#listing-document-download-form .form-type-textfield label {
  color: #2a2f34;
  font-family: Roboto-Bold;
  font-size: 12px;
  text-transform: uppercase
}

#listing-document-download-form .form-radios .form-item-agent-status {
  float: none
}

#listing-document-download-form .form-item-agent-status {
  margin-left: 0;
  font-family: Roboto-Regular;
  color: #2a2f34
}

#listing-document-download-form .form-item-agent-status label {
  font-weight: 400
}

#listing-document-download-form .document-download-submit {
  text-align: left;
  margin: 50px 0
}

.page-listing-document-download .container {
  width: 100% !important;
  padding: 0 !important
}

.page-listing-document-download .spw-agent-strip.hideonmobile, .page-listing-document-download #admin-menu, .node-type-lms-listing #admin-menu {
  display: none !important
}

.document-section .document-title, .document-section .document-content, .document-section .document-disclaimer, #listing-document-download-form {
  margin-left: 50px !important;
  margin-right: 10px
}

#listing-document-download-form .document-download-submit .form-submit {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  border: 0;
  padding: 0 16px;
  border-radius: 5px;
  background: #1f69ff;
  height: 40px
}

#listing-document-download-form .document-download-submit .form-submit:hover {
  background: #004de6
}

#listing-document-download-form .document-download-submit .form-submit:active {
  background: #122455
}

.global_luxury #listing-document-download-form .document-download-submit .form-submit {
  background: #14171a;
  border: 1px solid #14171a;
  color: #fff
}

.global_luxury #listing-document-download-form .document-download-submit .form-submit:hover {
  background: #fff;
  color: #14171a;
  border: 1px solid #14171a
}

.global_luxury #listing-document-download-form .document-download-submit .form-submit:active {
  background: #657786;
  color: #fff;
  border: 1px solid #657786
}

#listing-document-download-form .form-type-checkboxes label:not(.option) {
  color: #2a2f34;
  font-family: Roboto-Bold
}

.map-tooltip {
  width: 100%;
  padding: 10px;
  line-height: 30px
}

.map-tooltip .lc-address {
  font-family: Roboto;
  font-variant-ligatures: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0
}

.map-tooltip .lc-price {
  font-family: Roboto;
  font-variant-ligatures: none;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0
}

.contact_agent_btns li {
  list-style: none
}

#listing-document-download-form input::placeholder {
  color: #2a2f34;
  opacity: .6
}

#listing-document-download-form .document-download-second .form-type-checkboxes {
  margin-left: 0 !important
}

#listing-document-download-form .form-radios {
  margin-left: 15px
}

#listing-document-download-form input[type=text]:disabled {
  border: 1px solid #e1e8ed;
  color: #2a2f34;
  opacity: .5
}

.contact_agent_btns .contact-close {
  padding: 8px 33px;
  border-radius: 5px;
  width: 115px;
  font-size: 14px
}

.contact_agent_btns .contact-close:hover {
  background: #004de6;
  color: #fff
}

.contact_agent_btns .contact-close:active {
  background: #122455;
  color: #fff
}

.contact_agent_btns .contact-close:hover span {
  color: #fff
}

.contact_agent_btns .contact-close:active span {
  color: #fff
}

.global_luxury .contact_agent_btns .contact-close:hover {
  background: #fff;
  color: #14171a;
  border: 1px solid #14171a
}

.global_luxury .contact_agent_btns .contact-close:active {
  background: #657786;
  color: #fff;
  border: 1px solid #14171a
}

.global_luxury .contact_agent_btns .contact-close:hover span {
  color: #14171a
}

.global_luxury .contact_agent_btns .contact-close span {
  color: #14171a
}

.global_luxury .contact_agent_btns .contact-close:active span {
  color: #fff
}

.directions-links {
  padding-left: 0;
  padding-bottom: 25px;
  color: #2a2f34;
  position: relative
}

.lc-open-house .open-house-title {
  font-family: Roboto-Regular;
  font-size: 28px;
  display: inline-block;
  color: #f80
}

.lc-open-house .open-house-link {
  font-family: Roboto-Medium;
  font-size: 14px;
  display: inline-block;
  color: #1f69ff;
  cursor: pointer
}

.open-house-link span.open-arrow:before {
  content: "\f107";
  font-family: FontAwesome
}

.open-house-link span.close-arrow:before {
  content: "\f106";
  font-family: FontAwesome
}

.open-house-dates-modal {
  background: #fff;
  width: 450px;
  padding: 10px;
  text-align: left;
  display: none;
  position: absolute;
  font-family: Roboto-Regular;
  z-index: 9999999;
  border-top: 3px solid #f80;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2)
}

.open-house-dates-modal h3 .house-title {
  font-family: Roboto-Medium
}

.open-house-dates-modal .house-title {
  font-size: 16px;
  padding-bottom: 5px;
  font-family: Roboto-Bold
}

.open-house-dates-modal .open-type {
  font-size: 16px;
  padding: 10px 0;
  font-family: Roboto-Bold
}

.open-house-dates-modal .house-date {
  font-size: 16px;
  font-family: Roboto-Regular
}

.open-house-dates-modal .house-address-direction {
  padding: 15px 0 10px
}

.open-house-dates-modal .house-address-direction a, .open-house-dates-modal .house-address-direction a:hover, .open-house-dates-modal .house-address-direction a:active {
  font-size: 14px;
  font-family: Roboto-Medium;
  color: #1f69ff;
  text-decoration: none
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .photos-gallery .gallery-image-no0, .photos-gallery .gallery-image-no1, .photos-gallery .gallery-image-no2, .photos-gallery .gallery-image-no3 {
    display: block;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 0 0 16px !important
  }

  .photos-gallery .gallery-image-no4, .photos-gallery .gallery-image-no5 {
    display: none !important
  }

  .web-listing-bar {
    height: 32px !important
  }

  .more-photos-link {
    margin-top: 26px
  }

  .listing-video video {
    width: 100% !important
  }

  .web-listing-document ul {
    text-align: left
  }

  .web-listing-document ul li {
    width: 110px;
    padding: 0 10px;
    text-align: left;
    margin: 10px 0
  }

  .web-listing-document ul li .document-icon {
    text-align: center
  }

  .web-listing-document ul li .document-label {
    text-align: center
  }

  .global_luxury .gallery-head {
    margin: 24px 0 16px
  }

  .listing-video iframe {
    width: 100% !important;
    height: 30vh !important
  }

  #listing-document-download-form .form-text {
    width: 90%
  }

  .document-section .document-title, .document-section .document-content, .document-section .document-disclaimer, #listing-document-download-form {
    margin-left: 30px !important
  }

  #image_popup, #image_popup iframe {
    width: 100% !important
  }

  .open-house-dates-modal {
    width: 95%
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .photos-gallery .gallery-image-no0 {
    display: block;
    width: 100% !important;
    margin: 0 0 32px !important
  }

  .photos-gallery .gallery-image-no1, .photos-gallery .gallery-image-no2, .photos-gallery .gallery-image-no3, .photos-gallery .gallery-image-no4 {
    display: inline-block !important;
    width: 49% !important;
    margin: 0 0 32px !important
  }

  .photos-gallery .gallery-image-no5 {
    display: none !important
  }

  .photos-gallery .gallery-image-no1, .photos-gallery .gallery-image-no3 {
    margin-left: -10px !important;
    margin-right: 8px !important
  }

  .photos-gallery .gallery-image-no2, .photos-gallery .gallery-image-no4 {
    margin-right: -10px !important;
    margin-left: 8px !important
  }

  .more-photos-link {
    margin-top: 10px
  }

  #mobile-photo-overlay {
    display: none
  }

  .listing-video video {
    width: auto !important
  }

  .web-listing-document ul {
    text-align: left
  }

  .web-listing-document ul li {
    width: 166px;
    padding: 0 10px;
    text-align: left;
    margin: 10px 0
  }

  .web-listing-document ul li .document-icon {
    text-align: center
  }

  .web-listing-document ul li .document-label {
    text-align: center
  }

  .listing-video iframe {
    width: 100% !important;
    height: 40vh !important
  }

  #image_popup, #image_popup iframe {
    width: 100% !important
  }
}

.toggle-menu-items span:after {
  content: "\e070";
  font-family: 'lg'
}

.toggle-menu-items {
  line-height: 32px !important
}

.spw-contact-agent button, .footer_contact_btn button {
  margin-right: 20px !important
  !
}
