<ng-container *ngIf="product">
  <div class="row mb-2">
    <div class="col-6">

      <button *ngIf="!loaded" class="btn btn-primary" type="button" disabled>
        <span class="fa fa-spinner" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button *ngIf="loaded" id="print-preview-apply-changes" class="btn btn-primary text-align-left" (click)="applyChanges()">Apply Changes</button>
    </div>
    <div class="col-6 clearfix">
      <button *ngIf="downloadable && loaded" id="print-preview-download" class="btn btn-link float-right" type="button" (click)="download()"><strong>Download</strong></button>
    </div>
  </div>
  <div class="pdf-preview flex-grow-1">
    <iframe *ngIf="mimeType == 'application/pdf' && previewUrl" id="print-preview-content" [src]="previewUrl" ></iframe>
    <iframe *ngIf="mimeType == 'text/html' && text" id="print-preview-content" [srcdoc]="text" ></iframe>
  </div>
</ng-container>
