<label [id]="idPrefix + '-label'" class="form-label">{{label}}</label>
<textarea [id]="idPrefix + '-input'" type="text" class="form-control" [placeholder]="placeholder" [formControl]="formControl" [class.is-invalid]="errors" (blur)="onBlur()"></textarea>
<small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
