<div class="layout-wrapper layout-1 layout-without-sidenav" [ngClass]="{'layout-loading': !initialized}">
  <div class="layout-inner bg-white">
    <lc-app-layout-navbar [sidenavToggle]="false"></lc-app-layout-navbar>

    <div class="layout-container py-0">
      <div class="layout-content">
        <div class="flex-grow-1">
          <router-outlet></router-outlet>
        </div>
        <hr class="m-0">
        <lc-app-layout-footer></lc-app-layout-footer>
      </div>
    </div>
  </div>
</div>
