<ngb-tabset (tabChange)="tabChange($event)" class="previewtabset" [activeId]="activeId">
  <ng-container *ngFor="let navLink of navLinks">
    <ngb-tab title="{{navLink.label}}" id="{{navLink.id}}">
    </ngb-tab>
  </ng-container>
</ngb-tabset>
<div class="move-section-up">
  <router-outlet></router-outlet>
</div>

