<label [id]="idPrefix + '-label'" class="form-label" [for]="idPrefix + '-input'">{{label}}</label>

<select [id]="idPrefix + '-input'" class="form-control text-capitalize" [formControl]="formControl" (blur)="onBlur()" [class.is-invalid]="errors" >
  <option *ngIf="emptyOptionDisplay" [value]="emptyOptionValue" disabled>{{emptyOptionDisplay}}</option>
  <option [value]="valuePath ? option[valuePath] : option" *ngFor="let option of options" [disabled]="option.disabled">
    {{ displayPath ? option[displayPath] : option }}
  </option>
</select>

<!-- <input [id]="idPrefix + '-input'" class="form-control" [placeholder]="placeholder" type="text" [mask]="inputMask?.mask" [patterns]="inputMask?.pattern" [formControl]="formControl" > -->
<small [id]="idPrefix + '-error'" [innerHTML]="errors || '&nbsp;'" class="invalid-feedback d-block"></small>
