<ng-container class="my-profile-content container" *ngIf="profile$ | async as profile" >
  <div class="my-profile-content container" *ngIf="form">
    <h4 id="header">My Profile</h4>
    <lc-avatar-image
      [src]="profile?.presignedPhotoUrl || 'assets/images/user.png'"
      canEdit="true" (edit)="onEditPhoto(profile)"></lc-avatar-image>

    <div class="row">
      <lc-textbox class="col-12 col-md-6" idPrefix="firstName" label="First Name" [formControl]="form.get('preferredFirstName')"></lc-textbox>
      <lc-textbox class="col-12 col-md-6" idPrefix="lastName" label="Last Name" [formControl]="form.get('preferredLastName')"></lc-textbox>
    </div>

    <div class="row">
      <lc-textbox class="col-12 col-md-6" idPrefix="email" label="Email" [formControl]="form.get('preferredEmail')"></lc-textbox>
      <div class="col-12 col-md-6" *ngIf="phoneNumber">
        <lc-textbox idPrefix="phone" label="Phone" [inputMask]="phoneMask" [formControl]="phoneNumber.get('number')"></lc-textbox>
      </div>
    </div>

    <div class="text-right">
      <button id="profile-cancel" type="button" class="btn btn-default mr-2" (click)="onCancel(profile)">Cancel</button>
      <button id="profile-submit" type="submit" class="btn btn-outline-dark btn-primary" (click)="onSubmit(form)">Update Profile</button>
    </div>
  </div>
</ng-container>
