<div [formGroup]="form" class="container">
    <h1 class="text-center">Create a new Team</h1>

    <lc-textbox idPrefix="team-name" label="Team Name" formControlName="name"></lc-textbox>
    <lc-textbox idPrefix="office-name" label="Office Name"></lc-textbox>

    <div class="row">
      <div formGroupName="phone" class="col">
        <lc-textbox idPrefix="phone" label="Phone" formControlName="number"  [inputMask]="phoneMask" placeholder="000.000.0000"></lc-textbox>
      </div>
      <lc-textbox idPrefix="website" class="col" label="Website" formControlName="websiteURL"></lc-textbox>
    </div>

    <lc-textbox idPrefix="email" label="Email" formControlName="email"></lc-textbox>

    <lc-chips idPrefix="members" label="Members" [options]="memberSearch$" displayPath="fullName" valuePath="fullName"
      (textChange)="searchControl.setValue($event)" emptyPlaceholder="Add new members" placeholder="Add member"></lc-chips>

    <lc-textarea idPrefix="slogan" label="Slogan" formControlName="slogan"></lc-textarea>


    <div class="mt-2">
    <lc-team-image
      [src]="form.get('teamPhoto.photoUrl').value || 'assets/images/team.png'"
      canEdit="true" (edit)="onEditPhoto()"></lc-team-image>
    </div>

    <!--Submit/Cancel Buttons-->
    <div class="mt-5">
      <button id="create-team" class="btn btn-primary float-right" (click)="onSubmit()">Create Team</button>
    </div>
  </div>
