.container {
  max-width: 800px;
}

#edit-image-button {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: -12px;
  margin-bottom: -12px;
  cursor: pointer;
}
