<label [id]="idPrefix + '-label'" class="custom-control custom-checkbox">
  <input [id]="idPrefix + '-checkbox'" type="checkbox" class="custom-control-input" [formControl]="formControl"/>
  <span [id]="idPrefix + '-label'" class="custom-control-label">{{label}}</span>
</label>
