<ng-container [formGroup]="formGroup">
  <div class="row">
    <lc-textbox class="col" idPrefix="address" label="Street" placeholder="Number and Street" formControlName="streetAddress1"></lc-textbox>
  </div>
  <div class="row mt-2">
    <lc-textbox class="col" idPrefix="unit-number" label="Unit Number (optional)" formControlName="unitNumber"></lc-textbox>
    <lc-textbox class="col" idPrefix="city" label="City" formControlName="city"></lc-textbox>
  </div>
  <div class="row mt-2">
    <lc-dropdown idPrefix="state" class="col" label="State" [options]="formGroup.states" displayPath="abbreviation" valuePath="abbreviation" formControlName="state" emptyOptionDisplay="Select State"></lc-dropdown>
    <lc-textbox idPrefix="zip" class="col" label="Zip Code" formControlName="postalCode"></lc-textbox>
  </div>
</ng-container>
