<ng-container *ngIf="photoOrder$ | async as photoOrder">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-6 col-lg-6">
        <h4 class="font-weight-bold">Photos & Multimedia</h4>
      </div>
    </div>
    <div class="row">
      <span class="font-weight-bold">Order:</span>
      <span>{{photoOrder.photoOrderId}}</span>
    </div>
    <div class="row">
      <span class="font-weight-bold">Address:</span>
      <a href="" onclick="window.history.back()">
        <span *ngIf="photoOrder.propertyAddress">
          {{photoOrder.propertyAddress.streetAddress1}}
          {{photoOrder.propertyAddress?.streetAddress2 ? ' - ' + photoOrder.propertyAddress?.streetAddress2 : ''}},
          {{photoOrder.propertyAddress.city}},
          {{photoOrder.propertyAddress.state}}
          {{photoOrder.propertyAddress.postalCode}}
        </span>
      </a>
    </div>
    <div class="row">
      <span class="font-weight-bold">Agent:</span>
      <span>{{photoOrder.agentName}}</span>
    </div>
    <div class="row" *ngIf="photoOrder.appointment">
      <span class="font-weight-bold">Appointment: </span>
      <span>{{photoOrder.appointment.scheduledAt | date:'short'}}</span>
    </div>
    <lc-tab-set [navLinks]="navLinks" [activeId]="activeId"></lc-tab-set>
  </div>
</ng-container>
