<div *ngIf="profile">
  <div class="row">
    <div class="col-12 mb-2">
      <h1>Addresses</h1>
    </div>
  </div>
  <div>
    <div class="row  mt-2 mb-2" >
      <div class="col-2">

      </div>
      <div class="col border-bottom border-light">
        <h4 id="form-header" class="text-capitalize" >{{addressType}} Address</h4>
        <lc-address-information-form [formGroup]="addressForm"></lc-address-information-form>

        <!-- Back/Next Button Container-->
        <div class="row">
          <div class="col-sm text-right">
            <button id="address-cancel" type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
            <button id="address-submit" type="button" class="btn btn-primary" [disabled]="!addressForm.valid"
                    (click)="onSave()">Save
            </button>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>
