<h4 class="font-weight-bold" id="page-title">Listing Details</h4>
Update your listing details
<form [formGroup]="detailsForm" *ngIf="(marketingOrder$ | async)?.listing as listing">
  <div class="row mt-3">
    <div class="col-12">
      <h5>Property Address</h5>
    </div>
  </div>
  <lc-address-details-form [formGroup]="addressForm" submitted="submitted"></lc-address-details-form>
  <lc-mls-info-form [formGroup]="propertyForm"></lc-mls-info-form>

  <div class="row mt-3">
    <div class="col-12">
      <h5>Property Information</h5>
    </div>
  </div>
  <lc-property-info-form [formGroup]="propertyForm"></lc-property-info-form>

  <div class="row border-top-secondary mt-5">
    <div class="col-sm text-right">
      <button id="listing-details-cancel" type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
      <button id="listing-details-submit" type="button" class="btn btn-primary" [disabled]="!detailsForm.valid"
              (click)="onSubmit(listing)">Save
      </button>
    </div>
  </div>
</form>
