<div class="px-3 row h-100">
  <!-- Column: Detail Steps - Display for lg and xl screens -->
  <div class="d-none d-lg-block col-lg-4 col-xl-3 pl-0">
    <div class="step-side-item h-100">
      <lc-detail-steps></lc-detail-steps>
    </div>
  </div>

  <!-- Column: Main Step Content -->
  <div class="col-lg-8 col-xl-6 mb-5 mb-lg-0 pt-4 row justify-content-center">

    <!--Main Step Content - Max width is set for large screens. Content is centered -->
    <div class="main-step-content d-flex flex-column col-12">
      <ng-content></ng-content>

      <!-- Border line-->
      <div class="border-bottom flex-grow-1 pt-4"></div>

      <!-- Back/Next Button Container-->
      <div class="row py-4 d-flex justify-content-around">

        <!--Back Button-->
        <button id="backBtn" class="btn btn-link text-primary text-big d-flex justify-items-center" (click)="onBack()">
          <div class="ion ion-ios-arrow-back text-large mr-2"></div>
          <span class="font-weight-bold">Back</span>
        </button>

        <!--Next Button-->
        <button id="nextBtn" class="btn btn-primary" [disabled]="!canClickNext" (click)="onNext()">{{nextButtonText}}</button>
      </div>
    </div>
  </div>

  <!-- Column: Show Summary - Display in last two columns onlyif displaying an XL Screen -->
  <div *ngIf="showSummary" class="d-none d-xl-inline-flex col-xl-3 pt-4 justify-content-end">
    <div class="step-side-item col-12">
      <lc-order-summary></lc-order-summary>
    </div>
  </div>
</div>
