.step-side-item {
  max-width: 400px;
}

.main-step-content {
  max-width: 600px;
}

.border-bottom {
  // Per LC-682 - Border needs to be darker
  border-bottom: 1px solid rgba(24, 28, 33, 0.25) !important
}
