<div class="page-wrapper bg-white">
  <div class="col-12 row justify-content-center" *ngIf="(marketingOrder$ | async) as marketingOrder">

    <div class="step-content">
      <div class="mt-5 mb-4">
        <h1>{{headerText}}</h1>
      </div>

      <h3>Listing Address</h3>
      <form (ngSubmit)="onSubmit(marketingOrder)">
        <lc-address-details-form [formGroup]="listingForm.get('address')"></lc-address-details-form>
        <lc-mls-info-form [formGroup]="listingForm"></lc-mls-info-form>
      </form>

      <!-- Border line-->
      <div class="border-bottom flex-grow-1 pt-4"></div>

      <!-- Back/Next Button Container-->
      <div class="row py-4 d-flex justify-content-around">

        <!--Back Button-->
        <div>
          <button *ngIf="canClickBack(marketingOrder)" class="btn btn-link text-primary text-big d-flex justify-items-center" (click)="onBack(marketingOrder)">
            <div class="ion ion-ios-arrow-back text-large mr-2"></div>
            <span class="font-weight-bold">Back</span>
          </button>
        </div>

        <!--Next Button-->
        <button id="nextBtn" class="btn btn-primary" (click)="onSubmit(marketingOrder)">Continue</button>
      </div>
    </div>
  </div>
</div>
