.step-content {
  max-width: 700px;
}

.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1 1 100%;
  width: 100%;
}

.lc-col-bm-16 {
  margin: 0 0 16px 0 !important;
}
