// Buttons
//

.btn {
  font-size: $input-btn-font-size;
}

// Babge within button
.btn .badge {
  @include transition($btn-transition);
}

label.btn {
  margin-bottom: 0;
}

// *******************************************************************************
// * Alternate buttons

@each $color, $value in $theme-colors {
  @if $color != primary {
    @include appwork-button-variant('.btn-#{$color}', $value);
    @include appwork-button-outline-variant('.btn-outline-#{$color}', $value);
  }
}

// Default button
@include appwork-button-variant('.btn-default', $btn-default-bg, $btn-default-color, $btn-default-border);\

// *******************************************************************************
// * Sizes

.btn-xl {
  @include button-size($input-btn-padding-y-xl, $input-btn-padding-x-xl, $input-btn-font-size-xl, $input-btn-line-height-xl, $btn-border-radius-xl);
}

.btn-lg {
  font-size: $input-btn-font-size-lg;
}

.btn-sm {
  font-size: $input-btn-font-size-sm;
}

.btn-xs {
  @include button-size($input-btn-padding-y-xs, $input-btn-padding-x-xs, $input-btn-font-size-xs, $input-btn-line-height-xs, $btn-border-radius-xs);
}

// *******************************************************************************
// * Round button

.btn-round {
  border-radius: 60rem !important;
}

// *******************************************************************************
// * Link buttons

.btn.btn-link {
  font-size: inherit;
}
