// Custom forms
//

// *******************************************************************************
// * Custom control

.custom-control {
  position: relative;
  min-height: $custom-control-indicator-size;
}

.custom-control-label {
  position: static;

  // Indicator
  &::before {
    top: px-to-rem(floor(rem-to-px(((($line-height-base * $font-size-base) - $custom-control-indicator-size) / 2))));
    left: 0;
    border: $custom-control-indicator-border-width solid $custom-control-indicator-border-color;
    background-color: $custom-control-indicator-bg;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s;
    pointer-events: auto;
  }

  &::after {
    content: '';
    position: absolute;
    top: px-to-rem(floor(rem-to-px(((($line-height-base * $font-size-base) - $custom-control-indicator-size) / 2))));
    left: 0;
    z-index: 1;
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    border-radius: 50%;
    background: rgba($black, .08);
    opacity: 0;
    transition: all .2s;
    transform-origin: center;
    transform: scale(0) translateZ(0);

  }
}

// Checkbox indicator
.custom-checkbox .custom-control-label::before {
  background-size: $custom-checkbox-indicator-bg-size;
}

.custom-checkbox .custom-control-input:indeterminate:not(:checked) ~ .custom-control-label::before {
  background-size: $custom-checkbox-indeterminate-bg-size;
}

// Radio indicator
.custom-radio .custom-control-label::before {
  background-size: $custom-radio-indicator-bg-size;
}

// Indicator states
.custom-control-label::before {
  .custom-control-input:active ~ & {
    box-shadow: none;
  }

  .custom-control-input:active:not(:checked) ~ & {
    background-color: $custom-control-indicator-bg;
  }

  .custom-control-input:disabled ~ &,
  fieldset[disabled] .custom-control-input ~ & {
    border-color: $custom-control-indicator-border-color !important;
    background-color: $custom-control-indicator-disabled-bg !important;
  }

  .custom-checkbox .custom-control-input:disabled:indeterminate ~ &,
  fieldset[disabled] .custom-control-input:indeterminate ~ & {
    background-image: url(str-replace(str-replace($custom-checkbox-indeterminate-bg, '_COLOR_', $custom-control-label-disabled-color), "#", "%23")) !important;
  }

  .custom-checkbox .custom-control-input:disabled:checked ~ &,
  fieldset[disabled] .custom-control-input:checked ~ & {
    background-image: url(str-replace(str-replace($custom-checkbox-indicator-bg, '_COLOR_', $custom-control-label-disabled-color), "#", "%23")) !important;
  }

  .custom-radio .custom-control-input:disabled:checked ~ &,
  fieldset[disabled] .custom-control-input:checked ~ & {
    background-image: url(str-replace(str-replace($custom-radio-indicator-bg, '_COLOR_', $custom-control-label-disabled-color), "#", "%23")) !important;
  }
}

.custom-controls-stacked .custom-control {
  display: block;
  margin-bottom: .5rem;
}

// *******************************************************************************
// * Custom select

.custom-select {
  display: block;
  background-image: $custom-select-indicator !important;
  background-clip: padding-box;
  transition: $input-transition;

  &[size="0"]:not([multiple]) {
    padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
  }
}

// Sizing
@include appwork-custom-select-size('sm', $custom-select-padding-y-sm, $custom-select-padding-x-sm, $input-height-sm, $font-size-sm, $line-height-sm);
@include appwork-custom-select-size('lg', $custom-select-padding-y-lg, $custom-select-padding-x-lg, $input-height-lg, $font-size-lg, $line-height-lg);

// Multiple select
//

.custom-select[class][multiple],
.custom-select[size]:not([size="1"]):not([size="0"]) {
  padding-right: $custom-select-padding-x !important;
  padding-left: $custom-select-padding-x !important;
  height: auto !important;
  background-image: none !important;
}

.custom-select-sm,
.input-group-sm .custom-select {
  &[class][multiple],
  &[size]:not([size="1"]):not([size="0"]) {
    padding-right: $custom-select-padding-x-sm !important;
    padding-left: $custom-select-padding-x-sm !important;
  }
}

.custom-select-lg,
.input-group-lg .custom-select {
  &[class][multiple],
  &[size]:not([size="1"]):not([size="0"]) {
    padding-right: $custom-select-padding-x-lg !important;
    padding-left: $custom-select-padding-x-lg !important;
  }
}
