// *******************************************************************************
// * Sizing

.form-control {
  min-height: $input-height;
}

// *******************************************************************************
// * Labels

.form-label {
  margin-bottom: if($input-btn-border-width != 0px, calc(#{$input-btn-padding-y} - #{$input-btn-border-width * 2}), $input-btn-padding-y);
  font-weight: $label-font-weight;
  font-size: $label-font-size;
}

// *******************************************************************************
// * Validation states

@include appwork-form-validation-state("valid", $form-feedback-valid-color);
@include appwork-form-validation-state("invalid", $form-feedback-invalid-color);
