// Navbar
//

.navbar {
  z-index: 2;
}

// IE fix
.navbar-collapse,
.navbar-brand {
  flex-shrink: 1;
}

// *******************************************************************************
// * Icons

.navbar-icon {
  font-size: 130%;
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);
  }
}
