<lc-step-content *ngIf="(currentListing$ | async) as listing" (next)="next(listing)" (back)="goBack()">
  <h1>Tell us about yourself</h1>
  <div class="row">
    <div class="col">
      <form *ngIf="form && (agentName$ | async) as agentName" [formGroup]="form">
        <lc-textbox label="Name" idPrefix="agent-name" [(ngModel)]="agentName" disabled [ngModelOptions]="{standalone: true}" hint="Your first and last name."></lc-textbox>
        <lc-card-options formControlName="agentType" label="Agent Type" [options]="agentDisplays" (hover)="updateInfoText($event)"></lc-card-options>

        <!-- Agent Info Hover Over Text-->
        <div id="info" class="row  align-items-center form-group alert alert-light" role="alert">
          <span class="ion ion-md-information-circle-outline text-large col-auto"></span>
          <span class="col" id="info-text">{{infoText}}</span>
        </div>

        <lc-agent-search *ngIf="form.get('agentType').value === twoAgents" max="1" label="Co-Lister"
          [formControl]="form.coListingAgent"
          [selectedIds]="selectedCoListerIds">
        </lc-agent-search>

      </form>
    </div>
  </div>
</lc-step-content>
