<div class="pt-5">
    <div class="container px-3" *ngIf="(marketingOrder$ | async) as marketingOrder">
      <div class="row row-bordered  no-gutters">
        <div class="col-3">
          <h2 class="pt-1 mb-3 mr-4 text-dark">
            Pick the perfect Package for your listing.
          </h2>
        </div>

        <div class="col-3 d-flex col-md flex-column  justify-content-end pb-4 ui-bordered" *ngFor="let pkg of marketingOrder?.availablePackages">
          <div id="{{ pkg.title }}" *ngIf="pkg.code == marketingOrder?.selectedPackageCode" class="row justify-content-center bg-primary mx-0 text-white py-1">
            Selected
          </div>
          <div class="row mx-0">
            <div>
              <img src="/assets/images/marketing-package/{{pkg.title.toLowerCase()}}_badge.svg"
              alt="{{pkg.title.toLowerCase()}} Badge">
            </div>
            <div class="row align-items-center pl-3">
              <div>
                <h4 class="m-0">{{ pkg.title }}</h4>
                <h2 class="m-0">{{pkg.price | currency:'USD'}}</h2>
              </div>
            </div>
          </div>

          <div class="m-2 row justify-content-center">
            <a href="javascript:void(0)" [id]="'order-' + pkg.title" class="btn btn-primary btn-lg w-100 py-1" (click)="marketingPackageSelected(marketingOrder, pkg)">
              {{ pkg.code == marketingOrder?.listing?.selectedPackageCode ? 'Continue order' : 'Order' }}
            </a>
          </div>

          <!-- We will iterate through the package products and show then in the table-->
        </div>
      </div>
      <lc-display-category-products *ngFor="let category of availableCategories; let i = index"
        [category]="category" [packages]="marketingOrder?.availablePackages" [rowStyle]=" (i%2) ? 'bg-secondary text-light' : ''"></lc-display-category-products>
      </div>
  </div>
