<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit Photo</h5>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="d-flex container-p-x card-header with-elements border-0 pr-0 pb-0">
      <h5 id="file-upload-filename" class="card-header-title"><b></b></h5>
      <h5 class="card-header-elements ml-auto">
        <a id="change-profile-image" style="float: right;color: rgb(15, 30, 228)" class="active cursor-pointer" (click)="fileInput.click()">
          <b>Change File</b> <input id="fileInput" type="file" (change)="fileChangeEvent($event)" #fileInput hidden/>
        </a>
      </h5>
    </div>

    <div *ngIf="aspectRatio">
        Aspect Ratio: &nbsp;
        <input type="radio" name="aspectRatio" value="2" [(ngModel)]="aspectRatio" /> 2:1 &nbsp;
        <input type="radio" name="aspectRatio" value="1.33" [(ngModel)]="aspectRatio" /> 4:3 &nbsp;
        <input type="radio" name="aspectRatio" value="1" [(ngModel)]="aspectRatio" /> 1:1 &nbsp;
        <input type="radio" name="aspectRatio" value=".67" [(ngModel)]="aspectRatio" /> 2:3 &nbsp;
    </div>
    <h6 style="color:red">{{ this.uploadError }}</h6>
    <div class="d-flex container-p-x" *ngIf="file">
      <div class="card-body col-7 align-items-center cropper-preview">

        <!-- TODO - aspect ratio and resize width? -->
        <image-cropper #cropper style="background-color:#e0e7ef"
                        [imageFileChanged]="file"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="(aspectRatio ? aspectRatio : 2 / 3)"
                        [resizeToWidth]="256" format="png" (imageCropped)="onImageCropped($event)"
                        (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <div style="border-left: 2px solid white" class=" cropper-preview ard-body text-center col-5 ">

        <p><b>Preview</b></p>
        <ng-container *ngIf="croppedImage">
          <div *ngFor="let size of cropSizes" class="text-center">
            <img [style.height]="size.height / (aspectRatio ? aspectRatio : 1) + 'px'" [style.width]="size.width + 'px'" [class.rounded-circle]="size.isRound" [src]="croppedImage"/><br>
            <small><b>{{size.name}}</b></small>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-danger mr-auto" *ngIf="canDelete" (click)="onDelete()">Delete</button>
    <button id="profile-image-cancel" class="btn btn-default" (click)="onClose()">Cancel</button>
    <button id="profile-image-update" class="btn btn-primary" (click)="onSubmit()">Apply</button>
  </div>
</div>
