@import "~nrt-common-ui/nrt-bootstrap-theme/theme-vars";

.circle-icon {
  background: white;
  padding:4px;
  border-radius: 50%;
  border: 1px solid black;
}

.cropper-preview{
  background-color:#d4dbe3;
  // These seem arbitrary... Lets not use set pixels if not neded
  // height: 290px;
  // width: 270px;
}

.rounded-circle {
  object-fit: cover;
  object-position: 100% 0;
  width: 100px;
  height: 100px;
}
