<ng-container *ngIf="photos$ | async as photos">
  <div class="row">
    <div class="col-sm-4 col-md-6 col-lg-6">
      <h5 class="font-weight-bold">Upload Photos</h5>
    </div>
    <div class="col-sm-4 col-md-6 col-lg-6">
      <button class="btn btn-primary float-right" *ngIf="productCode" (click)="refreshPhotos()">Update photos</button>
    </div>
  </div>
  <span *ngIf="productCode">Let's choose photos for the flyer</span>
  <div>
    <!-- TODO - pass listing to photo upload handler -->
    <lc-property-photo-upload (uploadResult)="uploadResult($event)"></lc-property-photo-upload>
    <lc-photo-grid [marketingOrder]="marketingOrder" [(photos)]="photos" (updatePhotos)="updatePhotos($event)" (updatePhoto)="updatePhoto($event)"></lc-photo-grid>
  </div>
</ng-container>
