<ng-container [formGroup]="formGroup">
  <div class="row mt-2">
    <lc-textbox class="col" idPrefix="mls-id" label="MLS ID (optional)" formControlName="mlsId"></lc-textbox>
  </div>
  <div class="row mt-2">
    <div class="col">
      <label class="custom-control custom-checkbox">
        <input id="listing-address-global-luxury-listing" class="custom-control-input" type="checkbox" formControlName="globalLuxuryListing">
        <span class="custom-control-label"> This is a Global Luxury Listing
        </span>
      </label>
    </div>
  </div>
</ng-container>
