<nav class="footer bg-white py-2">
  <div class="container d-flex flex-wrap align-items-center text-center pb-3">
    <div class="text-nowrap pt-3 mr-5">
      <a href="javascript:;" class="footer-text text-large font-weight-bolder">Listing Concierge</a>
    </div>
    <div>
      <a href="javascript:;" class="footer-link d-inline-block pt-3">Privacy Policy</a>
      <a href="javascript:;" class="footer-link d-inline-block pt-3 ml-4">Terms of Use</a>
    </div>
    <div class="pt-3 ml-md-auto">
      <a class="text-facebook text-big" href="javascript:;">
        <i class="ion ion-logo-facebook"></i>
      </a>
      &nbsp; &nbsp;
      <a class="text-twitter text-big" href="javascript:;">
        <i class="ion ion-logo-twitter"></i>
      </a>
      &nbsp; &nbsp;
      <a class="text-instagram text-big" href="javascript:;">
        <i class="ion ion-logo-instagram"></i>
      </a>
    </div>
  </div>

  <div class="container py-2">
    <div>&copy; 2018 - {{copyrightDate()}} NRT LLC</div>
  </div>
</nav>
